.c-search-filter {
  @include mq(mobileWide) {
    + .c-search-filter {
      margin-top: $spacing--medium;
    }
  }

  width: 100%;
  text-align: left;

  &--narrow-screen-only {
    @include mq(desktop) {
      display: none;
    }
  }

  @include mq(desktop) {
    padding: $spacing;
    background: $white;
    border: none;
    margin-bottom: $spacing--small;
  }

  &--context-filter {
    background: $brand-color--light;
    padding: $spacing--medium;
  }

  &:first-child {
    .c-filter__list {
      border-top: 0;
    }
  }

  @include mq($until: mobileWide) {
    margin-bottom: $spacing;

    .c-search-filter {
      label {
        padding-left: $spacing--large;
      }
    }

    .c-filter__item {
      width: 100%;
    }
  }

  @include mq($from: mobileWide, $until: desktop) {
    .c-search-filter {
      + .c-filter__item {
        margin-top: $spacing;
      }

      .c-filter__item-wrapper {
        padding-left: $spacing;
        padding-top: $spacing--small;
      }
    }
  }

  @include mq(568px) {
    .c-search-filter .c-filter__item {
      width: 235px - $spacing;
    }
  }
}
