.c-search-field {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: center;

  @include mq(desktop) {
    &--has-search-result {
      .c-search-field {
        &__input {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &__filters {
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .c-search-field__search-result {
      padding-bottom: $spacing--large + $spacing;
    }
    &--input-has-focus {
      .c-search-field__search-result {
        @supports (-webkit-overflow-scrolling: touch) {
          padding-bottom: 300px;
        }
      }
    }
  }

  &--no-left-margin {
    margin-left: 0 !important;
  }

  &__filters {
    display: flex;
    height: 48px;
    background: $white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $brand-grey--light;
    padding-left: $spacing--small;
    padding-right: 0;
    border-right: 0;
    flex-shrink: 0;
    align-items: center;

    @include mq($from: mobileWide, $until: desktop) {
      padding-right: calc($spacing--small / 2);
    }

    @include mq(tablet) {
      height: 58px;
      padding-right: $spacing--small;
    }

    .c-active-filters {
      display: none;

      @include mq(tabletWide) {
        display: flex;
        li {
          margin-bottom: 0;
        }
      }
      @include mq($until: desktop) {
        padding-right: $spacing--small;
      }
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    background: none;
    border: 0;
    padding: $spacing--small;

    @include mq(tablet) {
      top: 5px;
      right: 10px;
    }

    svg {
      width: 24px;
      height: 24px;
      color: $brand-color--dark;
    }
  }

  &__input-wrapper {
    width: 100%;
    padding: 0 $spacing--large 0 $spacing;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    @include mq(tablet) {
      position: relative;
      padding: 0;
    }
  }

  /** Header adjustments... */
  &__button--close {
    right: $spacing--large;
    @include mq(tablet) {
      transform: translateY(3px);
    }
    @include font-size(14px, 16px);
    text-transform: uppercase;
    color: $text-light-color;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
}
