.c-search-popover-filter {
  @include mq(desktop) {
    padding-bottom: $spacing;
  }

  .o-backdrop {
    z-index: 999;
    animation-name: fadeIn;
    animation-duration: 0.8s;
  }

  &__popover {
    background: $brand-color--light;
    overflow: auto;
    z-index: 1000;

    @include mq($until: desktop) {
      position: fixed;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      animation: slideIn 0.5s;
      padding: (58px + $spacing) $spacing $spacing $spacing;
    }

    @include mq(desktop) {
      position: fixed;
      max-width: 650px;
      top: 50%;
      left: 0;
      right: 0;
      bottom: auto;
      margin: 0 auto;
      transform: translateY(-50%);
      padding: 80px $spacing--large $spacing--large $spacing--large;
      opacity: 1;
      animation-name: fadeInBottom;
      animation-duration: 0.3s;
    }
  }

  &__popover-close-narrow {
    height: 58px;
    background: $brand-grey--lighter;
    padding: 0 $spacing;
    display: flex;
    align-items: center;
    border: 0;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;

    @include mq(desktop) {
      display: none;
    }

    .c-icon {
      width: 24px;
      height: 24px;
      color: $brand-color--dark;
    }

    span {
      @include font-size(16px, 20px);
      color: $brand-color;
      margin-left: $spacing;
    }
  }

  &__popover-close-wide {
    display: none;
    position: absolute;
    right: $spacing;
    top: $spacing;
    background: none;
    align-items: center;
    border: 0;
    padding: 0;
    cursor: pointer;

    span {
      box-shadow: $link;
      margin-right: $spacing--small;
      color: $brand-color;
    }

    .c-icon {
      width: 28px;
      height: 28px;
      color: $brand-color--dark;
    }

    @include mq(desktop) {
      display: flex;
    }
  }

  &__button {
    background: none;
    color: $brand-color;
    width: 100%;
    border: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: $spacing--small $spacing;
    cursor: pointer;
    border-radius: 0;

    @include mq(desktop) {
      box-shadow: $link;
      padding: 0;
      margin: 0 $spacing;
      width: auto;

      .c-icon {
        display: none;
      }
    }

    &:hover,
    &:focus,
    &:active {
      background: none;
      color: $brand-color;
      border: 0;
      transform: none;
    }
  }

  &__confirm-button {
    margin-top: $spacing;
  }
}
