$filter-width: 250px;
$search-field-wrapper-margin: $filter-width + $spacing--small;
.c-search-page {
  &__filter-result-wrapper {
    display: flex;
  }

  &__search-field-wrapper {
    padding: $spacing--large 0;
    margin-left: $search-field-wrapper-margin;
  }

  &__filter-wrapper {
    flex-basis: $filter-width;
    flex-shrink: 0;
    margin-right: $spacing--small;
    h2 {
      text-transform: uppercase;
    }
  }

  &__filter-wrapper,
  &__result-wrapper {
    h2 {
      margin: 0;
      font-weight: 600;
      @include font-size(18px, 32px);
    }
  }

  &__result-wrapper {
    flex-grow: 1;
  }
}

.c-search-result {
  background: $white;
  padding: $spacing--medium $spacing--medium;

  & > h1 {
    margin: 0 0 $spacing--medium;
    @include font-size(24px, 32px);
    font-weight: 400;

    span {
      font-weight: 600;
    }
  }
}

.c-search-result-list {
  list-style: none;
  margin: $spacing--medium 0 0 0;
  padding: 0;
}

.c-search-result-item {
  border-bottom: 1px solid $brand-grey--light;
  display: flex;
  align-items: center;
  margin: 0;

  &:first-child {
    .c-search-result-item__content {
      padding-top: 0;
    }
  }

  &__content {
    flex-grow: 1;
    padding-top: $spacing--medium;
  }

  & > img {
    margin-left: $spacing--medium;
    width: 80px;
    height: 80px;
    flex-shrink: 0;
  }

  &__header {
    display: flex;
    align-items: center;

    & > .c-content-type-badge,
    .c-learning-path-badge {
      margin: 0 $spacing--small/2;
    }
  }

  &__additional {
    display: flex;
    align-items: center;
    margin-left: $spacing;
  }

  &__content-type-label {
    color: $text-light-color;
    text-transform: uppercase;
    @include font-size(14px, 18px);
  }

  &__ingress {
    margin: $spacing--small 0 $spacing 0;
    @include font-size(16px, 27px);
    max-width: 600px;
  }

  &__breadcrumb {
    list-style: none;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    @include font-size(16px, 32px);
    color: $text-light-color;

    .c-icon {
      width: 12px;
      height: 12px;
      margin: 0 $spacing--small/2;
    }
  }

  &__subjects {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    @include font-size(16px, 8px);
    margin-bottom: $spacing;

    ul {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      list-style: none;
      margin: 0;
      padding: 0;
    }

    li {
      margin: 0;
      position: relative;
      padding: 0 $spacing--small;

      &:after {
        content: '';
        width: 1px;
        height: 15px;
        background: $brand-grey--light;
        display: block;
        position: absolute;
        right: 0;
        top: 8px;
      }

      &:first-child {
        font-weight: 600;
      }

      &:last-child {
        &:after {
          display: none;
        }
      }
    }

    a {
      box-shadow: none;
    }
  }

  h3 {
    margin: 0;
    @include font-size(22px, 28px);
    font-weight: 600;

    a {
      box-shadow: none;
    }
  }
}

.c-search-filter {
  background: $white;
  width: 100%;
  padding: $spacing--small $spacing;
  margin-bottom: $spacing--small;
}
