.c-content-type-result {
  padding-bottom: $spacing--medium;

  h1 {
    margin: 0;
    @include font-size(18px, 30px);
  }

  header {
    margin-bottom: $spacing--small;
  }

  &__no-hit {
    color: $text-light-color;
    margin: 0;
    font-style: italic;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  li {
    margin-bottom: $spacing--small;
    @include font-size(18px, 23px);

    &:last-child {
      margin-bottom: 0;
    }

    a {
      box-shadow: none;
    }
  }

  &__show-all {
    @include mq(desktop) {
      margin-top: $spacing;
    }

    button {
      color: $brand-color;
      font-weight: 600;
      background: none;
      border: 0;
      padding: 0;
    }
  }

  &__total-count {
    font-weight: 400;
  }
}
