$overlay-height-mobile: 74px;
$overlay-height-tablet: 110px;
$overlay-height: 136px;

.c-search-field {
  display: flex;
  align-items: center;
  text-align: left;
  flex-direction: column;
  justify-content: center;

  &__overlay-content > div:first-child {
    position: fixed;
    background: none;
    top: 0;
    right: 0;
    left: 0;
    height: $overlay-height-mobile;
    @include mq(tablet) {
      height: $overlay-height-tablet;
    }
    @include mq(desktop) {
      height: $overlay-height;
    }
    overflow-y: visible;
    box-shadow: none;
  }

  &__overlay-top {
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    top: 0;
    height: $overlay-height-mobile;
    background: $brand-grey--lighter;
    @include mq(tablet) {
      height: $overlay-height-tablet;
    }
    @include mq(desktop) {
      height: $overlay-height;
    }
    box-shadow: 0 0 30px rgba($black, 0.2);
    &.with-backdrop {
      &:before {
        content: '';
        display: block;
        position: fixed;
        top: 74px;
        @include mq(tablet) {
          top: 100px;
        }
        @include mq(desktop) {
          top: 136px;
        }
        bottom: 0;
        right: 0;
        left: 0;
        opacity: 0;
        background: rgba(0, 0, 0, 0.3);
        pointer-events: none;
        animation-name: fadeIn;
        animation-duration: 400ms;
        animation-delay: 100ms;
        animation-fill-mode: forwards;
      }
    }
  }

  @include mq(desktop) {
    &--has-search-result {
      .c-search-field {
        &__input {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        &__filters {
          border-bottom-left-radius: 0;
        }
      }
    }
  }

  @supports (-webkit-overflow-scrolling: touch) {
    .c-search-field__search-result {
      padding-bottom: $spacing--large + $spacing;
    }
    &--input-has-focus {
      .c-search-field__search-result {
        @supports (-webkit-overflow-scrolling: touch) {
          padding-bottom: 300px;
        }
      }
    }
  }

  &--no-left-margin {
    margin-left: 0 !important;
  }

  &__filters {
    display: flex;
    height: 48px;
    background: $white;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: 1px solid $brand-grey--light;
    padding-left: $spacing--small;
    padding-right: 0;
    border-right: 0;
    flex-shrink: 0;
    align-items: center;

    @include mq($from: mobileWide, $until: desktop) {
      padding-right: $spacing--small / 2;
    }

    @include mq(tablet) {
      height: 58px;
      padding-right: $spacing--small;
    }

    .c-active-filters {
      display: none;

      @include mq(tabletWide) {
        display: flex;
        li {
          margin-bottom: 0;
        }
      }
      @include mq($until: desktop) {
        padding-right: $spacing--small;
      }
    }
  }

  &__button {
    position: absolute;
    cursor: pointer;
    background: none;
    border: 0;
    padding: $spacing--small;

    @include mq(tablet) {
      top: 5px;
      right: 10px;
    }

    svg {
      width: 24px;
      height: 24px;
      color: $brand-color--dark;
    }
  }

  &__input-wrapper {
    width: 100%;
    padding: 0 $spacing--large 0 $spacing;
    display: flex;
    align-items: center;
    flex-flow: row-reverse;
    @include mq(tablet) {
      position: relative;
      padding: 0;
    }

    &--with-icon {
      &:after {
        content: '';
        display: block;
        position: absolute;
        @include svg_icon(search, $brand-grey);
        background-size: 24px 24px;
        background-position: center center;
        background-repeat: no-repeat;
        width: $spacing--large;
        height: 24px;
      }
    }
  }

  /** Header adjustments... */
  &__header {
    @include mq(tablet) {
      width: $inuit-wrapper-width;
      max-width: calc(100vw - 100px);
      padding-right: $spacing;
    }
    @include mq(desktop) {
      width: $inuit-wrapper-width;
      max-width: calc(100vw - 156px);
    }
    padding: 0;
    margin: 0 auto;
  }
  &__button--close {
    right: $spacing--large;
    @include mq(tablet) {
      transform: translateY(3px);
    }
    @include font-size(14px, 16px);
    text-transform: uppercase;
    color: $text-light-color;
    &:hover,
    &:focus {
      color: $brand-color;
    }
  }
  &__header-container {
    display: flex;
    padding-top: $spacing--small;
    @include mq(tablet) {
      padding-top: $spacing;
    }
    @include mq(desktop) {
      padding-top: $spacing + $spacing--small;
    }
    > .c-search-field {
      width: 100%;
      margin-right: -$spacing--large;
      @include mq($until: tablet) {
        .c-search-field__button--close {
          right: $spacing--large + $spacing--medium;
          top: 16px;
        }
        .c-search-field__button--searchIcon {
          right: $spacing--large;
          top: $spacing--small;
        }
      }
    }
    > button {
      width: $spacing--large;
      height: 48px;
      @include mq(tablet) {
        transform: translate($spacing--large, 0);
        width: $spacing--large;
        height: 56px;
        &:hover,
        &:focus {
          transform: translate($spacing--large + 1, 1px);
        }
      }
      @include mq(wide) {
        transform: translate($spacing--large * 2, 0);
        &:hover,
        &:focus {
          transform: translate(($spacing--large * 2) + 1, 1px);
        }
      }
    }
  }
}
