.c-search-filter {
  background: $white;
  width: 100%;
  text-align: left;

  &--narrow-screen-only {
    @include mq(desktop) {
      display: none;
    }
  }

  @include mq(desktop) {
    border: none;
    margin-bottom: $spacing--small;
  }

  &--context-filter {
    background: $brand-color--light;
    padding: $spacing--medium;
  }

  &:first-child {
    .c-filter__list {
      border-top: 0;
    }
  }
}
