@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  1% {
    opacity: 1;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeInLeft {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: inline-block;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes pulseAnimation {
  0% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
  }
}
