$inuit-global-font-size: 18px;
$inuit-global-line-height: 24px;
$inuit-global-radius: 4px;
$inuit-global-border-width: 2px;
$darken-factor: 10%;
$max-text-width: 700px;
$border-radius: $inuit-global-radius;
$border-radius--large: 50%;
$transition: all 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
$transition--long: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
$masthead-height: 84px;

/**
 * Expose sass variables as css variables
 */

:root {
  --inuit-global-font-size: 18px;
  --inuit-global-line-height: 24px;
  --inuit-global-radius: 4px;
  --inuit-global-border-width: 2px;
  --darken-factor: 10%;
  --max-text-width: 700px;
  --border-radius: #{$inuit-global-radius};
  --border-radius--large: 50%;
  --transition: all 0.2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  --transition--long: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
}
