.o-wrapper--narrow {
  width: 100%;

  section>* {
    // @include max-width();
    margin-left: auto;
    margin-right: auto;
  }
  section section>* { // Fix for when duplicate max-width is applied
    // max-width: 100%;
  }
}

section.c-article-content:first-child {
  @include mq(tablet) {
    margin-top: -$spacing*6;
    padding-top: $spacing--large;
  }
  background: $white;
}

.o-wrapper--wide {
  max-width: 100% !important;
}
