.o-wrapper--narrow {
  // To be removed
}

section.c-article-content:first-child {
  @include mq(tablet) {
    margin-top: -$spacing*6;
    padding-top: $spacing--large;
  }
  background: $white;
}

.o-wrapper--wide {
  max-width: 100% !important;
}
