.o-wrapper {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  @include mq(tablet) {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}
.o-wrapper--inner {
  max-width: 585px;
  padding-left: $spacing;
  padding-right: $spacing;
}
/* Add to clear masthead */
.o-wrapper--clear {
  margin-top: $spacing--large * 2;
}
