.o-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &--background {
    background-color: $brand-grey--lightest;
  }

  &--backgroundWide {
    @include mq(tablet) {
      background-color: $brand-grey--lightest;
    }
  }
}

.o-content {
  flex: 1;
}

/* IE-10+ fix for footer */
html.ie .o-content {
  flex: 1 1 auto;
}
