/**
** CONCEPT
** A custom concept links, show popup with explanation on click
**/

.c-concept__item {
  display: inline;
}
.c-concept__link {
  background: none;
  border: none;
  font-family: $font-serif;
  line-height: 1.3em;
  padding: 0;
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid $brand-color;
  transition: border 0.2s ease-out;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    margin-top: 21px;
    @include mq(tablet) {
      margin-top: 24px;
    }
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $brand-color;
    transition: border 0.2s ease-out;
  }
  &:hover,
  &:focus {
    border-bottom: 1px solid $brand-color;
    outline: none;
    &:after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $brand-color;
    }
  }
}
.c-concept__popup {
  display: none;
  position: absolute;
  width: 90%;
  left: 5%;

  @include mq($from: tablet) {
    max-width: 500px;
    left: 50%;
    margin-left: -250px;
  }
  box-shadow: 0 0 30px rgba($black, 0.2);
  box-sizing: border-box;
  z-index: 1;
  background: $brand-color--lighter;
  padding: $spacing;
  opacity: 0;
}

.c-concept__popup--visible {
  animation-name: fadeInTop;
  animation-duration: 0.4s;
  opacity: 1;
  display: block;
}

.c-concept__title {
  margin-top: 0;
  border-bottom: 2px solid $brand-color;
  text-transform: capitalize;
  display: block;
}
.c-concept__content {
  display: block;
  padding-top: $spacing--small/2;
}
.c-concept__footer {
  padding-top: $spacing--small;
  @include inuit-font-size(15px);
  color: $brand-grey;
  .c-license-icons__list {
    flex-direction: row;
  }
}
.c-concept__author {
  margin-right: $spacing;
}
.c-concept__close {
  display: inline-block;
  position: absolute;
  top: $spacing*1.1;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}
