/**
** CONCEPT
** A custom concept links, show popup with explanation on click
**/

.c-concept__item {
  display: inline;
}
.c-concept__link {
  background: none;
  border: none;
  font-family: $font-serif;
  line-height: 1.3em;
  padding: 0;
  text-decoration: none;
  color: $black;
  border-bottom: 1px solid $brand-color;
  transition: border 0.2s ease-out;
  position: relative;
  cursor: pointer;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    margin-top: 21px;
    @include mq(tablet) {
      margin-top: 24px;
    }
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid $brand-color;
    transition: border 0.2s ease-out;
  }
  &:hover,
  &:focus {
    border-bottom: 1px solid $brand-color;
    outline: none;
    &:after {
      border-left: 8px solid transparent;
      border-right: 8px solid transparent;
      border-top: 8px solid $brand-color;
    }
  }
}
.c-concept__popup {
  display: none;
  position: absolute;
  font-family: $font-serif;
  width: 90%;
  left: 5%;
  z-index: 1;

  @include mq($until: mobileWide) {
    left: 0;
    right: 0;
    top: 0 !important;
    bottom: 0;
    width: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 9999;
  }

  .c-tabs {
    margin-left: 0;
  }

  &--listview {
    position: fixed;
    max-height: 100%;
    overflow-y: auto;
    top: 50%;
    transform: translateY(-50%);

    &.c-concept__popup--visible {
      // Use other animation to allow fixed div to be vertically aligned using translateY
      animation: fadeInTopFixed 0.4s;
    }
  }

  @include mq($from: tablet) {
    max-width: 500px;
    left: 50%;
    margin-left: -250px;
  }
  @include mq($from: desktop) {
    max-width: 720px;
    margin-left: -360px;
    left: 50%;
  }
  box-shadow: 0 0 30px rgba($black, 0.2);
  box-sizing: border-box;
  background: $white;
  padding: $spacing;
  opacity: 0;

  // Styling for concept-popup content components, Content, Text, Image
  &__content {
    padding-bottom: $spacing;
    display: flex;
    flex-wrap: wrap;
  }

  &__paragraph {
    flex: 1 1 100%;
    &--small {
      flex: 1 1 75%;
    }
  }

  &__image {
    flex: 1 100%;

    img {
      display: block;
      position: relative;
      margin: 0 auto 0 auto;
      max-height: 320px;
    }
    &--small {
      flex: 0 1 25%;
    }

    &--wide {
      flex: 1 100%;
    }
  }

  &__licensebox {
    flex: 2 1 auto;
    justify-content: flex-end;
  }

  // Additional styling for extras in the dialog such as links and tags
  &-extra {
    display: block;
    &:after {
      content: '';
      display: inline-table;
      clear: both;
    }
  }

  &-tags {
    width: 50%;
    float: left;
  }

  &-tag {
    font-family: $font;
    @include inuit-font-size(12px);
    background: $brand-grey--lightest;
    display: inline-block;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 0.3rem;
    line-height: 0.5rem;
    margin-left: 0.5em;
    font-family: $font;
  }

  &-link {
    width: 50%;
    float: left;
    text-align: right;
    a {
      display: inline-block;
      color: $brand-color;
      font-weight: $font-weight-semibold;
      font-family: $font;
      @include inuit-font-size(14px, 25px);
    }
  }
}

.c-concept__popup--visible {
  animation-name: fadeInTop;
  animation-duration: 0.4s;
  opacity: 1;
  display: block;
}

.c-concept__title {
  margin-top: 0;
  border-bottom: 2px solid $brand-color;
  text-transform: capitalize;
  display: block;
  @include inuit-font-size(24px, 31px);
}

.c-concept__subtitle {
  color: $text-light-color;
  font-weight: $font-weight-normal;
  padding-left: $spacing--small;
  // border-left: 1px solid #8A8888;
  @include inuit-font-size(16px, 28px);
  margin: 4px $spacing--small 4px $spacing--small;
  display: inline-block;
  position: relative;

  &:before {
    content: '';
    width: 1px;
    height: 15px;
    background: #8a8888;
    position: absolute;
    left: 0px;
    top: 7px;
  }
}

.c-concept__content {
  display: block;
  padding-top: $spacing--small/2;
}
.c-concept__footer {
  padding-top: $spacing--small;
  @include inuit-font-size(15px);
  color: $brand-grey;
  .c-license-icons__list {
    flex-direction: row;
  }
}
.c-concept__author {
  margin-right: $spacing;
}
.c-concept__close {
  display: inline-block;
  position: absolute;
  top: $spacing*1.1;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(18px, 23px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}
