.o-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  &--background {
    background-color: $brand-grey--lightest;
  }

  &--backgroundWide {
    @include mq(tablet) {
      background-color: $brand-grey--lightest;
    }
  }
}
