/**
** FIGURE
** Figure element, displaying images, embeds, videos etc.
** 1. Figure itself
** 2. Figcaption element w/content
**
** PRINCIPLE:
** <figure class="c-figure">
**   <div class="c-figure__img">
**      <img>
**   </div>
**   <figcaption class="c-figure__caption">
**       <div class="c-figure__info">Caption</div>
**       <div class="c-figure__byline">License, CTA</div>
**   </figcaption>
** </figure>
**/

/* 1. */

.c-figure {
  img {
    width: 100%;
  }
  iframe {
    display: block;
    border: 0;
  }

  > * {
    max-width: 100%;
    border: 0;
  }
}
.c-figure {
  // display: flex; // TODO: Makes h5p-iframes appear small and not fullsize
  margin: $spacing 0 $spacing;
  position: relative;
  width: 100%;
  transition:
    transform 0.4s,
    width 0.4s,
    height 0.4s;

  &--full-column {
    left: auto !important;
    right: auto !important;
    width: auto !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $spacing--large;
    margin-bottom: 0;
  }
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
}
