/**
** FIGURE
** Figure element, displaying images, embeds, videos etc.
** 1. Figure itself
** 2. Figcaption element w/content
**
** PRINCIPLE:
** <figure class="c-figure">
**   <div class="c-figure__img">
**      <img>
**   </div>
**   <figcaption class="c-figure__caption">
**       <div class="c-figure__info">Caption</div>
**       <div class="c-figure__byline">License, CTA</div>
**   </figcaption>
** </figure>
**/

/* 1. */

.c-figure {
  img {
    width: 100%;
  }
  iframe {
    display: block;
    border: 0;
  }

  > * {
    max-width: 100%;
    border: 0;
  }
}
.c-figure {
  // display: flex; // TODO: Makes h5p-iframes appear small and not fullsize
  margin: $spacing 0 $spacing;
  position: relative;
  width: 100%;
  transition:
    transform 0.4s,
    width 0.4s,
    height 0.4s;

  &--full-column {
    left: auto !important;
    right: auto !important;
    width: auto !important;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: $spacing--large;
    margin-bottom: 0;
  }
  &--left {
    float: left;
  }
  &--right {
    float: right;
  }
  &.expanded {
    .c-figure__caption--hidden-caption {
      display: block;
      opacity: 0;
      animation-delay: 50ms;
      animation-name: fadeIn;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
    }
  }
}

.brightcove-video {
  .hidden {
    display: none;
  }
}

/* 2. */
.c-figure__caption {
  background-color: $white;
  padding: $spacing--small 0;
  display: block;
  border-bottom: 1px solid $brand-grey--light;
}

.c-figure__caption--hidden-caption {
  display: none;
  @include mq($until: tablet) {
    display: block;
  }
}

.c-figure__licensetag {
  display: none;
}
.c-figure__byline {
  text-align: left;

  .c-figure__toggleAlternativeVideo {
    margin-left: 10px;
    span.hidden {
      display: none;
    }
  }
}

.c-figure__byline-author-buttons {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary-color;
}
.c-figure__byline-author-buttons--no-siblings {
  //styling for button in licensewrapper when there are no other elements in it. Places the button to the right
  justify-content: flex-end;
}
.c-figure__byline-authors {
  @include font-size(14px, 20px);
  margin-right: $spacing--small;
  font-family: $font;
}

.c-figure__info {
  max-width: 650px;
  margin-bottom: $spacing--small;
  font-family: $font;
  color: $primary-color;
  @include font-size(16px, 24px);
  @include mq($from: tablet) {
    flex: 2;
    margin-bottom: $spacing--small;
  }
  p {
    margin: 0;
  }
}

.c-figure__fullscreen-btn {
  cursor: pointer;
  position: absolute;
  padding: 0;
  bottom: 8px;
  right: 8px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-out;
  background: rgba($white, 0.65);
  border-radius: 100px;
  border: 0;

  .expanded-icon {
    display: none;
  }

  &--expanded {
    .contracted-icon {
      display: none;
    }
    .expanded-icon {
      display: flex;
    }
  }

  svg {
    transition: transform 0.4s ease-out;
    width: 18px;
    height: 18px;
    fill: $brand-color;
    color: $brand-color;
  }
  @include mq($until: tablet) {
    display: none;
  }
}

.c-figure:hover {
  .c-figure__fullscreen-btn {
    background: $white;
    svg {
      transform: scale(1.2);
    }
  }
}

.c-figure__show-byline-btn {
  cursor: pointer;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  padding: $spacing--small;
  transition: all 0.3s ease-out;
  background: rgba($white, 0.2);
  border: 0;

  .expanded-icon {
    display: none;
  }

  &--expanded {
    .contracted-icon {
      display: none;
    }
    .expanded-icon {
      display: flex;
      right: 0;
    }

    ~ .c-figure__caption--hidden-caption {
      max-height: 100vh;
      padding-top: $spacing--small;
      padding-bottom: $spacing--small;
    }
  }

  svg {
    transition: transform 0.4s ease-out;
    width: 26px;
    height: 26px;
    fill: $brand-color;
  }
}

.c-figure:hover {
  .c-figure__show-byline-btn {
    background: $white;
    svg {
      transform: scale(1.2);
    }
  }
}

.c-figure {
  &__link-wrapper {
    margin-top: $spacing--small;

    [data-icon] {
      margin-left: $spacing--small/2;
      width: 18px;
      height: 18px;
    }
  }

  &__link {
    color: $brand-color;
    box-shadow: none;
    display: flex;
    align-items: center;
    @include font-size(14px, 25px);

    &:hover,
    &:active,
    &:focus {
      .c-figure__link-text {
        box-shadow: $link--hover;
      }
    }
  }

  &__link-text {
    box-shadow: $link;
    display: block;
  }

  &__link-description {
    margin-top: $spacing--small/2 !important;
    margin-bottom: 0;
    @include font-size(14px, 25px);
  }
}
