@function urlEncodeColor($color) {
  @return '%23' + str-slice('#{$color}', 2, -1);
}

@mixin visually-hidden() {
  margin: -1px;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip: rect(0, 0, 0, 0);
  position: absolute;
}

@mixin restore-outline() {
  outline: 1px dotted #212121;
  outline: -webkit-focus-ring-color auto 5px;
}
