{
  "presets": ["react", ["env", { "modules": false }]],
  "plugins": ["emotion", "transform-object-rest-spread"],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ]
      ]
    },
    "commonjs": {
      "plugins": [["transform-es2015-modules-commonjs"]]
    },
    "unittest": {
      "plugins": [["transform-es2015-modules-commonjs"]]
    }
  }
}
