node_modules
*.log
.out
.test
.eslintcache
es/
lib/
dist/
storybook-static/
.DS_Store
*.iml
tsconfig.build.tsbuildinfo
tsconfig.tsbuildinfo
/.idea
*.iml
.eslintcache
*.log.1
packages/*/.vscode
*.code-workspace
.cache
.vscode
.yarn/*
.pnp.*
.vercel
styled-system/*

.nx/cache
.nx/workspace-data
