aside, article aside, .c-article aside {
  width: 100%;
  display: inline-block;
  margin: $spacing 0 0 0;
  border: 1px solid $brand-color--light;
  background: $brand-color--light;
  opacity: 0.9;
  border-radius-top: $inuit-global-radius;
  @include max-width();

  img {
    box-shadow: 0px 0px 9px -3px $brand-grey;
  }

  > div {
    padding: $spacing / 2;
    overflow: hidden;
    max-height: 150px;
    transition: max-height .4s cubic-bezier(1, 1.05, 0, 1);
    position: relative;
    &:after {
      content: "";
      text-align: center;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      transition: background .5s cubic-bezier(0.74, -0.04, 0.96, 0.97);
      background: linear-gradient(rgba($brand-color--light,0),$brand-color--light)
    }
    &:hover {
      &:after{
        background: linear-gradient(rgba($brand-color--light,0),rgba($brand-color--light, 0.4))
      }
    }
  }
  .expanded {
    max-height: 500vh;

    &:after {
      background: none;
    }
  }

  *:first-child {
    margin-top: 0;
  }
  h2,h3,h4,h5 {
    display: block;
    font-size: 110%;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    margin-top: $spacing/2;
    margin-bottom: $spacing/2;
    border-bottom: 1px solid $brand-color--light;
  }
  p {
    margin-top: 0;
  }
  img {
    margin-bottom: $spacing/2;
    width: 100%; // Remove later?
  }

  // Remove later - only for user test
  strong {
    font-weight: normal;
  }

  @include mq(desktop) {
    @include font-size(16px);
    float: right;
    left: 720px;
    clear: both;
    max-width: 300px;
    padding: 0 0 0 $spacing*1.5;
    border: none;
    border-left: 1px solid $brand-color--light;
    background: none;
    border-top: none;
    border-bottom: none;

    > div {
      max-height: none;

      &:after {
        display: none;
      }
     
    }
  }
}
