/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

h1, h2, h3, h4, h5 {
  font-weight: $font-weight-bold;
  font-family: $font;
  margin: $spacing 0 $spacing 0;
  line-height: 1.3;
}

h1 {
  font-weight: $font-weight-semibold;
  @include inuit-font-size(38px, 45px);
}

h2 {
  line-height: 1;
  @include inuit-font-size(22px, 30px);
  @include mq(desktop) {
    line-height: 1.5;
  }
}

h3 {
  @include inuit-font-size(20px, 30px);
}

h2, h3 {
  margin-top: $spacing * 2;
  margin-bottom: $spacing / 2;
}

article {
  h1 {
    position: relative;
  }
}
h2 a, h3 a, h4 a {
    color: $brand-color;
    font-size: 80%;
  }
