aside ul, .o-list--arrows {
  margin: 0;
  padding: 0 1em;
  list-style: none;

  li {
    border-bottom: 1px solid $background-color--light;
    list-style:none;

    &:before {
      content: "";
      border-color: transparent $brand-color;
      border-style: solid;
      border-width: 0.30em 0 0.30em 0.40em;
      display: inline-block;
      height: 0;
      width: 0;
      left: -1em;
      top: 1em;
      position: relative;
    }
  }

  &--invert {
    li {
      border-bottom: none;

      &:before {
        border-color: transparent $background-color;
      }
    }
  }
}
