/* ==========================================================================
   #PAGE
   ========================================================================== */

quote {

}
blockquote {
  @include max-width();
  margin: 0;
  padding-left: $spacing;
  border-left: $inuit-global-border-width * 2 solid $background-color--dark;
  @include font-size(16px);
}
