.footer {
  color: $brand-grey-dark;
  padding: $spacing--large $spacing;
  margin-top: $spacing--large;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing;
  width: $inuit-wrapper-width;

  @include mq(tablet) {
    padding: 0 $spacing * 2.5;
  }
  @include mq(desktop) {
    padding: 0 $spacing;
  }

  &_editor {
    display: block;
    margin-bottom: $spacing--small;
    padding-right: $spacing--small;

    @include mq(desktop) {
      display: inline-block;
    }
  }
  &--bold {
    font-weight: $font-weight-bold;
  }
  &_form {
    display: inline;

    @include mq(desktop) {
      display: block;
    }
  }
  &_label {
    padding-right: 1em;
    display: inline-block;
  }
  &_ruler {
    width: 100%;
    border-top: 1px solid $brand-grey;
    padding-bottom: 1em;
    margin-top: 1em;
  }
  &_text {
    margin-bottom: 0;
    margin-top: 0.3em;
  }
}
