ul, ol {
  margin: 0 0 2em;
  padding: 0 1em;
}

aside ul, article ul, .o-list--arrows {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='3' cy='5' r='3' fill='#{$brand-color} ' /></svg>");

  &--invert {
    li {
      border-bottom: none;

      &:before {
        border-color: transparent $background-color;
      }
    }
  }
}
.o-list--clean {
  margin: 0 0 2em;
  padding: 0;
  list-style: none;
  li {
    margin-left: 1em;
  }
}
