figure {
  margin: 0 0 $spacing 0;
  @include max-width();
}
figcaption {
  background: $brand-grey--lightest;
  font-size: 80%;
  padding: $spacing / 2 $spacing;
  color: gray;
}
//
// .article_figure {
//
//   img {
//     width: 100%;
//     height: auto;
//     margin: 0  calc(-50vw / 2) $spacing;
//     padding: $spacing calc(50vw/2);
//   }
// }
// .article_caption {
//   width: 100%;
// }
