/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */


// We have all of our heading font sizes defined here. Passing these pixel
// values into our `inuit-font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

h1, h2, h3, h4, h5, .u-heading3 {
  font-weight: $font-weight-bold;
  font-family: $font;
  margin: $spacing 0 $spacing 0;
  line-height: 1.3;
}

h1 {
  font-weight: $font-weight-semibold;
  @include inuit-font-size(30px, 40px);
  margin-bottom: $spacing--small;
  @include mq(tablet) {
    @include inuit-font-size(38px, 45px);
    margin-bottom: $spacing;
  }
}

h2, h3, .u-heading3, h4, h5 {
  margin-top: $spacing--large;
  margin-bottom: $spacing--small;
  @include inuit-font-size(22px, 30px);
  @include mq(desktop) {
    line-height: 1.5;
  }
}

h3, h4, h5 {
  @include inuit-font-size(18px, 26px);
  margin-top: $spacing--medium;
  margin-bottom: $spacing--small / 2;
}

h2 + h2 {
  margin-top: 0;
}

article {
  h1 {
    position: relative;
  }
}
