.footer {
  color: $brand-grey-dark;
  padding: $spacing*2 $spacing;
  margin-top: $spacing*2;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacing;
  width: $inuit-wrapper-width;

  @include mq(tablet) {
    padding: 0 $spacing * 2.5;
  }
  @include mq(desktop) {
    padding: 0 $spacing;
  }

}
.footer_editor {
  display: block;
  margin-bottom: $spacing/2;
  padding: 0;

  @include mq(desktop) {
    display: inline;
  }
}
.footer--bold {
  font-weight: 600;
}
.footer_form {
  display: inline;

  @include mq(desktop) {
    display: block;
  }
}
.footer_label {
  padding-right: 1em;
  display: inline-block;
}
.footer_ruler {
  width: 100%;
  border-top: 1px solid $brand-grey;
  padding-bottom: 1em;
  margin-top: 1em;
}
.footer_text {
  margin-bottom: 0;
  margin-top: 0.3em;
}
