details {
  cursor: pointer;
  cursor: hand;
  margin: $spacing 0;
  border: 1px solid $brand-grey--light;
  p {
    padding: 0 $spacing $spacing;
  }
}
details[open] {
}
details + details {
  margin-top: $spacing !important;
}
summary {
  &:focus {
    outline: none;
  }
  text-decoration: underline;
  padding: $spacing;
  color: $brand-color;
}
