/**
** ARTICLE
** Clean-modifier is used to avoid negative margin (when used in design manual)
** Title has icon when article is a resource type
**/

.c-article {
  font-family: $font-serif;
  background: $white;
  margin-top: $spacing--large;
  margin-right: auto;
  margin-bottom: $spacing;
  margin-left: auto;
  overflow-wrap: break-word;
  @include font-size(18px, 29px);
  position: relative;

  mjx-stretchy-v > mjx-ext > mjx-c {
    transform: scaleY(100) translateY(0.075em);
  }

  > section > p {
    &:not([class]) {
      margin-bottom: 29px;
    }
  }

  @include mq(tablet) {
    @include font-size(18px, 29px);

    > section > p {
      &:not([class]) {
        margin-bottom: 35px;
      }
    }

    padding: 0 $spacing $spacing;
    margin-bottom: $spacing--large;
    margin-top: -$spacing * 6;
    padding-top: $spacing--large + $spacing;
    &--subject-material {
      border: 2px solid $subject-material-light;
    }
    &--assessment-resources {
      border: 2px solid $assessment-resource-background;
    }
    &--tasks-and-activities {
      border: 2px solid $tasks-and-activities-background;
    }
    &--external-learning-resources {
      border: 2px solid $external-learning-resource-background;
    }
    &--source-material {
      border: 2px solid $source-material-light;
    }
  }
  @include mq(desktop) {
    padding-bottom: $spacing--large;
    margin-bottom: $spacing--large;
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }

  p {
    margin-top: 0;
  }

  &--multidisciplinary-topic {
    margin-top: 0;
    padding: $spacing--small;
    @include mq(tablet) {
      padding: 0;
    }
    border: none;
  }
}
.c-article--clean {
  margin-top: $spacing;
  padding: $spacing--small;
  @include mq(tablet) {
    padding: 0;
  }
  border: none;
}

.c-article--in-topic {
  margin-top: 0;
  padding: 0;
  padding-left: $spacing--medium;
  figure.c-figure.u-float-full {
    left: 0 !important;
    right: 0 !important;
    padding-left: 0;
    padding-right: 0;
    max-width: 100%;
  }
}

.c-article__header {
  margin-bottom: $spacing;
  @include mq(tablet) {
    margin-bottom: $spacing--large;
  }
  @include mq(desktop) {
    margin-bottom: $spacing--large;
  }
}

.c-article__competence {
  margin-top: $spacing;
}

.c-article__title {
  position: relative;

  h1 {
    margin: 0;
    @include mq($until: tablet) {
      line-height: 2rem;
    }
  }

  padding: 0 0 $spacing 0;

  @include mq(tablet) {
    padding: 0 0 $spacing--medium 0;
  }

  p {
    @include font-size(18px, 24px);
    color: $text-light-color;
    text-transform: uppercase;
    margin-bottom: 0;
    font-family: $font;
    @include mq($until: tablet) {
      margin-bottom: 0;
    }
  }
}

.c-article__title--icon {
  padding-left: 80px;

  @include mq(desktop) {
    padding-left: 0;
  }

  [data-badge] {
    position: absolute;
    left: 0;

    @include mq(tablet) {
      top: calc($spacing--small / 2);
    }

    @include mq(desktop) {
      left: -80px;
      top: calc($spacing--small / 2);
    }
  }
}
