/**
** ARTICLE BYLINE
**
** EXAMPLE:
** <div class="c-article-byline">
**  <span class="c-article-byline__authors"><svg /> [Opphavsperson].</span>
**  <span class="c-article-byline__date"><svg /> Publisert [dato]</span>
** </div>
**/

.c-article-byline {
  margin-top: $spacing;
  padding-top: $spacing--small;
  padding-bottom: $spacing--small/2;
  border-top: 2px solid $brand-grey--lighter;
  @include inuit-font-size(14px, 20px);
  font-family: $font;
  color: $brand-grey-dark;
  justify-content: space-between;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  margin-bottom: $spacing--small;
  @include mq(tablet) {
    margin-bottom: $spacing;
  }
  &__icon {
    color: $brand-grey;
    display: inline-block;
    padding-right: $spacing--small/2;
  }
  &__flex {
    align-items: center;
    height: 1.5rem;
    @include mq($from: mobileWide, $until: tablet) {
      width: 50%;
      &:nth-child(even) {
        text-align: right;
      }
    }
    @include mq($until: mobileWide) {
      width: 100%;
    }
  }
  &__toggle-authors {
    @include inuit-font-size(14px, 20px);
    margin-right: $spacing--small / 2;
  }
  &__licenses {
    align-items: center;
    margin-right: $spacing--small;
    flex-wrap: wrap;
    width: 110px;
    flex-direction: row !important;
  }
  &__additional {
    align-items: center;
    @include mq(tablet) {
      display: flex;
    }
  }

  &__authors {
    display: inline-flex;
    align-items: center;
    svg {
      margin-top: -3px;
    }
    > a {
      margin-right: 0.25rem;
    }
  }
  &__date {
    svg {
      margin-top: -3px;
    }
  }
  h1 + .c-article__byline {
    margin-top: -$spacing / 2;
  }
}
