@import '~@ndla/core/scss/core';
@import '~@ndla/icons/scss/icons';
@import './main';
@import '~@ndla/tabs/scss/tabs';
@import '~@ndla/core/scss/utilities';
@import '~@ndla/video-search/scss/video-search';
