.editor-container {
  margin: 0 auto;
}

.c-editor {
  width: 620px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  cursor: text;
  padding: 16px;
  border-radius: 2px;
  margin-bottom: 2em;
  box-shadow: inset 0px 1px 8px -3px #ABABAB;
  background: #fefefe;

  .public-DraftEditor-content figure {
    margin: 20px 0;
  }

  :global(.public-DraftEditor-content) {
    min-height: 140px;
  }

  &--alt {
    border: none;
    box-shadow: none;
    background: transparent;
    .block {
      border: none;
      background-color: transparent;
      padding: 0;

      &__input {
        background-color: transparent;
      }
    }
  }
}


.editor__paragraph {
  margin: 1em 0 1em 0;
}


.block {
  border-radius: 3px;
  border: solid 1px #ddd;
  background-color: $white;
  padding: 1em;

  &__data {
    padding-top: 0.6em;
  }

  &__input {
    width: 100%;
    border: 0;
    border-bottom: 1px dashed transparent;
    padding: 0.3em 0;

    &:hover {
      border-color: #ddd;
    }

    &:focus {
      outline: none;
      border-style: solid;
      border-color: lighten($brand-color, 20%);
    }
  }
}

.resource-placeholder-block {
  color: #e4655f;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid #e4655f;
}

.c-toolbar {
  list-style: none;
  padding: 0;
  margin: 0 0 0.5em 0;
  border: 1px #ddd solid;
  background: $white;

  &__item {
    display: inline-block;
  }

  &__button {
    background: $white;
    color: #888;
    font-size: 18px;
    border: 0;
    padding-top: 5px;
    vertical-align: bottom;
    height: 34px;
    width: 36px;

    &--active {
      background: #efefef;
      color: #444;
    }

    svg {
      fill: #888;
    }
  }
}
