
@import "global/settings/settings.config";
@import "../node_modules/inuitcss/settings/_settings.core";
@import "global/settings/settings.global";
@import "global/settings/settings.colors";
@import "global/settings/settings.typography";
@import "global/settings/settings.animations";

// Grids
@import "global/utilities/utilities.widths";
@import "global/utilities/utilities.grids";

// TOOLS
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/inuitcss/tools/tools.rem";
@import "global/utilities/mixin_icons";

$mq-breakpoints: (
    mobile:  320px,
    tablet:  600px,
    desktop: 980px,
    wide:    1300px
);
$inuit-fractions: 1 2 3 4 5 6 10 12;
@import "../node_modules/sass-mq/mq";
@import "global/tools/tools.aliases";


// GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.shared";

// ELEMENTS
$inuit-wrapper-width: 1024px;
@import "global/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "global/elements/elements.headings";
@import "global/elements/elements.figure";
@import "global/elements/elements.quotations";
@import "global/elements/elements.navigation";
@import "global/elements/elements.images";
@import "global/elements/elements.tables";
@import "global/elements/elements.lists";
@import "global/elements/elements.details";
// @import "global/elements/elements.aside";
@import "global/elements/elements.footer";
@import "global/elements/elements.iframe";
@import "global/elements/elements.input";
@import "global/elements/elements.code";

// OBJECTS
@import "../node_modules/inuitcss/objects/objects.wrapper";
@import "../node_modules/inuitcss/objects/objects.layout";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";
@import "global/objects/objects.wrapper";
@import "global/objects/objects.lists";


// COMPONENTS
// @import "modal/component.licenseToggle";
@import "logo/component.logo";
@import "button/component.button";
@import "hero/component.hero";
@import "masthead/component.masthead";
@import "global/components/component.article";
@import "global/components/component.aside";
@import "global/components/component.bodybox";
@import "global/components/component.breadcrumb";
@import "global/components/component.collate";
@import "global/components/component.factbox";
@import "global/components/component.figure";
@import "global/components/component.figure-license";
@import "global/components/component.icon";
@import "global/components/component.license-icons";
@import "global/components/component.licensebox";
@import "global/components/component.medialist";
@import "global/components/component.pager";
@import "global/components/component.resource-group";
@import "global/components/component.resources-menu";
@import "global/components/component.resources";
@import "global/components/component.site-navigation";
@import "global/components/component.tables";
@import "global/components/component.topic-introduction";
@import "global/components/component.topic-resource-subset";
@import "global/components/component.topic-resource";
@import "global/components/component.topic-menu";
@import "global/components/component.filter";
@import "global/components/component.tabs";



// UTILITIES
@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacing";
@import "global/utilities/utilities.typographic";
@import "global/utilities/utilities.shame";
@import "global/utilities/utilities.mobile";



// @import "license/basicLightbox.min.css";
