// @import '~ndla-core/scss/core';

// COMPONENTS
@import 'Logo/component.logo';
@import 'Hero/component.hero';
@import 'Article/component.article';

@import 'global/components/component.bodybox';
@import 'global/components/component.story-intro';
@import 'Figure/component.figure';
@import 'Figure/component.figure-license';
@import 'Dialog/component.dialog';
@import 'FactBox/component.factbox';
@import 'Aside/component.aside';
@import 'Article/component.footnotes';
@import 'global/components/component.logo';
@import 'MediaList/component.medialist';
@import 'RelatedArticleList/component.related-articles';
@import 'ContentTypeBadge/component.content-type-badge';
@import 'Table/component.tables';
@import 'Filter/component.filter';
@import 'Translation/component.translation';
@import 'Translation/component.translation-box';
@import 'Search/component.search';
@import 'Carousel/component.carousel';
