
@import "global/settings/settings.config";
@import "../node_modules/inuitcss/settings/_settings.core";
@import "global/settings/settings.global";
@import "global/settings/settings.colors";

// TOOLS
@import "../node_modules/inuitcss/tools/tools.font-size";
@import "../node_modules/inuitcss/tools/tools.clearfix";
@import "../node_modules/inuitcss/tools/tools.rem";

$mq-breakpoints: (
    mobile:  320px,
    tablet:  600px,
    desktop: 980px,
    wide:    1300px
);
@import "../node_modules/sass-mq/mq";
@import "global/tools/tools.aliases";


// GENERIC
@import "../node_modules/inuitcss/generic/generic.box-sizing";
@import "../node_modules/inuitcss/generic/generic.normalize";
@import "../node_modules/inuitcss/generic/generic.shared";

// ELEMENTS
@import "global/elements/elements.page";
@import "../node_modules/inuitcss/elements/elements.headings";
@import "global/elements/elements.headings";
@import "global/elements/elements.quotations";
@import "global/elements/elements.navigation";
@import "global/elements/elements.images";
@import "global/elements/elements.tables";

// OBJECTS
$inuit-wrapper-width: 1250px;
@import "../node_modules/inuitcss/objects/objects.wrapper";
@import "../node_modules/inuitcss/objects/objects.layout";
@import "../node_modules/inuitcss/objects/objects.media";
@import "../node_modules/inuitcss/objects/objects.flag";
@import "../node_modules/inuitcss/objects/objects.list-bare";
@import "../node_modules/inuitcss/objects/objects.list-inline";
@import "../node_modules/inuitcss/objects/objects.box";
@import "../node_modules/inuitcss/objects/objects.block";


// COMPONENTS
@import "global/components/component.factbox";
@import "global/components/component.bodybox";

/* @import "components/components.buttons";
@import "components/components.page-foot";
@import "components/components.site-nav";
@import "components/components.ads";
@import "components/components.promo";
 */
// UTILITIES
$inuit-fractions: 1 2 3 4 12;

@import "../node_modules/inuitcss/utilities/utilities.widths";
@import "../node_modules/inuitcss/utilities/utilities.headings";
@import "../node_modules/inuitcss/utilities/utilities.spacing";
@import "global/utilities/utilities.typographic";
@import "global/utilities/utilities.shame";
