/**
** RESOURCES
** Wrapper for resources, titles for resource types
**/

.c-resources {
  padding-bottom: $spacing--large;
  padding-top: $spacing;

  @include mq(tablet) {
    padding-left: $spacing;
    padding-right: $spacing;
  }
}

// (Same as .c-resource-group__title)
.c-resources__title {
  display: block;
  @include inuit-font-size(18px);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  margin-top: $spacing--large;
  padding-bottom: 5px;
  border-bottom: 2px solid $brand-grey--light;
}
