/**
** RESOURCES
** Wrapper for resources, titles for resource types
**/

.c-resources {
  padding-top: $spacing;
  padding-bottom: $spacing;

  @include mq(tablet) {
    // padding-left: $spacing;
    // padding-right: $spacing;
  }

  .c-filter__list--float-right {
    flex-grow: 1;
    justify-content: flex-end;
  }

  &__topic-title-icon {
    color: $brand-color;
    flex-grow: 1;
    justify-content: flex-end;
    border: 0;
    outline: 0;
    background: transparent;
  }

  &__title {
    display: block;
    @include inuit-font-size(16px, 18px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0;
  }

  &__title-wrapper {
    display: flex;
    align-items: center;
    padding-bottom: $spacing--small / 2;
    margin-top: $spacing--medium;

    .c-content-type-badge {
      display: none;
      margin-right: $spacing--medium + 2px;
    }
  }

  &__topic-title-wrapper {
    display: flex;
    align-items: center;
    margin-top: $spacing--large;
    border-bottom: 2px solid $brand-color--lighter;
    padding-bottom: $spacing--small / 2;
    width: 100%;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    @include mq(tablet) {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
    > div {
      display: flex;
      align-items: center;
    }
  }

  .c-resources__topic-title-icon {
    padding-right: 0;
  }

  &__topic-title-label {
    font-family: $font;
    @include font-size(20px, 26px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin: 0 $spacing--small 0 0;
  }

  &__topic-title {
    font-weight: $font-weight-normal;
    color: $primary-color;
    @include font-size(20px, 26px);
    margin: 0;
  }

  &__topic-title-link {
    color: $brand-color;
  }

  &__topic-filter-wrapper {
    display: flex;
    width: 100%;
    @include mq(tablet) {
      width: auto;
      flex-grow: 1;
      background: green;
    }
  }

  &--subjectPage {
    padding-top: 0;
    padding-bottom: 0;

    .c-resources {
      &__title-wrapper {
        margin-top: 0;

        .c-content-type-badge {
          display: none;

          @include mq(tablet) {
            display: inline-flex;
          }
        }
      }

      &__content {
        @include mq(tablet) {
          margin-left: $spacing--medium + $spacing--large;
        }
      }

      &__title {
        @include inuit-font-size(16px, 32px);

        @include mq(tablet) {
          @include inuit-font-size(22px, 32px);
        }
      }

      &__title-wrapper {
        margin-left: $spacing;
        margin-right: $spacing;

        @include mq(tablet) {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }

    .c-topic-introduction__list {
      @include mq($until: tablet) {
        padding: 0 $spacing;
      }
    }
  }
}
