.c-content-type-badge {
  border-radius: 100%;
  border: 2px solid $black;
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  &--subject-material {
    border-color: $subject-material-dark;

    svg {
      color: $subject-material-dark;
      margin-top: 4px;
    }

    &.c-content-type-badge--background {
      background: $subject-material-light;
    }
  }

  &--tasks-and-activities {
    border-color: $tasks-and-activities-dark;

    svg {
      color: $tasks-and-activities-dark;
    }

    &.c-content-type-badge--background {
      background: $tasks-and-activities-light;
    }
  }

  &--assessment-resources {
    border-color: $assessment-resource-dark;

    svg {
      margin-top: 4px;
      color: $assessment-resource-dark;
    }

    &.c-content-type-badge--background {
      background: $assessment-resource-light;
    }
  }

  &--subject {
    border-color: $subject-dark;

    svg {
      margin-top: 2px;
      color: $subject-dark;
    }

    &.c-content-type-badge--background {
      background: $subject-light;
    }
  }

  &--external-learning-resources {
    border-color: $external-learning-resource-dark;

    &.c-content-type-badge--large {
      svg {
        margin-top: 1px;
        width: 32px;
        height: 32px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        margin-top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    svg {
      color: $external-learning-resource-dark;
    }

    &.c-content-type-badge--background {
      background: $external-learning-resource-light;
    }
  }

  &--source-material {
    border-color: $source-material-dark;

    &.c-content-type-badge--large {
      svg {
        margin-top: 1px;
        width: 32px;
        height: 32px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        margin-top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    svg {
      color: $source-material-dark;
    }

    &.c-content-type-badge--background {
      background: $source-material-light;
    }
  }

  &--learning-path {
    border-color: $learning-path-dark;

    &.c-content-type-badge--large {
      svg {
        width: 34px;
        height: 34px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.c-content-type-badge--x-small {
      svg {
        width: 18px;
        height: 18px;
      }
    }

    svg {
      color: $learning-path-dark;
    }

    &.c-content-type-badge--background {
      background: $learning-path-light;
    }
  }

  &--large {
    width: 50px;
    height: 50px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &--x-small {
    border: 0;

    width: 20px;
    height: 20px;

    @include mq(tablet) {
      width: 24px;
      height: 24px;
    }

    svg {
      width: 12px;
      height: 12px;

      @include mq(tablet) {
        width: 15px;
        height: 15px;
      }
    }

    &.c-content-type-badge--background {
      background: none;
    }
  }
}
