.c-content-type-badge {
  width: 34px;
  height: 34px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  &--border {
    border: 2px solid $black;
  }

  &--embed-resource {
    border-color: $brand-grey;
    &.c-content-type-badge--background {
      background: $brand-grey--light;
    }
  }

  &--subject-material {
    border-color: $subject-material-dark;

    svg {
      color: $subject-material-dark !important;
    }
    &.c-content-type-badge--small {
      svg {
        width: 22px;
        height: 22px;
      }
    }

    &.c-content-type-badge--background {
      background: $subject-material-light;
    }
  }

  &--tasks-and-activities {
    border-color: $tasks-and-activities-dark;

    svg {
      color: $tasks-and-activities-dark !important;
    }

    &.c-content-type-badge--background {
      background: $tasks-and-activities-light;
    }
  }

  &--assessment-resources {
    border-color: $assessment-resource-dark;

    svg {
      margin-top: 4px;
      color: $assessment-resource-dark !important;
    }

    &.c-content-type-badge--background {
      background: $assessment-resource-light;
    }
  }

  &--topic {
    border-color: $subject-dark;

    svg {
      margin-top: 2px;
      color: $subject-dark !important;
    }

    &.c-content-type-badge--background {
      background: $subject-light;
    }
  }

  &--external-learning-resources {
    border-color: $external-learning-resource-dark;

    &.c-content-type-badge--large {
      svg {
        margin-top: 1px;
        width: 32px;
        height: 32px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        margin-top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    svg {
      color: $external-learning-resource-dark !important;
    }

    &.c-content-type-badge--background {
      background: $external-learning-resource-light;
    }
  }

  &--source-material {
    border-color: $source-material-dark;

    &.c-content-type-badge--large {
      svg {
        margin-top: 1px;
        width: 32px;
        height: 32px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        margin-top: 1px;
        width: 24px;
        height: 24px;
      }
    }

    svg {
      color: $source-material-dark !important;
    }

    &.c-content-type-badge--background {
      background: $source-material-light;
    }
  }

  &--learning-path {
    border-color: $learning-path-dark;

    &.c-content-type-badge--large {
      svg {
        width: 34px;
        height: 34px;
      }
    }

    &.c-content-type-badge--small {
      svg {
        width: 24px;
        height: 24px;
      }
    }

    &.c-content-type-badge--x-small {
      svg {
        width: 16px;
        height: 16px;
      }
    }

    svg {
      color: $learning-path-dark !important;
    }

    &.c-content-type-badge--background {
      background: $learning-path-light;
    }
  }

  &--subject {
    border-color: $subjecttype-dark;
    svg {
      color: $subjecttype-light !important;
    }

    &.c-content-type-badge--background {
      background: $subjecttype-background;
    }
  }
  &--multidisciplinary-topic {
    &.c-content-type-badge--background {
      background: #b9b37b;
    }
  }

  &--large {
    width: 50px;
    height: 50px;

    svg {
      width: 25px;
      height: 25px;
    }
  }

  &--x-small {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;

    @include mq(tablet) {
      width: 26px;
      height: 26px;
    }

    svg {
      width: 10px;
      height: 10px;

      @include mq(tablet) {
        width: 12px;
        height: 12px;
      }
    }
  }

  &--xx-small {
    width: 20px;
    height: 20px;
    border-width: 1px;
    border-style: solid;

    svg {
      width: 10px;
      height: 10px;
    }
  }
}
