.c-info-box {
  background: $yellow-light;
  padding: $spacing--small $spacing;
  font-family: $font;
  @include font-size(14px, 18px);

  margin-bottom: $spacing--medium;

  @include mq(tablet) {
    @include font-size(16px, 20px);
    padding: $spacing;
  }

  & > *:first-child {
    margin-top: 0;
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}
