@mixin float($cols, $maxcols, $direction) {
  z-index: 1;
  $colDifference: $maxcols - $cols;
  $cols-tablet: $cols - 1;
  @if ($cols == 1) {
    $cols-tablet: 1;
  }

  @if $direction == left {
    @include mq(tablet) {
      float: left;
      clear: left;
      width: ($cols-tablet/$maxcols) * 100% !important;
      left: auto !important;
      padding: 0;
      padding-right: $spacing--small;
    }
    @include mq(desktop) {
      width: ($cols/$maxcols) * 100% !important;
    }
  }
  @if $direction == right {
    @include mq(tablet) {
      float: right;
      clear: right;
      width: ($cols-tablet/$maxcols) * 100% !important;
      left: auto !important;
      padding: 0;
      padding-left: $spacing--small;
    }
    @include mq(desktop) {
      width: ($cols/$maxcols) * 100% !important;
    }
  }
}
