/* Float article objects */
.u-float-left {
  @include float(13, 20, 'left', 10);
  margin-top: $spacing--xsmall;
}
.u-float-right {
  @include float(13, 20, 'right', 10);
  margin-top: $spacing--xsmall;
}
.u-float-small-left {
  @include float(2, 4, 'left');
  margin-top: $spacing--xsmall;
}
.u-float-small-right {
  @include float(2, 4, 'right');
  margin-top: $spacing--xsmall;
}
.u-float-xsmall-left {
  @include float(2, 4, 'left');
  @include mq(tablet) {
    @include float(1, 4, 'left');
    margin: $spacing--xsmall 0 $spacing--medium;
  }
  @include mq(desktop) {
    margin: $spacing--xsmall 0 $spacing--medium;
  }
}
.u-float-xsmall-right {
  @include float(2, 4, 'right');
  @include mq(tablet) {
    @include float(1, 4, 'right');
    margin: $spacing--xsmall 0 $spacing $spacing--xsmall;
  }
  @include mq(desktop) {
    margin: $spacing--xsmall 0 $spacing $spacing--xsmall;
  }
}
.u-float-full {
  margin-top: $spacing--xsmall;
}

