@mixin float($cols, $maxcols, $direction, $override-cols-tablet: null) {
  z-index: 1;
  $colDifference: calc($maxcols - $cols);
  $cols-tablet: calc($cols - 1);
  @if ($cols == 1) {
    $cols-tablet: 1;
  }
  @if $override-cols-tablet {
    $cols-tablet: $override-cols-tablet;
  }

  @if $direction == left {
    @include mq(tablet) {
      float: left;
      clear: left;
      width: calc(calc($cols-tablet / $maxcols) * 100%) !important;
      left: auto !important;
      padding: 0;
      padding-right: $spacing--small;
    }
    @include mq(desktop) {
      width: calc(calc($cols / $maxcols) * 100%) !important;
    }
  }
  @if $direction == right {
    @include mq(tablet) {
      float: right;
      clear: right;
      width: calc(calc($cols-tablet / $maxcols) * 100%) !important;
      left: auto !important;
      padding: 0;
      padding-left: $spacing--small;
    }
    @include mq(desktop) {
      width: calc(calc($cols / $maxcols) * 100%) !important;
    }
  }
}
