/* Close button */
.u-close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px, 1.33);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}

/* Float article objects */
.u-float-left {
  @include float(13, 20, 'left', 10);
  margin-top: $spacing--xsmall;
}
.u-float-right {
  @include float(13, 20, 'right', 10);
  margin-top: $spacing--xsmall;
}
.u-float-small-left {
  @include float(2, 4, 'left');
  margin-top: $spacing--xsmall;
}
.u-float-small-right {
  @include float(2, 4, 'right');
  margin-top: $spacing--xsmall;
}
.u-float-xsmall-left {
  @include float(2, 4, 'left');
  @include mq(tablet) {
    @include float(1, 4, 'left');
    margin: $spacing--xsmall 0 $spacing--medium;
  }
  @include mq(desktop) {
    margin: $spacing--xsmall 0 $spacing--medium;
  }
}
.u-float-xsmall-right {
  @include float(2, 4, 'right');
  @include mq(tablet) {
    @include float(1, 4, 'right');
    margin: $spacing--xsmall 0 $spacing $spacing--xsmall;
  }
  @include mq(desktop) {
    margin: $spacing--xsmall 0 $spacing $spacing--xsmall;
  }
}
.u-float-full {
  margin-top: $spacing--xsmall;
}
.u-float-full.c-figure--right {
  margin-left: $spacing;
}
.u-float-full.c-figure--left {
  margin-right: $spacing;
}


/* MISC */
.u-hidden {
  display: none !important;
}

.u-toggle {
  display: none;
}
.u-expanded {
  height: auto;
}
.u-overlay {
  cursor: default;
  position: fixed;
  display: block;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}
.u-fullw {
  width: 100%;
}
.u-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  opacity: 1;
}

.u-fade-out {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  opacity: 0;
}

.u-fade {
  &-enter {
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: ease;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    transition-property: opacity;
    transition-timing-function: ease;
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}

