.u-mark {
  color: $mark-color;
}
.u-heading {
  border-bottom: $brand-color--tertiary $inuit-global-border-width solid;
}
.u-serif {
  font-family: $font-serif;
}
.u-text-center {
  text-align: center;
}
