.c-carousel {
  &:hover {
    @include mq(tablet) {
      .c-carousel__arrow {
        display: flex;
        animation-name: fadeIn;
        animation-duration: 0.2s;
      }
    }
  }

  &__arrow {
    opacity: 0;
    transition: opacity 200ms ease;
    display: flex;
    top: $spacing;
    height: $spacing--large;
    width: $spacing--large;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

    .c-icon {
      color: $white;
      width: $spacing--medium;
      height: $spacing--medium;
    }

    @include mq(tablet) {
      height: 76px;
      width: 76px;
      .c-icon {
        width: 64px;
        height: 64px;
      }
    }
  }

  &__wrapper {
    &:hover {
      .c-carousel__arrow {
        opacity: 1;
      }
    }
  }
}