.u-mark {
  color: $mark-color;
}
.u-heading {
  border-bottom: $brand-color--tertiary $inuit-global-border-width solid;
}
.u-serif {
  font-family: $font-serif;
}
.u-text-inverted {
  color: $white;
}
.u-text-center {
  text-align: center;
}

.article_introduction {
  font-weight: $font-weight-light;
  font-family: $font;
  margin-top: $spacing--small;
  @include font-size(22px, 30px);

  @include mq(tablet) {
    font-weight: $font-weight-light;
    margin-top: $spacing*1.5;
    @include font-size(26px, 36px);
  }
}

.c-article .article_introduction {
  @include chinese() {
    @include font-size(24px, 32px);
  }

  @include mq(tablet) {
    @include chinese() {
      @include font-size(28px, 36px);
    }
  }

  span {
    @include chinese() {
      @include font-size(24px, 32px);
    }

    @include mq(tablet) {
      @include chinese() {
        @include font-size(28px, 36px);
      }
    }
  }
}
