/**
** LICENSE ICONS
** List for license icons with descriptions
**/

.c-license-icons__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.c-license-icons__licenselabel {
  margin-left: $spacing--small;
}

.c-license-icons__item {
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 0;
  margin-right: 0.2em;
}

.c-license-icons__hover {
  z-index: 1;
  opacity: 0;
  display: none;
  max-width: 300px;
  position: absolute;
  background: $brand-color;
  color: $white;
  text-align: left;
  padding: $spacing--small/2;
  @include inuit-font-size(13px);
}
.c-license-icons__item:hover {
  .c-license-icons__icon--hover {
    color: $brand-color;
  }
  .c-license-icons__hover {
    display: block;
    opacity: 1;
  }
}

.c-license-icons__icon {
  width: $spacing / 1.1;
  height: $spacing / 1.1;
}

.c-license-icons__modelpermission {
  svg {
    width: $spacing / 1.1;
    height: $spacing / 1.1;
    margin-right: $spacing--small;
  }
  margin-top: $spacing--small/2;
  padding-top: $spacing--small/1.5;
  border-top: 2px solid $brand-color--light;
}