/**
** RESOURCE GROUPS
** List resource groups with different colors (and icons)
**/

.c-resource-group {
  li {
    background-color: rgba($brand-grey--light, 0.4);
  }
}

.c-resource-group--subject-material {
  li {
    background-color: rgba($mark-color, 0.1);
  }
  .c-topic-resource__item--additional {
    background-color: desaturate(rgba($mark-color, 0.1), 40%);
  }
}

.c-resource-group--tasks-and-activities {
  li {
    background-color: rgba($green, 0.1);
  }
  .c-topic-resource__item--additional {
    background-color: desaturate(rgba($green, 0.1), 40%);
  }
}

.c-resource-group--learingpath {
  li {
    padding: 5px;
  }

  .c-topic-resource__icon {
    width: 80px;
    svg {
      width: 80px;
    }
  }
}
