/**
** RESOURCE GROUPS
** List resource groups with different colors (and icons)
**/

.c-resource-group {
  &:before {
    content: '';
    display: table;
    clear: both;
  }

  li {
    background-color: rgba($brand-grey--light, 0.4);
  }
}

.c-resource-group--subject-material {
  li {
    background-color: $subject-material-light;
  }
  .c-topic-resource__item--additional {
    background-color: $subject-material-additional;
  }
}

.c-resource-group--tasks-and-activities {
  li {
    background-color: $tasks-and-activities-light;
  }
  .c-topic-resource__item--additional {
    background-color: $tasks-and-activities-additional;
  }
}

.c-resource-group--assessment-resources {
  li {
    background-color: $assessment-resource-light;
  }
  .c-topic-resource__item--additional {
    background-color: $assessment-resource-additional;
  }
}

.c-resource-group--learning-path {
  li {
    background-color: $learning-path-background;
  }
}
