/**
** TOPIC RESOURCE LIST
** List items inside a resource group
**/

.c-topic-resource {
  @include mq($from: desktop) {
    @include grids-expand(4,6,2);
    margin-top: $spacing--large;
  }
}

.c-topic-resource__list {
  list-style: none;
  margin: 0;
  padding: 0;
  @include mq($from: tablet) {
    flex-direction: row;
  }
  @include fadeInLeftItems(li, 40);
}
.c-topic-resource__body {
  flex: 1 0 auto;
  text-align: left;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.c-topic-resource__item {
  max-width: 100%;
  // animation-name: fadeInTop;
  // animation-duration: .4s;
}

.c-topic-resource__link {
  display: flex;
  color: $brand-color--dark;

  h1 {
    box-shadow: $link;
  }

  padding: $spacing--small;
  margin-bottom: $spacing--small/2;
  box-shadow: none;

  &:hover {
    box-shadow: none;

    h1 {
      box-shadow: $link--hover;
    }
  }
}

.c-topic-resource__item--hidden {
  opacity: 0;
  display: none;
}

.c-topic-resource__icon {
  display: inline-block;
  text-align: center;
  width: auto;
}
.c-topic-resource__title {
  @include inuit-font-size(20px);
  text-transform: none;
  letter-spacing: 0;
  margin: 0;
}
.c-topic-resource__button-wrapper {
  text-align: center;
}
.c-topic-resource__button {
  margin: $spacing--small auto;
}
.c-topic-resource__additional-resources-trigger {
  text-align: center;
  padding: $spacing 0;
}
