details {
  transition-duration: 150ms;
  transition-property: left, right, width;
  margin: $spacing--large 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  clear: left;
  border: 1px solid $brand-grey--light;

  &[open] {
    padding: $spacing;

    summary {
      padding: 0 0 $spacing 0;
    }
  }

  // summary is first child, 2 child is content
  > *:nth-child(2) {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  table {
    position: static !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

details > ul:not([class]),
details :not(li) > ul:not([class]) {
  @include mq(desktop) {
    margin-left: $spacing;
  }
}

details > ol:not([class]),
details :not(li) > ol:not([class]) {
  @include mq(desktop) {
    margin-left: $spacing--large;
  }
}

details + details {
  margin-top: $spacing !important;
}

summary {
  color: $brand-color;
  cursor: pointer;
  padding: $spacing;

  & > * {
    display: inline;
    font-weight: $font-weight-normal;
    @include font-size(18px, 24px);
  }
}
