ul,
ol {
  margin: $spacing--small 0;
  padding: 0 1rem 0 2rem;
  @include mq(desktop) {
    padding: 0 1rem 0 0;
  }

  ul,
  ol {
    margin: $spacing--small 0;
  }
}

ul {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='3' cy='5' r='3' fill='#{urlEncodeColor($brand-color--secondary)} ' /></svg>");
}

li {
  line-height: 1.7rem;
  margin-bottom: $spacing--small;
  > p:only-child {
    margin: 0;
  }
}
li ul,
li ol {
  margin-top: $spacing--small;
  margin-left: $spacing;
}
li ol {
  margin-left: 58px;
}
ol {
  counter-reset: item;
  counter-reset: letter;
}

$diameter: 26px;

blockquote > ol {
  position: relative;
  left: 50px;
  @include mq($until: desktop) {
    left: -20px;
  }
}
