ul,
ol {
  margin: 0 0 $spacing;
  padding: 0 1rem 0 2rem;
  @include mq(desktop) {
    padding: 0 1rem 0 0;
  }

  ul,
  ol {
    margin: $spacing 0;
  }
}

ul {
  list-style-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='10'><circle cx='3' cy='5' r='3' fill='#{urlEncodeColor($brand-color--secondary)} ' /></svg>");
}

li {
  line-height: 1.7rem;
  margin-bottom: $spacing--small;
  > p:only-child {
    margin: 0;
  }
}
li ul,
li ol {
  margin-top: $spacing;
  margin-left: $spacing;
}
ol {
  counter-reset: item;
}

$diameter: 30px;

ol > li {
  display: block;
  position: relative;
  margin-bottom: $spacing;
  margin-left: $spacing;
  @include mq(desktop) {
    margin-left: 0;
  }
  &:before {
    content: counter(item);
    counter-increment: item;
    color: $brand-grey;
    display: inline-block;
    position: absolute;
    top: -3px;
    left: -55px;
    line-height: $diameter - 4px;
    height: $diameter;
    width: $diameter;
    text-align: center;
    border: 2px solid $brand-grey;
    border-radius: 50%;
    font-family: $font;
    text-align: center;
  }
}
