/* ==========================================================================
   #HEADINGS
   ========================================================================== */

/**
 * Simple default styles for headings 1 through 6. Anything more opinionated
 * than simple font-size changes should likely be applied via classes (see:
 * http://csswizardry.com/2016/02/managing-typography-on-large-apps/).
 */

// We have all of our heading font sizes defined here. Passing these pixel
// values into our `font-size()` mixin will generate a rem-based
// `font-size` with a pixel fallback, as well as generating a `line-height` that
// will sit on our baseline grid.

h1,
h2,
h3,
h4,
h5 {
  font-weight: $font-weight-bold;
  font-family: $font;
  margin: $spacing 0 $spacing 0;
  &[data-serif='true'] {
    font-family: $font-serif;
  }
}

h1 {
  @include font-size(30px, 36px);
  margin-bottom: $spacing--small;

  @include mq(tablet) {
    @include font-size(48px, 60px);
    margin-bottom: $spacing;
  }
}

h2 {
  margin-top: $spacing--large;
  margin-bottom: $spacing--small;
  @include font-size(28px, 36px);
  @include mq(tablet) {
    @include font-size(30px, 38px);
  }
}

h3 {
  @include font-size(26px, 35px);
  @include mq(tablet) {
    @include font-size(26px, 36px);
  }
}

h4,
h5 {
  @include font-size(22px, 30px);
  @include mq(tablet) {
    @include font-size(22px, 30px);
  }
}

h3,
h4,
h5 {
  margin-top: $spacing--medium;
  margin-bottom: $spacing--xsmall;
}

h2 + h2 {
  margin-top: 0;
}

article {
  h1 {
    position: relative;
  }
}
