details {
  transition-duration: 150ms;
  transition-property: left, right, width;
  margin: $spacing--large 0;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  left: 0;
  clear: left;

  &:not(.c-details--solution-box) {
    border: 1px solid $brand-grey--light;

    &[open] {
      padding: $spacing;

      summary {
        padding: 0 0 $spacing 0;
      }
    }
  }

  // summary is first child, 2 child is content
  > *:nth-child(2) {
    margin-top: 0;
  }

  > *:last-child {
    margin-bottom: 0;
  }

  &.c-details--solution-box {
    summary {
      background: $brand-color--lightest;
      font-family: $font;
    }
  }

  table {
    position: static !important;
    width: 100% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}

details > ul:not([class]),
details :not(li) > ul:not([class]) {
  @include mq(desktop) {
    margin-left: $spacing;
  }
}

details > ol:not([class]),
details :not(li) > ol:not([class]) {
  @include mq(desktop) {
    margin-left: $spacing--large;
  }
}

details + details {
  margin-top: $spacing !important;
}

summary {
  color: $brand-color;
  cursor: pointer;
  padding: $spacing;
}

details[open].c-details--solution-box {
  summary {
    padding: $spacing;
  }

  .c-details__content {
    padding: $spacing--small;
    background-color: $table-bg;
  }

  .c-table__wrapper {
    margin: 0;
  }
}

details .c-figure {
  width: 100% !important;
  padding-left: 0;
  padding-right: 0;
  left: 0 !important;
}

details.c-details--exploded {
  @include mq(desktop) {
    .c-details__content {
      opacity: 0;
      animation: fadeIn 150ms;
      animation-delay: 150ms;
      animation-fill-mode: forwards;
    }
  }
}
