blockquote > ol {
  position: relative;
  left: $spacing--large;
  @include mq($until: desktop) {
    left: -$spacing;
  }
}

/** DEFAULT STYLING OL */
ol {
  margin: 0;
  padding: 0;
  @include font-size(18px, 29px);

  ol {
    padding: 0 0 0 $spacing--nsmall;
  }
  // List item
  li {
    margin: 0;
    padding: $spacing--small 0 0 $spacing--small;
  }
}

/** DEFAULT STYLING UL */
ul {
  @include font-size(18px, 29px);
  margin: 0;
  padding: 0;
  list-style-type: disc;

  li::marker {
    color: $brand-color--secondary;
  }

  > li > ul {
    padding-left: $spacing;
    list-style-type: circle;

    > li > ul {
      list-style-type: square;
    }
  }

  li {
    margin: 0;
    padding: $spacing--small 0 0 $spacing--small;
  }
}
