.c-beta-navigation {
  margin: $spacing--large auto;

  @include mq(tablet) {
    margin-bottom: 156px + 65px;
    margin-top: 65px;
  }

  ul {
    margin: 0;
  }

  li:last-child {
    margin-bottom: 0;
  }

  a {
    color: $white;
    @include font-size(18px, 22px);
    font-weight: 400;

    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
}
