.c-logo {
  width: 120px;
  margin: 0;
  position: relative;

  &--beta {
    width: 170px;
    .c-logo__graphic {
      height: 48px;
      margin-right: 8px;
    }

    a {
      display: flex;
    }
  }

  &--large {
    width: 300px;
  }

  &--white {
    .c-logo {
      &__graphic {
        fill: $white;
      }
    }
  }

  &__graphic {
    fill: $brand-color;
  }

  &__beta {
    margin-top: 9px;
  }
}
