.c-logo {
  a {
    box-shadow: none;
  }
  width: 120px;
  margin: 0;
  position: relative;

  &--large {
    width: 287px;
  }

  &--white {
    .c-logo {
      &__graphic {
        fill: $white;
      }
    }
  }

  &__graphic {
    fill: $brand-color;
  }

  &__beta {
    margin-top: 9px;
  }
}
