.o-list--clean {
  margin: 0 0 2em;
  padding: 0;
  list-style: none;

  li {
    margin-left: 1em;
  }
}

.o-list--no-margin-top {
  margin-top: 0;
}

.o-list--colors {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.o-list__item--colors {
  list-style: none;
  margin: 0 $spacing--xsmall $spacing--xsmall 0;
  width: 180px;
  min-height: 140px;
}

.o-list--two-columns {
  list-style-position: inside;
  margin-left: -$spacing--small;
  padding: $spacing;

  @include mq(tablet) {
    column-count: 2;
    column-gap: $spacing;
  }

  @include mq(desktop) {
    padding-left: 0;
  }
}

.o-list__bgcolor {
  width: 100%;
  height: 120px;
  display: inline-block;
}

.o-list__label {
  display: inline-block;
  margin-bottom: $spacing;
}
