.o-wrapper {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;

  @include mq(mobileWide) {
    padding-left: $spacing;
    padding-right: $spacing;
  }

  &--inner {
    max-width: 585px;
    padding-left: $spacing;
    padding-right: $spacing;
  }

  &--medium {
    max-width: 680px;
    padding-left: $spacing;
    padding-right: $spacing;
  }

  &--wide {
    max-width: 1150px;
  }

  /* Add to clear masthead */
  &--clear {
    margin-top: $spacing;
  }

  &--clear-desktop {
    @include mq(tablet) {
      margin-top: $spacing;
    }
  }
}
