.o-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &--background {
    background-color: $brand-grey--lightest;
  }

  &--backgroundWide {
    @include mq(tablet) {
      background-color: $brand-grey--lightest;
    }
  }

  &--ndlaFilm {
    background-color: $film-color;
    min-height: 100vh;
    &.o-container--learningPath {
      @include mq($until: tablet) {
        background-color: #fff;
      }
    }
  }
}
