.c-licenseToggle__ctablock {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;

  button {
    margin-bottom: 0;
  }

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.c-licenseToggle__ctaWrapper {
  background-color: $white;
  padding: $spacing;
  margin-top: $spacing;
}
.c-licenseToggle__button {
  margin: 3% 0;
}
.c-licenseToggle__title {
  margin:0;
  padding-bottom: $spacing--small;
  @include inuit-font-size(18px);
  color: $brand-color;
}
