.c-translation {
  display: flex;
  margin: $spacing 0;
  padding: 0 0 $spacing 0;
  border-bottom: 2px solid $brand-color--lighter;
}
.c-translation__index {
  width: 7%;
  color: gray;
}
.c-translation__wrapper {
  width: 93%;
}
.c-translation__line {
  padding: 2px 4px;
  
  @include mq(tablet) {
    display: flex;
    vertical-align: middle;
    &:hover, &:focus {
      background: $brand-color--lighter;
      .c-translation__line-lang {
        display: inline-block;
      }
    }
  }
}
.c-translation__line-lang {
  display: inline-block;
  margin-bottom: $spacing--small;
  @include mq(tablet) {
    margin: auto 0 auto $spacing--small;
    display: none;
  }
  padding: 2px 4px;
  border-radius: 3px;
  background: $brand-color--tertiary;
  color: $brand-color;
  @include inuit-font-size(12px, 16px);
}