.c-translation {
  display: flex;
  margin: $spacing 0;
  padding: 0 0 $spacing 0;
  border-bottom: 2px solid $brand-color--lighter;
}
.c-translation__line-lang {
  margin: auto 0 auto $spacing--small;
  background: $brand-color--secondary;
  color: $white;
  display: flex;
  flex-wrap: wrap;
  @include font-size(12px, 20px);
  border-radius: 2px;
  font-weight: 600;
  padding: 0 $spacing--small/3;

  @include mq(tablet) {
    margin: auto 0 auto $spacing--small;
    display: none;
  }
}
.c-translation__index {
  width: 7%;
  height: 100%;
  padding-right: $spacing--small;
  color: $brand-color--secondary;
}
.c-translation__wrapper {
  width: 90%;
  display: block;
  margin: 0;
}
.c-translation__line {
  padding: 2px 4px;
  vertical-align: middle;
  display: flex;
  margin-left: 0;
}
.c-translation__line-body {
  @include chinese() {
    @include font-size(18px, 28px);

    @include mq(tablet) {
      @include font-size(20px, 32px);
    }
  }
}

.c-translation__line--lang:hover {
  background: $brand-color--lighter;
  .c-translation__line-lang {
    display: inline-block;
  }
}
