.c-hero {
  background-position: center;
  background-size: cover;

  @include mq(tablet) {
    min-height: 350px;
  }
  &__title {
    margin: 0;
    font-weight: $font-weight-normal;
    display: flex;
    vertical-align: middle;
  }
  &__content {
    color: $white;
    padding: 9% 0;
    z-index: 9;


    *,a:not([class]) {
      color: $brand-grey-dark;
    }
    a:hover {
      color: $brand-grey-dark;
      text-decoration: none;
    }
  }
  &--alt {
    background-repeat: repeat;
    background-size: 20px;
    background-color: $brand-color--light;
  }
  &--small {
    position: relative;
    @include mq(tablet) {
      min-height: 370px;
    }
    >::before {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: rgba($brand-color, 0.6);
    }
  }
  &--white {
    background-image: none;
    background-color: $brand-grey-dark;
    @include mq(tablet) {
      min-height: 170px;
    }
  }
}
