.c-hero {
  background-repeat: repeat;
  background-size: 20px;
  background-color: $brand-color--light;
  @include mq(tablet) {
    min-height: 330px;
  }
}
.c-hero--red {
  background-color: $mark-color;
  a {
    color: $black;
    border-bottom: 1px solid $brand-grey;
  }
  a:hover {
    color: $black;
    border: none;
  }
}
.c-hero--green {
  background-color: rgba($green, 1);
  a {
    color: $black;
    border-bottom: 1px solid $brand-grey;
  }
  a:hover {
    color: $black;
    border: none;
  }
}

.c-hero__content {
  padding: 90px 0 0;
  z-index: 9;
  @include mq(tablet) {
    padding: 100px 0 0;
  }
  @include mq(desktop) {
    padding: 13.5% 0 0;
  }
}
