/**
** MEDIALIST
** List all types of media (used in general license box)
**/

.c-medialist {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: $spacing 0;
}

.c-medialist__item {
  margin-bottom: $spacing--small;
  padding: $spacing--small 0;
  border-bottom: 1px solid $brand-color--tertiary;
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  &:last-child {
    border-bottom: none;
  }
}

.c-medialist__body {
  @include inuit-font-size(14px, 24px);
  @include mq(tablet) {
    max-width: 70% !important;
  }
  @include mq(970px) {
    max-width: 75% !important;
  }
}

.c-medialist__img {
  float: none;
  margin: 0 0 $spacing--small;
  @include mq(tablet) {
    width: 30% !important;
  }
  @include mq(970px) {
    width: 25% !important;
  }
  img {
    &.other-content-image {
      max-width: 70%;
      margin: $spacing;
    }
  }
  > div {
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lighten($brand-color--tertiary, 10);
    @include mq(tablet) {
      margin-right: $spacing;
    }
    a {
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      border: 2px solid $brand-color--tertiary;
      transition: all 300ms ease;
      width: 100%;
      &:hover, &:focus {
        border-color: $brand-color;
        background: lighten($brand-color--tertiary, 5);
      }
    }
  }
}

.c-medialist__actions {
  margin-top: $spacing--small;
  margin-bottom: $spacing--small;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  button, a {
    margin: 0 $spacing--small $spacing--small 0;
  }
}
.c-medialist__meta {
  margin-bottom: $spacing--small;
  padding-bottom: $spacing--small;
}
.c-medialist__meta-item {
  width: 100%;
  padding-right: $spacing--small;
  margin: $spacing--small / 4 0;
  line-height: 1.1rem;
}
.c-medialist__ref {
  background: $white;
  padding: $spacing--small $spacing $spacing;
  @include mq(tablet) {
    padding-left: $spacing--small + 24px;
  }
  margin-top: $spacing--small;
  margin-right: $spacing;
  width: 100%;
  @include mq($until: tablet) {
    .c-button {
      width: 100%;
      margin: $spacing--small / 4 0;
    }
  }
}
.c-medialist__icon {
  color: $brand-color;
  width: $spacing * 3;
  height: auto !important;
  margin: $spacing;
}
.c-medialist__title {
  margin-top: 0;
  margin-bottom: $spacing--small/2;
  @include inuit-font-size(16px);
  color: $brand-color;
}
