/**
** MEDIALIST
** List all types of media (used in general license box)
**/

.c-medialist {
  padding-left: 0;
  display: flex;
  flex-direction: column;
  margin: $spacing 0;
}

.c-medialist__item {
  margin-bottom: $spacing--small;
  padding: $spacing--small 0;
  border-bottom: 1px solid $brand-color--tertiary;
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  &:last-child {
    border-bottom: none;
  }
  img {
    width: 100%;
  }
}

.c-medialist__body {
  @include font-size(14px, 24px);
  @include mq(tablet) {
    max-width: 70% !important;
  }
  @include mq(970px) {
    max-width: 75% !important;
  }
}

.c-medialist__img {
  float: none;
  margin: 0 0 $spacing--small;
  @include mq(tablet) {
    width: 30% !important;
  }
  @include mq(970px) {
    width: 25% !important;
  }
  img {
    &.other-content-image {
      max-width: 70%;
      margin: $spacing;
    }
  }
  > div {
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background: lighten($brand-color--tertiary, 10);
    @include mq(tablet) {
      margin-right: $spacing;
    }
    a {
      box-shadow: none;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $border-radius;
      width: 100%;
      position: relative;
      &:before {
        content: '';
        display: block;
        position: absolute;
        right: $spacing--small;
        bottom: $spacing--small;
        border-radius: 100%;
        @include svg_icon(openInNew, #fff);
        background-color: $brand-color;
        background-size: 18px 18px;
        background-position-x: center;
        background-position-y: center;
        background-repeat: no-repeat;
        width: $spacing--medium;
        height: $spacing--medium;
      }
      &:hover {
        &:before {
          background-color: $brand-color--dark;
          transform: scale3d(1.1, 1.1, 1);
        }
      }
    }
  }
}

.c-medialist__actions {
  margin-top: $spacing--small;
  margin-bottom: $spacing--small;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  button,
  a {
    margin: 0 $spacing--small $spacing--small 0;
  }
}
.c-medialist__meta {
  margin-bottom: $spacing--small;
  padding-bottom: $spacing--small;
}
.c-medialist__meta-item {
  width: 100%;
  padding-right: $spacing--small;
  margin: $spacing--small / 4 0;
  line-height: 1.1rem;
}
.c-medialist__ref {
  background: $white;
  padding: $spacing--small $spacing;
  @include mq(tablet) {
    padding-left: $spacing--small + 24px;
  }
  margin-top: $spacing--small;
  margin-right: $spacing;
  width: 100%;
  @include mq($until: tablet) {
    button,
    a {
      width: 100%;
      margin: $spacing--small / 4 0;
    }
  }
}
.c-medialist__icon {
  color: $brand-color;
  width: $spacing * 3;
  height: auto !important;
  margin: $spacing;
}
.c-medialist__title {
  margin-top: 0;
  margin-bottom: $spacing--small/2;
  @include font-size(16px, 1.5);
  color: $brand-color;
  + p {
    margin-top: 0;
  }
}
