$mq-breakpoints: (
  mobile: 320px,
  mobileWide: 476px,
  tablet: 601px,
  tabletWide: 768px,
  desktop: 981px,
  wide: 1301px,
  ultraWide: 1601px
);

@import '../../../node_modules/sass-mq/mq';

// expose breakpoints to js

body:before {
  display: none;

  @include mq(mobile) {
    content: 'mobile';
  }

  @include mq(tablet) {
    content: 'tablet';
  }

  @include mq(desktop) {
    content: 'desktop';
  }

  @include mq(wide) {
    content: 'wide';
  }
}
