@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,600,700,700i&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,700&amp;subset=latin-ext');
$font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$font-serif: 'Source Serif Pro', Georgia, serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semibold: 600;
$font-weight-bold: 700;
