$inuit-global-font-size: 18px;
$inuit-global-line-height: 26px;
$inuit-global-radius: 4px;
$inuit-global-border-width: 2px;
$darken-factor: 10%;
$max-text-width: 550px;
$border-radius: $inuit-global-radius;
$border-radius--large: 50%;
$transition: all .2s cubic-bezier(0.17, 0.04, 0.03, 0.94);
$transition--long: all .5s cubic-bezier(0.17, 0.04, 0.03, 0.94);

@mixin max-width() {
  max-width: 100%;
  @include mq(desktop) {
    max-width: 60%;
  }
}
@mixin aside-max-width() {
  max-width: 100%;
  @include mq(tablet) {
    max-width: 30%;
  }
}
@mixin full-width() {
  margin: 0 calc(-50vw / 2) $spacing;
  padding: $spacing calc(50vw / 2);
}
