/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * NDLA Brand colors
 */

$brand-color: #20588f;
$brand-color--secondary: #507aa4;
$brand-color--tertiary: #a5bcd3;
$brand-color--light: #ceddea;
$brand-color--lighter: #deebf6;
$brand-color--dark: #184673;

/**
 * NDLA Grays
 */

$brand-grey: #777777;
$brand-grey--light: #e8e3e3;
$brand-grey--lighter: #eff0f2;
$brand-grey--lightest: #f8f8f8;
$brand-grey-dark: #4d4d4d;

/**
 * Content type colors
 */

$subject-light: $brand-color--light;
$subject-dark: $brand-color--dark;

$subject-material-light: #dde9d0;
$subject-material-dark: #5c6a4f;
$subject-material-additional: rgba($subject-material-light, 0.4);

$external-learning-resource-background: #d0e8de;
$external-learning-resource-light: #e6f3ed;
$external-learning-resource-dark: #4f7d76;
$external-learning-resource-additional: rgba($external-learning-resource-background, 0.4);

$source-material-light: #dce5e0;
$source-material-dark: #636e68;
$source-material-additional: rgba($source-material-light, 0.4);

$tasks-and-activities-background: #f8e0c4;
$tasks-and-activities-light: #fbeddc;
$tasks-and-activities-dark: #d98229;
$tasks-and-activities-additional: rgba($tasks-and-activities-light, 0.4);

$assessment-resource-background: #efd5d5;
$assessment-resource-light: #f5e7e5;
$assessment-resource-dark: #c0676f;
$assessment-resource-additional: rgba($assessment-resource-light, 0.4);

$learning-path-background: #f2efef;
$learning-path-light: $brand-grey--light;
$learning-path-dark: #797979;

/**
 * Supplementary colors,
 */

$primary-color: #444;
$text-light-color: #757575;
$white: #fff;
$black: #272728;
$mark-color: #da788d;
$red: #d1372e;
$red-light: rgba($red, 0.3);

$green: #5cbc80;
$green-light: rgba($green, 0.3);

$yellow: #ead854;
$yellow-light: rgba($yellow, 0.3);

$table-bg: #f9fafb;

/** Link colors **/

$link: inset 0 -1px $brand-color;
$link--hover: none;

/** Background colors **/

$background-color: #fff; /*old: EFF0F2 (gray)*/
$background-color--dark: darken($background-color, $darken-factor);
$background-color--darker: darken($background-color, $darken-factor * 2);
$background-color--light: lighten($background-color, $darken-factor);
$background-color--gray: $brand-grey--lightest;
$background-color--gray-dark: #e4e4e4;

/**
 * Expose sass variables as css variables
 */

:root {
  --brand-color: $brand-color;
  --brand-color--secondary: $brand-color--secondary;
  --brand-color--tertiary: $brand-color--tertiary;
  --brand-color--light: $brand-color--light;
  --brand-color--lighter: $brand-color--lighter;

  --brand-grey: $brand-grey;
  --brand-grey--light: $brand-grey--light;
  --brand-grey--lighter: $brand-grey--lighter;
  --brand-grey--lightest: $brand-grey--lightest;
  --brand-grey-dark: $brand-grey-dark;

  --primary-color: $primary-color;
  --text-light-color: $text-light-color;
  --white: $white;
  --black: $black;
  --mark-color: $mark-color;
  --brand-color--dark: $brand-color--dark;
  --green: $green;
  --red: $red;

  --background-color: $background-color;
  --background-color--dark: $background-color--dark;
  --background-color--darker: $background-color--darker;
  --background-color--light: $background-color--light;
  --background-color--gray: $background-color--gray;
  --background-color--gray-dark: $background-color--gray-dark;
}
