/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * NDLA Brand colors
 */

$brand-color: #20588F;
$brand-color--secondary: #507AA4;
$brand-color--tertiary: #a5bcd3;
$brand-color--light: #ceddea;
// $brand-color--lighter: #deebf6;

/**
 * NDLA Grays
 */

$brand-grey: #8A8888;
$brand-grey--light: #E8E3E3;
$brand-grey--lighter: #EFF0F2;
$brand-grey--lightest: #F8F8F8;
$brand-grey-dark: #4d4d4d;

/**
 * Supplementary colors
 */

$primary-color: #1c1717;
$white: #fff;
$black: #000;
$mark-color: #FE5F55;

$table-bg: #F0F5F9;


// Old stuff etc - remove?

$grey-color: #8A8888;



$background-color: #fff; /*old: EFF0F2 (gray)*/
$background-color--dark: darken($background-color, $darken-factor);
$background-color--darker: darken($background-color, $darken-factor * 2);
$background-color--light: lighten($background-color, $darken-factor);
$background-color--gray: #f8f8f8;
$background-color--gray-dark: #e4e4e4;
