@keyframes expand {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0.2;
    display: block;
    transform: scale3d(1, 0, 1);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

@keyframes fadeIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    display: block;
  }
  1% {
    opacity: 1;
    display: flex;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes fadeInLeftFlex {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInRightFlex {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: inline-block;
    transform: translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInRight {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateX(20px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInTop {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInBottomFixed {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fadeInBottom {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    opacity: 0;
    display: flex;
    transform: translateY(-40%);
  }
  100% {
    opacity: 1;
    transform: translateY(-50%);
  }
}

@keyframes zoomIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    transform: scale3d(0, 0, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@mixin fadeInLeftItems($item, $count) {
  @for $i from 1 through $count {
    #{$item}:nth-of-type(#{$i}) {
      // @include transition($a-delay linear ($a-duration + ($i - 1) * 0.1));
      animation-name: fadeInLeft;
      animation-duration: (.05s+$i/10);
    }
    // @debug $i;
  }
}

@keyframes slideIn {
  0% {
    display: none;
    opacity: 0;
    transform: translateX(100%);
  }
  1% {
    opacity: 0.1;
    display: block;
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    transform: translateX(0%);
  }
}


/* Modal animations */
@keyframes modal-zoomIn {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: flex;
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-zoomIn-exit {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  99% {
    transform: translate3d(0, 40px, 0);
    opacity: 0;
  }
  100% {
    display: none;
    opacity: 0;
  }
}

@keyframes modal-slideup {
  0% {
    transform: translate3d(0, 100vh, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-slideup-exit {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 100vh, 0);
  }
}

@keyframes modal-slidedown {
  0% {
    opacity: 0;
    transform: translate3d(0, -52px, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
@keyframes modal-slidedown-exit {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(0, -52px, 0);
  }
}
