$inuit-global-font-size: 18px;
$inuit-global-line-height: 24px;
$inuit-global-radius: 3px;
$inuit-global-border-width: 3px;
$darken-factor: 10%;

@mixin max-width() {
  max-width: 620px;
}
@mixin full-width() {
  margin: 0 calc(-50vw / 2) $spacing;
  padding: $spacing calc(50vw / 2);
}
