$primary-color: #1c1717;
$secondary-color: #e8e3e3;
$background-color: #f8f8f8;
  $background-color--dark: darken(#f8f8f8, $darken-factor);
  $background-color--light: lighten(#f8f8f8, $darken-factor);
$mark-color: #FE5F55;
$brand-color: #20588F;
$white: #fff;
