/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * Brand colors
 */

$brand-color: #20588F;
$brand-color--light: #507AA4;
$brand-color--lighter: lighten(#507AA4, $darken-factor * 2.5);
$brand-color--lightest: #ceddea;
$primary-color: #1c1717;

/* $secondary-color: #e8e3e3; */
$secondary-color: #8A8888;
$grey-color: #8A8888;

 /**
  * Supplementary colors
  */

$background-color: #EFF0F2;
$background-color--dark: darken($background-color, $darken-factor);
$background-color--darker: darken($background-color, $darken-factor * 2);
$background-color--light: lighten($background-color, $darken-factor);
$background-color--gray: #f8f8f8;
$mark-color: #FE5F55;
$white: #fff;
