/* ==========================================================================
   #COLORS
   ========================================================================== */

/**
 * NDLA Brand colors
 */

$brand-color: #20588F;
$brand-color--secondary: #507AA4;
$brand-color--tertiary: #B7CDE2;
$brand-color--light: #ceddea;
$brand-color--lighter: #deebf6;


/**
 * NDLA Grays
 */

$brand-grey: #777777;
$brand-grey--light: #E8E3E3;
$brand-grey--lighter: #EFF0F2;
$brand-grey--lightest: #F8F8F8;
$brand-grey-dark: #4d4d4d;

/**
 * Supplementary colors,
 */

$primary-color: #1c1717;
$white: #fff;
$black: #272728;
$mark-color: #DA788D;
$brand-color--dark: #184673;
$green: #5CBC80;
$yellow: #EAD854;

$table-bg: #f9fafb;


$background-color: #fff; /*old: EFF0F2 (gray)*/
$background-color--dark: darken($background-color, $darken-factor);
$background-color--darker: darken($background-color, $darken-factor * 2);
$background-color--light: lighten($background-color, $darken-factor);
$background-color--gray: $brand-grey--lightest;
$background-color--gray-dark: #e4e4e4;

/**
 * Expose sass variables as css variables
 */

:root {
  --brand-color: $brand-color;
  --brand-color--secondary: $brand-color--secondary;
  --brand-color--tertiary: $brand-color--tertiary;
  --brand-color--light: $brand-color--light;
  --brand-color--lighter: $brand-color--lighter;

  --brand-grey: $brand-grey;
  --brand-grey--light: $brand-grey--light;
  --brand-grey--lighter: $brand-grey--lighter;
  --brand-grey--lightest: $brand-grey--lightest;
  --brand-grey-dark: $brand-grey-dark;

  --primary-color: $primary-color;
  --white: $white;
  --black: $black;
  --mark-color: $mark-color;
  --brand-color--dark: $brand-color--dark;
  --green: $green;

  --background-color: $background-color;
  --background-color--dark: $background-color--dark;
  --background-color--darker: $background-color--darker;
  --background-color--light: $background-color--light ;
  --background-color--gray: $background-color--gray;
  --background-color--gray-dark: $background-color--gray-dark;
}