.c-audio-player {
  &__controls {
    display: flex;
    align-items: center;
    background: $brand-grey--lightest;
    margin-bottom: $spacing--small;
    padding: 8px 16px;
  }

  &__play {
    background: none;
    border: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin-right: $spacing--small;
    cursor: pointer;
  }

  &__play-icon {
    display: inline-flex;
    align-items: center;
  }

  &__pause-icon {
    display: none;
    align-items: center;
  }

  &__info {
    margin-bottom: $spacing--small;
    @include inuit-font-size(14px, 22px);
  }

  &__time {
    margin-right: $spacing--small;
    @include inuit-font-size(14px, 22px);
  }

  &--playing {
    .c-audio-player {
      &__play-icon {
        display: none;
      }

      &__pause-icon {
        display: inline-flex;
      }
    }
  }

  &__progress {
    position: relative;
    height: 30px;
    cursor: pointer;
    flex: 1 1 auto;
  }

  &__progress-background, &__progress-played {
    position: absolute;
    top: 10px;
    left: 0;
    height: 10px;
  }

  &__progress-background {
    background: $brand-color--tertiary;
    width: 100%;
  }

  &__progress-played {
   background: $brand-color--secondary;
  }

  .c-license-icons {
    &__list {
      flex-direction: row;
      text-align: center;
      justify-content: center;
      margin-right: $spacing--small;
    }

    &__item {
      padding-bottom: 0;
    }
  }
}
