/**
** Aside
** Used to display "facts box" or secondary column for older articles (using --float modifier).
**/

.c-aside {
  position: relative;
  margin: $spacing--large 0;
  @include inuit-font-size(16px);
  z-index: 1;

  @include mq(tablet) {
    @include float(3, 4, 'right');
    max-width: 350px;
  }
}

.c-aside__content {
  color: $brand-grey-dark;
  padding: $spacing $spacing $spacing--large;
  border: 1px solid $brand-grey--light;
}

.c-aside img {
  box-shadow: 0px 0px 9px -3px $brand-grey;
}

.c-aside figure {
  // Overrule default images width
  width: 100% !important;
  left: 0 !important;
  padding: 0;
}

.c-aside h2:first-child {
  margin-top: 0;
  margin-bottom: $spacing;
  @include inuit-font-size(22px, 34px);
  font-weight: $font-weight-bold;
  position: relative;
  z-index: 2;
}

.c-aside h2,
.c-aside h3,
.c-aside h4,
.c-aside h5 {
  display: block;
  @include inuit-font-size(16px);
  letter-spacing: 0.1em;
  margin-top: $spacing;
  margin-bottom: $spacing--small;
  border-bottom: 1px solid $brand-color--light;
}

.c-aside__content > ul:not([class]),
.c-aside__content :not(li) > ul:not([class]) {
  @include mq(desktop) {
    margin-left: $spacing;
  }
}

.c-aside__content > ol:not([class]),
.c-aside__content :not(li) > ol:not([class]),
.c-aside__content .ol-list--roman {
  @include mq(desktop) {
    margin-left: $spacing--large;
  }
}
