/**
** TABS
** Tabs Component
**/

$tabs-spacing: 12px;
.c-tabs {
  margin-left: $spacing;
  @include mq($from: desktop) {
    margin-left: 0;
  }

  &__tab {
    display: inline-block;
    padding: ($tabs-spacing / 2) $tabs-spacing;
    margin-bottom: 0;
    transform: translateY(3px);
    font-family: $font;

    &:hover {
      color: $brand-color;
      cursor: pointer;
    }

    & + .c-tabs__tab {
      margin-left: $tabs-spacing;
    }

    &--no-margin {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }

    &--button-based {
      padding: 0 $spacing--small;
      &:first-child {
        padding-left: 0;
      }
      border-bottom: 5px solid transparent;
      button {
        transition: $transition;
        transform: none;
        font-weight: $font-weight-bold;
        border: 0;
        background: 0;
        padding: $spacing--small 0;
        font-size: inherit;
        font-family: inherit;
        color: inherit;
      }
    }

    &--dropdown-btn {
      margin: 0;
      padding-right: 0;
      float: right;
      position: relative;
      z-index: 1;
      > button {
        padding-right: ($spacing--small) / 2 !important;
        text-align: left;
      }
    }

    &--selected {
      color: $brand-color;
      border-bottom: 5px solid $brand-color;

      &.c-tabs__tab--muted {
        color: inherit;
        border-bottom: 5px solid lighten($brand-color, 40%);
      }

      &.c-tabs__tab--button-based {
        border-bottom: 0;
        button {
          border-bottom: 5px solid $brand-color;
        }
      }
    }

    &--disabled {
      color: $brand-grey;
      &:hover {
        color: $brand-grey--light;
        cursor: default;
      }
    }
  }

  &__tab-dropdown {
    position: absolute;
    z-index: 1;
    transform: translateX(9999px);
    opacity: 0;
    margin: 0;
    padding: ($spacing--small / 2) 0 $spacing--small 0;
    right: 0;
    > ul {
      margin: 0;
      padding: 0;
      > li {
        display: block;
        text-align: center;
        padding: 0;
        button {
          color: $primary-color;
          width: 100%;
          text-align: left;
          padding-left: $spacing--small;
          padding-right: $spacing--small;
          //transform: translateX(-$spacing--small);
          &:focus, &:hover {
            background-color: $brand-grey--light;
            color: $brand-color;
          }
        }
      }
    }
    &--visible {
      transform: translateY(2px);
      animation-name: tabDropdownAnimation;
      animation-duration: 200ms;
      animation-fill-mode: forwards;
      opacity: 0;
      display: block;
      border: 1px solid $brand-grey--lightest;
      background: #fff;
      box-shadow: 0 0 30px rgba($black, 0.2);
    }
  }

  &__list {
    max-width: 100%;
    @include font-size(18px);
    font-weight: $font-weight-bold;
    list-style: none;
    margin: $spacing/1.4 0 $spacing--small;
    border-bottom: 1px solid $brand-color--tertiary;
    padding: 0;
    &--singleLine {
      @include mq($until: mobileWide) {
        max-width: auto;
        overflow-x: scroll;
        -webkit-overflow-scrolling-x: touch;
        overflow-y: hidden;
        min-width: 100%;
        display: flex;
        li {
          white-space: nowrap;
        }
      }
    }
  }

  &__panel {
    &[aria-hidden='true'] {
      @include visually-hidden();
    }
  }
}

// fix for when inside dialog..
.c-tabs__list--singleLine {
  @include mq($until: mobileWide) {
    animation-name: fadeInRightFlex;
    animation-duration: 0.6s;
    min-width: calc(100% + 52px);
    margin-left: -$spacing !important;
    li {
      &:first-child {
        margin-left: $spacing;
      }
      &:last-child:after {
        content: "";
        display: inline-flex;
        width: $spacing;
      }
    }
  }
}

@keyframes tabDropdownAnimation {
  0% {
    opacity: 0;
    transform: translate3d(0px, -8px, 0px);
  }
  100% {
    opacity: 1;
    transform: translate3d(0px, 2px, 0px);
  }
}
