/* Close button */
.u-close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}

/* Float article objects */
.u-float-left {
  @include float(3, 4, 'left');
}
.u-float-right {
  @include float(3, 4, 'right');
}

.u-fade-in {
  animation-name: fadeIn;
  animation-duration: .3s;
  opacity: 1;
}
