.u-mark {
  color: $mark-color;
}
.u-heading {
  border-bottom: $brand-color--tertiary $inuit-global-border-width solid;
}
.u-serif {
  font-family: $font-serif;
}
.u-text-inverted {
  color: $white;
}
.u-text-center {
  text-align: center;
}
p.article_introduction {
  @include inuit-font-size(26px, 36px);
  font-weight: $font-weight-light;
  font-family: $font;
  margin-top: $spacing*1.5;
}
