/* Close button */
.u-close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}

/* Float article objects */
.u-float-left {
  @include float(3, 4, 'left');
}
.u-float-right {
  @include float(3, 4, 'right');
}
.u-float-small-left {
  @include float(2, 4, 'left');
}
.u-float-small-right {
  @include float(2, 4, 'right');
}
.u-float-xsmall-left {
  @include float(2, 4, 'left');
  @include mq(tablet) {
    @include float(1, 4, 'left');
    margin: $spacing--small $spacing $spacing 0;
  }
  @include mq(desktop) {
    margin: $spacing--small $spacing $spacing 0;
  }
}
.u-float-xsmall-right {
  @include float(2, 4, 'right');
  @include mq(tablet) {
    @include float(1, 4, 'right');
    margin: $spacing--small 0 $spacing $spacing;
  }
  @include mq(desktop) {
    margin: $spacing--small 0 $spacing $spacing;
  }
}

/* MISC */
.u-hidden {
  display: none !important;
}

.u-toggle {
  display: none;
}
.u-expanded {
  height: auto;
}
.u-overlay {
  cursor: default;
  position: fixed;
  display: block;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}
.u-fullw {
  width: 100%;
}
.u-fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  opacity: 1;
}

.u-fade-out {
  animation-name: fadeOut;
  animation-duration: 0.3s;
  opacity: 0;
}

.u-fade {
  &-enter {
    opacity: 0.1;
    transition-property: opacity;
    transition-timing-function: ease;

    &-active {
      opacity: 1;
    }
  }

  &-exit {
    transition-property: opacity;
    transition-timing-function: ease;
    opacity: 1;

    &-active {
      opacity: 0;
    }
  }
}

.u-no-wrap {
  white-space: nowrap;
}
