.u-mark {
  color: $mark-color;
}
.u-heading {
  border-bottom: $brand-color--tertiary $inuit-global-border-width solid;
}
.u-serif {
  font-family: $font-serif;
}
.u-text-inverted {
  color: $white;
}
.u-text-center {
  text-align: center;
}

.u-large-body-text {
  @include font-size(18px, 30px);

  @include mq(tablet) {
    @include font-size(20px, 34px);
  }
}
.article_introduction {
  &,
  p {
    font-weight: $font-weight-light;
    font-family: $font;
    margin-top: $spacing--small;
    @include inuit-font-size(20px, 32px);
    @include mq(tablet) {
      margin-top: $spacing*1.5;
      @include inuit-font-size(26px, 36px);
    }
  }
}
