/* Close button */
.u-close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}

/* Float article objects */
.u-float-left {
  @include float(3, 4, 'left');
}
.u-float-right {
  @include float(3, 4, 'right');
}
.article_figure--float-left {
  @include float(3, 4, 'left');
}
.article_figure--float-right {
  @include float(3, 4, 'right');
}

/* Float tools */
.u-float-right {
  float: right;
}

/* MISC */
.u-hidden {
  display: none !important;
}
.u-toggle {
  display: none;
}
.u-expanded {
  height: auto;
}
.u-overlay {
  cursor: default;
  position: fixed;
  display: block;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  width: 100%;
}
.u-fullw {
  width: 100%;
}
.u-fade-in {
  animation-name: fadeIn;
  animation-duration: .3s;
  opacity: 1;
}

.u-fade-out {
  animation-name: fadeOut;
  animation-duration: .3s;
  opacity: 0;
}
