.c-listview-dialog {
  position: fixed;
  top: 20%;
  left: 25%;
  width: 50%;
  background: $white;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  padding: $spacing;

  &__image {
    height: 347px;
    overflow: hidden;

    img {
      display: block;
      margin: 0 auto 0 auto;
      position: relative;
      height: 95%;
      width: auto;
    }
  }

  &__name {
    margin: 0;
    font-weight: $font-weight-bold;
  }

  &__subject {
    color: $text-light-color;
    @include inuit-font-size(16px);
  }

  &__category {
    @include inuit-font-size(12px);
    background: $brand-grey--lightest;
    display: inline-block;
    font-weight: 600;
    border-radius: 0.2em;
    padding: 0.3rem;
    line-height: .5rem;
    margin-left: 0.5em;
  }

  &__description {
    font-family: $font-serif;
  }

  &__topbar {
    display: block;
    text-align: right;
  }
  &__close {
    background: transparent;
    border: none;
    color: $brand-color;
    line-height: 1.5rem;

    &:hover {
      cursor: pointer;

      span {
        border-bottom: none;
      }
    }

    &-label {
      border-bottom: 1px solid $brand-color;
    }
  }

  &__footer {
    display: flex;
  }

  &__navitem {
    flex-basis: 50%;
  }

  &__navbutton {
    @include inuit-font-size(16px);
    background-color: $brand-color--lighter;
    border: none;
    border-top: 2px solid $brand-color;
    color: $brand-color--dark;
    font-weight: 600;
    padding: $spacing--small $spacing $spacing--small $spacing;
    min-width: 260px;

    &--previous {
      text-align: left;
    }

    &--next {
      text-align: right;
      float: right;
    }
  }
}
