.c-subject-box {
  margin-bottom: $spacing--large;

  &--hasWrapper {
    margin-bottom: 0;
  }

  &__wrapper {
    margin-bottom: $spacing--large;
  }

  @include mq(tablet) {
    border: 1px solid $brand-grey--light;
  }

  &--fixedWidth {
    max-width: 350px;
  }

  &__media-wrapper {
    width: 100%;

    & > * {
      width: 100%;
    }
  }

  &__content {
    padding: $spacing--small 0 0 0;

    @include mq(tablet) {
      padding: $spacing;
    }
  }

  &__heading {
    @include font-size(20px, 32px);
    margin: 0 0 $spacing--small 0;

    &--smallHeading {
      @include font-size(14px, 32px);
      text-transform: uppercase;
      font-weight: 700;
    }

    &--top {
      @include font-size(16px, 32px);
      text-transform: uppercase;
      font-weight: 700;

      @include mq(tablet) {
        display: none;
      }
    }

    &--main {
      display: none;

      @include mq(tablet) {
        display: block;
      }
    }
  }

  &__top-heading {
    @include font-size(16px, 32px);
    text-transform: uppercase;
    margin: 0 0 $spacing--small 0;
    font-weight: 700;

    @include mq(tablet) {
      @include visually-hidden();
    }
  }


  &__description {
    margin: 0;
    @include font-size(16px, 26px);
  }

  &__archive {
    margin: $spacing 0 0 0;
    color: $brand-color--secondary;
    @include font-size(14px, 18px);

    box-shadow: none;
    display: flex;
    align-items: center;

    .c-icon {
      width: 18px;
      height: 18px;
      margin-right: $spacing--small/2;
    }
  }
}
