.c-topic-shortcuts {
  @include inuit-font-size(14px);
  min-height: 40px;
  padding: $spacing--small 0 0 0;
  display: none;
  align-items: center;

  @include mq(tablet) {
    display: flex;
  }

  .c-icon {
    color: $brand-color;
  }

  &:hover {
    cursor: default;
  }

  &__button {
    background: none;
    border: 0;
    display: flex;
    align-items: center;
    padding: 0;
    cursor: pointer;
  }

  &__label {
    color: $brand-color--secondary;
    display: inline-block;
    font-weight: 600;
    line-height: 1rem;
    margin-left: $spacing--small / 4;
  }

  &__list {
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    line-height: 1rem;
  }

  &__item {
    display: inline-flex;
    align-items: center;
    margin: 0;
    line-height: 1rem;
    border-right: 1px solid $brand-grey--light;
    padding: 0 $spacing--small 0 $spacing--small;
    position: relative;
  }

  &__count {
    color: $brand-color--secondary;
    font-weight: 600;
    margin-left: $spacing--small / 2;
    padding: 0 $spacing--small/3;
    box-shadow: $link;
  }

  &__item-link {
    box-shadow: none;
    display: flex;
    align-items: center;

    &:hover,
    &:active,
    &:focus {
      .c-topic-shortcuts__item-link {
        box-shadow: $link;
      }
    }
  }

  &__tooltip {
    display: block;
    position: absolute;
    top: -2.25em;
    left: -1em;
    width: 200px;
    line-height: 1rem;
    text-align: center;
    font-weight: 600;
    color: $white;
    background-color: $brand-color;
    padding: $spacing--small / 2;
  }
}
