$subject-margin: $spacing--medium + $spacing--large;
$subject-section-padding: 100px;

@import './component.subject-header';
@import './component.subject-shortcut';
@import './component.subject-links';
@import './component.subject-box';
@import './component.subject-carousel';
@import './component.subject-topic-shortcuts';
@import './component.subject-concepts';

.c-subject-content {
  &__breadcrumb {
    margin: $spacing--medium 0 0 $subject-margin;
  }

  &__content {
    margin-top: $spacing--large;
    display: flex;

    &--twoColumns {
      flex-flow: column;
    }
  }
}

.c-subject-sidebar-wrapper {
  flex-basis: 390px;
  flex-shrink: 0;
  margin-top: 9px;
}

.c-subject-social {
  &__content {
    display: flex;
  }

  &__section {
    flex-basis: 50%;
    &:nth-child(odd) {
      margin-right: $spacing;
    }
  }

  .fb-embedded {
    width: 100% !important;
    overflow: hidden;
    display: block;
  }
}

.c-subject-flex {
  display: flex;

  &__child {
    flex-basis: 50%;
    box-sizing: border-box;
    padding-right: $spacing--large;

    & > * {
      margin-bottom: 0;
    }
  }

  margin-bottom: $subject-section-padding;
}

.c-subject-section-title {
  margin: 0 0 $spacing 0;
  @include inuit-font-size(22px);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
}

.c-subject-child-content {
  padding-left: $subject-margin;
}
