.c-subject-new-content {
  @include mq($until: tablet) {
    margin-bottom: $spacing--large;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__left-wrapper {
    display: flex;
    justify-content: flex-start;
    flex-flow: column;
    align-items: flex-start;

    @include mq(tablet) {
      flex-flow: row;
      align-items: center;
    }

    .c-icon {
      width: 14px;
      height: 14px;
      margin-left: $spacing--small/2;
      margin-right: $spacing--small/2;
      color: $text-light-color;
      display: none;
      flex-flow: row;

      @include mq(tablet) {
        display: block;
      }
    }
  }

  &__link {
    color: $brand-color--dark;
    font-weight: 600;
    @include font-size(16px, 20px);
    margin-bottom: $spacing--small/2;

    @include mq(tablet) {
      @include font-size(18px, 30px);
    }
  }

  &__topic-name,
  &__date {
    color: $text-light-color;
    @include font-size(14px, 18px);

    @include mq(tablet) {
      @include font-size(16px, 20px);
    }
  }

  &__date {
    align-self: flex-end;

    @include mq(tablet) {
      align-self: center;
    }
  }
}
