$subject-margin: $spacing--medium + $spacing--large;

@import './component.subject-header';
@import './component.subject-shortcut';
@import './component.subject-links';
@import './component.subject-box';
@import './component.subject-carousel';
@import './component.subject-topic-shortcuts';
@import './component.subject-concepts';

.c-subject-content {
  &__breadcrumb {
    margin: $spacing--medium 0 0 $subject-margin;
  }

  &__content {
    margin-top: $spacing--large;
    display: flex;
  }

  &__title {
    @include inuit-font-size(22px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
  }
}

.c-subject-sidebar-wrapper {
  flex-basis: 390px;
  flex-shrink: 0;
  margin-top: 9px;
}

.c-subject-social {
  &__title {
    @extend .c-subject-content__title;
  }
  
  &__content {
    display: flex;
  }

  &__section {
    flex-basis: 50%;
    &:nth-child(odd) {
      margin-right: $spacing;
    }
  }

  .fb-embedded {
    width: 100% !important;
    overflow: hidden;
    display: block;
  }
}
