.c-subject-new-content {
  @include mq($until: tablet) {
    margin-bottom: $spacing--large;
  }

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__left-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    .c-icon {
      width: 14px;
      height: 14px;
      margin-left: $spacing--small/2;
      margin-right: $spacing--small/2;
    }

    .c-content-type-badge {
      margin-top: $spacing;
    }

    .c-subject-new-content__content-link {
      padding-left: $spacing;
      padding-bottom: $spacing--small;
    }
  }

  &__link {
    color: $brand-color--dark;
    font-weight: 600;
    @include font-size(16px, 20px);
    margin-bottom: $spacing--small/2;

    @include mq(tablet) {
      @include font-size(18px, 30px);
    }
  }

  &__topic-name,
  &__date {
    color: $text-light-color;
    @include font-size(14px, 18px);

    @include mq(tablet) {
      @include font-size(16px, 20px);
    }
  }

  &__date {
    align-self: flex-end;

    @include mq(tablet) {
      align-self: center;
    }
  }
}
