.c-subject-carousel {
  margin-bottom: $subject-section-padding;

  &__image {
      background-color: $background-color--gray-dark;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      height: 125px;
      width: 100%;
      border-radius: .3em;
      position: relative;
  }

  &__title {
    margin: $spacing--small 0 0 0;
    font-weight: $font-weight-bold;
    @include inuit-font-size(20px);
  }

  &__description {
    @include inuit-font-size(14px);
    line-height: 1.25rem;
    font-family: $font-serif;
    margin: 0;
  }

  &__type {
    @include inuit-font-size(12px);
    position: relative;
    top: 68%;
    left: 10px;
    display: inline-block;
    background: $brand-grey--lightest;
    border-radius: 0.2em;
    padding: 0 0.2rem 0 0.2rem;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 1.5em;
  }

  &__subject {
    padding: 0 $spacing 0 0;

    .c-icon {
      color: $white;
      height: 52px;
      width: 52px;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-left: -26px;
      margin-top: -26px;
    }
  }



  &__link {
    color: $primary-color;
  }

  &__arrow {
    display: none;
    position: absolute;
    top: $spacing;
    height: 76px;
    width: 76px;
    background: rgba(0, 0, 0, 0.3);
    border: 0;
    border-radius: 100%;
    align-items: center;
    justify-content: center;
    z-index: 1;
    cursor: pointer;

    .c-icon {
      color: $white;
      width: 64px;
      height: 64px;
    }

    &--prev {
      left: $spacing;
    }

    &--next {
      right: $spacing*2;
    }

  }

  &__slider {
    &:hover {
      .c-subject-carousel__arrow {
        display: flex;
        animation-name: fadeIn;
        animation-duration: 0.2s;

        &.slick-disabled {
          display: none;
        }
      }
    }
  }
}


/* Default react-slick style
   Included here to avoid having to import jQuery dependency package to project */
.slick-list,.slick-slider,.slick-track{position:relative;display:block}.slick-loading .slick-slide,.slick-loading .slick-track{visibility:hidden}.slick-slider{box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:0}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-list,.slick-slider .slick-track{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{top:0;left:0}.slick-track:after,.slick-track:before{display:table;content:''}.slick-track:after{clear:both}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir=rtl] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}/*# sourceMappingURL=slick.min.css.map */
