.masthead {
  border-bottom: 1px solid $brand-grey--lighter;
  z-index: 99;
}
.masthead > div {
  justify-content: center;
  text-align: center;
  padding: $spacing--small $spacing;
  text-transform: uppercase;
  font-weight: $font-weight-normal;

  @include mq(tablet) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
.masthead__left {
}
.masthead__right {
  padding: $spacing--small 0;
  flex-grow: 1;
    @include mq(tablet) {
      text-align:right;
      padding:0;
    }
    @include mq(desktop) {
      text-align:right;
      flex-grow: 1;
    }
}
