.c-masthead {
  z-index: 99;
  position: relative;
  background: white;
  border-bottom: 1px solid $brand-grey--lighter;
  min-height: $masthead-height;
  display: flex;
  flex-flow: column;
  justify-content: flex-end;

  &__skip-to-main-content {
    left: -999px;
    position: absolute;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
    z-index: -999;
    &:focus,
    &:active {
      color: #fff;
      background: $brand-color;
      left: auto;
      top: auto;
      width: 30%;
      height: auto;
      overflow: auto;
      margin: 10px 35%;
      padding: 5px;
      border-radius: 15px;
      border: 4px solid $brand-color--tertiary;
      text-align: center;
      font-size: 1.2em;
      z-index: 9999;
      animation-name: fadeIn;
      animation-duration: 0.3s;
    }
  }

  &--fixed {
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    @media print {
      position: relative;
    }
  }

  &--ndlaFilm {
    background: $film-color-light;
    background-image: linear-gradient(0deg, $film-color-light, $film-color);
    border: 0;
    border-bottom: 1px solid $film-color-lighter;
    .c-breadcrumb-block,
    .c-breadcrumb-block__item,
    .c-breadcrumb-block__item a,
    .c-breadcrumb-block__item span,
    .c-breadcrumb-block__item .c-icon {
      color: #fff;
    }
  }

  &__placeholder {
    min-height: $masthead-height;
    width: 100%;
    @media print {
      min-height: revert;
    }
  }

  &__content {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: $spacing--small;
    font-weight: $font-weight-normal;
    display: flex;
    height: $masthead-height;
    justify-content: space-between;

    @include mq(tablet) {
      flex-direction: row;
      padding: $spacing--small $spacing;
    }
    @include mq(desktop) {
      padding: $spacing--small $spacing--large;
    }
  }

  &__info {
    text-align: center;
  }

  &__info-content {
    background: $yellow-light;
    padding: 0 $spacing;
    display: inline-block;
    @include font-size(12px, 30px);

    @include mq(tablet) {
      padding: 0 $spacing--large;
      @include font-size(14px, 35px);
    }

    @include mq(wide) {
      @include font-size(16px, 45px);

      z-index: 1;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: 0;
    }
  }

  &__left {
    display: flex;
    button {
      white-space: nowrap;
    }
    > div:last-child {
      flex-grow: 1;
    }
    @include mq(desktop) {
      flex-grow: 1;
      text-align: left;
    }
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include mq(tablet) {
      padding: $spacing--small 0;
      padding: 0;
    }
  }
}

.c-masthead,
.c-masthead__placeholder {
  &--infoContent {
    min-height: $masthead-height + 30px;

    @include mq(tablet) {
      min-height: $masthead-height + 35px;
    }

    @include mq(wide) {
      min-height: $masthead-height;
    }
  }
}
