.masthead {
  box-shadow: 1px 1px 15px 0 rgba($brand-grey-dark, .4);
}
.masthead > div {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  @include mq(tablet) {
      justify-content: space-between;
  }
}
.masthead__left {
    text-align: center;
}
.masthead__right {
    @include mq(tablet) {
        padding: $spacing;
        flex-grow: 1;
        text-align:right
    }
}
