.c-masthead {
  border-bottom: 1px solid $brand-grey--lighter;
  z-index: 99;
  position: relative;
  background: white;
}

.c-masthead--fixed {
  top: 0;
  left: 0;
  right: 0;
  position: fixed;
}

.c-masthead > div {
  justify-content: center;
  text-align: center;
  padding: $spacing--small $spacing $spacing--small;
  font-weight: $font-weight-normal;
  display: flex;

  @include mq(tablet) {
    flex-direction: row;
    justify-content: space-between;
    padding: $spacing--small $spacing;
  }
  @include mq(desktop) {
    padding: $spacing--small $spacing--large;
  }
}
.c-masthead__left {
  display: flex;
}
.c-masthead__right {
  flex-grow: 1;
  text-align: right;
  @include mq(tablet) {
    padding: $spacing--small 0;
    padding: 0;
  }
  @include mq(desktop) {
    text-align: right;
    flex-grow: 1;
  }
}
