/**
** BREADCRUMB
**
** EXAMPLE:
** <div class="c-breadcrumb">
**  <ol class="c-breadcrumb__list">
**    <li class="c-breadcrumb__item c-breadcrumb__item--home">
**      <a href="#"><svg home /></a>
**    </li>
**    <li class="c-breadcrumb__item">
**      <a href="#">Medieuttrykk og mediesamfunnet</a>
**    </li>
**  </ol>
** </div>
**/

.c-breadcrumb {
  max-width: 100%;
  @include inuit-font-size(18px);
  display: block;
}
.c-breadcrumb__list {
  display: inline-block;
  padding-left: 0;
  margin-top: -3px;
  margin-bottom: $spacing--small;
  list-style: none;
}
.c-breadcrumb__item {
  font-weight: $font-weight-normal;
  padding-right: $spacing--small/2;
  margin-bottom: 0;
  margin-left: 0;
  display: block;
  @include mq(tablet) {
    display: inline-block;
  }
  a {
    text-decoration: none;
  }
  a:hover {
    box-shadow: none;
  }
  &:before {
    display: none;
  }
  @include mq(tablet) {
    &:after {
      padding-right: $spacing--small/2;
      padding-left: $spacing--small;
      content: '|';
      @include inuit-font-size(14px);
      color: $brand-color;
      opacity: 0.4;
    }
  }
  &:first-child {
    a {
      box-shadow: none;
      border-bottom: none;
    }
  }
  &:last-child:after {
    display: none;
  }
}
.c-breadcrumb__item--home {
  a {
    border-bottom: none;
  }
}
