/**
** FILTER
** Component for filtering content
**
** EXAMPLE:
** <div class="c-filter__list">
**   <span class="c-filter__label">FILTER:</span>
**   <div class="c-filter__item">
**     <input type="checkbox" class="c-filter__input" name="gruppe" id="1T" value="1T">
**     <label for="1T"><span class="c-filter__item-checkbox"></span></label>
**   </div>
**   <div class="c-filter__item">
**    <input type="checkbox" class="c-filter__input" name="gruppe" id="R1" value="R1">
**    <label for="R1"><span class="c-filter__item-checkbox"></span></label>
**   </div>
** </div>
**/

.c-filter {
  align-items: center;
  flex-grow: 2;

  & > h1,
  & > h2,
  & > h3 {
    border-bottom: 1px solid $brand-color--light;
    margin-bottom: $spacing--small;

    @include mq(tablet) {
      border: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    top: 80px;
    width: 100%;
    font-family: $font;
    display: flex;
    align-items: flex-start;
    flex-flow: column;

    @include mq(tablet) {
      width: auto;
      position: relative;
      top: 0;
      border: none;
      padding-top: 0;
      flex-flow: row;
    }

    &--float-right {
      float: right;
      top: 0;
      width: auto;
      padding: 0;
      border: none;
      margin-right: -$spacing--small;
      margin-top: -4px;
    }

    &--search,
    &--search-popover {
      flex-flow: column;

      .c-filter {
        &__label {
          display: block;
          margin: 0 0 $spacing--small 0;
          font-weight: 600;
        }
        &__item {
          display: block;
          margin: 0 0 $spacing--small;

          &--hidden {
            display: none;
          }
        }
      }
    }

    &--search-popover {
      .c-filter {
        &__label {
          @include font-size(16px, 32px);

          @include mq(desktop) {
            @include font-size(22px, 32px);
            margin-bottom: $spacing--medium;
          }
        }

        &__item-wrapper {
          @include mq(desktop) {
            columns: 2;
          }
        }

        &__item {
          display: list-item;
        }
      }
    }

    &--search {
      padding: $spacing;

      @include mq(tablet) {
        padding: $spacing--small $spacing;
      }

      .c-filter {
        &__label {
          @include font-size(16px, 32px);
        }
      }
    }
  }

  &__label {
    @include font-size(16px, 28px);

    @include mq(tablet) {
      margin: 0 $spacing--small;
    }

    &--hidden {
      @include visually-hidden();
    }
  }

  &__item-wrapper {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: inline-block;
    position: relative;
    color: $brand-color;
    margin: 0 $spacing--small 0 2px;
    border-radius: $border-radius;
    transition: $transition;
    cursor: pointer;
    @include font-size(16px, 28px);

    &--hidden {
      display: none;
    }

    &--no-results {
      color: $brand-color--tertiary;

      .c-filter__item-checkbox {
        border-color: $brand-grey--lighter;
      }
    }

    &:hover {
      .c-filter__item-checkbox {
        border: 2px solid $brand-color--tertiary;
        &:before {
          width: 5px;
          transition: width 100ms ease;
        }
        &:after {
          width: 10px;
          transition: width 150ms ease 100ms;
        }
      }
    }

    input:checked {
      & + label .c-filter__item-checkbox {
        border: 2px solid $brand-color;
        background: $brand-color;
        &:before {
          background: white;
          width: 5px;
        }
        &:after {
          background: white;
          width: 10px;
        }
      }
    }

    input {
      &:focus,
      &:active {
        & + label {
          @include restore-outline();
        }
      }
    }

    label {
      display: flex;
      align-items: flex-start;
    }
  }

  &__icon {
    margin: 3px 0;
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 5;
    cursor: pointer;
  }

  &__item-checkbox {
    content: '';
    display: inline-block;
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    background: $white;
    border: 2px solid $brand-color--tertiary;
    margin: 2px $spacing--small 2px 3px;
    border-radius: 2px;
    flex-shrink: 0;

    @include mq(tablet) {
      width: 20px;
      height: 20px;
      margin: 4px $spacing--small 4px 3px;
    }

    &:before {
      content: '';
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: $brand-color--tertiary;
      position: absolute;
      transform: rotate(45deg);
      top: 10px;
      left: 7px;

      @include mq(tablet) {
        top: 8px;
        left: 5px;
      }
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: '';
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: $brand-color--tertiary;
      position: absolute;
      transform: rotate(305deg);
      top: 13px;
      left: 8px;

      @include mq(tablet) {
        top: 11px;
        left: 6px;
      }
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }

  &__expand {
    display: flex;
    align-items: center;
    background: none;
    border: 0;
    padding: 0;
    cursor: pointer;
    color: $brand-color;
    @include font-size(16px, 32px);

    span {
      margin-right: $spacing;
    }
  }

  &--background {
    background-color: $brand-grey--lightest;
    padding: $spacing $spacing--small $spacing $spacing--small;
  }

  &--subject {
    @include mq($until: tablet) {
      padding: $spacing;
    }

    .c-filter {
      &__item {
        @include mq($until: tablet) {
          display: block;
          margin-left: 0;
          margin-bottom: $spacing;
        }

        &:last-child {
          @include mq($until: tablet) {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}
