@import 'global/settings/settings.config';
@import '~inuitcss/settings/_settings.core';
@import 'global/settings/settings.global';
@import 'global/settings/settings.colors';
@import 'global/settings/settings.animations';

// Grids
@import 'global/utilities/utilities.widths';
@import 'global/utilities/utilities.grids';

// TOOLS
@import '~inuitcss/tools/tools.font-size';
@import '~inuitcss/tools/tools.clearfix';
@import 'global/utilities/mixin_icons';

$inuit-fractions: 1 2 3 4 5 6 10 12;

@import 'global/settings/settings.breakpoints';

@import 'global/tools/tools.aliases';
@import 'global/tools/tools.functions';

// GENERIC
@import '~inuitcss/generic/generic.box-sizing';
@import '~inuitcss/generic/generic.normalize';
@import '~inuitcss/generic/generic.shared';

// ELEMENTS
$inuit-wrapper-width: 1024px;
@import 'global/elements/elements.page';
@import '~inuitcss/elements/elements.headings';
@import 'global/elements/elements.headings';
@import 'global/elements/elements.figure';
@import 'global/elements/elements.quotations';
@import 'global/elements/elements.navigation';
@import 'global/elements/elements.images';
@import 'global/elements/elements.tables';
@import 'global/elements/elements.details';
@import 'global/elements/elements.links';
@import 'global/elements/elements.iframe';
@import 'global/elements/elements.audio';
@import 'global/elements/elements.input';
@import 'global/elements/elements.code';
@import 'global/elements/elements.lists';

// OBJECTS
@import '~inuitcss/objects/objects.block';
@import '~inuitcss/objects/objects.box';
@import '~inuitcss/objects/objects.flag';
@import '~inuitcss/objects/objects.layout';
@import '~inuitcss/objects/objects.list-bare';
@import '~inuitcss/objects/objects.list-inline';
@import '~inuitcss/objects/objects.media';
@import '~inuitcss/objects/objects.wrapper';
@import 'global/objects/objects.lists';
@import 'global/objects/objects.wrapper';
@import 'global/objects/objects.content';
@import 'global/objects/objects.backdrop';
