.c-film-slideshow {
  &__slide-link-wrapper {
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: absolute;
    z-index: 2;
    height: 100vw;
    @include mq(mobileWide) {
      height: 100vw;
    }
    @include mq(tablet) {
      height: 75vw;
    }
    @include mq(desktop) {
      height: 55vw;
    }
    @include mq(wide) {
      height: 40vw;
    }
    @include mq(ultraWide) {
      height: 36vw;
    }
  }
  &__item-wrapper {
    display: flex;
    box-shadow: none;
    &--text {
      display: flex;
      transition: all 400ms ease;
      padding-bottom: $spacing;
      @include mq(mobileWide) {
        padding-bottom: 60px;
      }
      @include mq(tablet) {
        padding-bottom: 90px;
      }
      @include mq(desktop) {
        padding-bottom: 130px;
      }
      &:hover {
        h1 {
          text-decoration: underline;
        }
      }
      &.out {
        opacity: 0;
      }
    }
  }
  &__item {
    width: 100vw;
    height: 100vw;
    /* aspect ratios */
    @include mq(mobileWide) {
      height: 100vw;
    }
    @include mq(tablet) {
      height: 75vw;
    }
    @include mq(desktop) {
      height: 55vw;
    }
    @include mq(wide) {
      height: 40vw;
    }
    @include mq(ultraWide) {
      height: 36vw;
    }
    background-color: '#222';
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0;
    position: relative;
    &:before {
      content: '';
      opacity: 0.4;
      background: #091a2a;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
    &--fade-over {
      position: absolute;
      z-index: 1;
      animation: fadeIn 400ms ease;
    }
  }
  &__slide-info {
    border: 0;
    background: none;
    @include mq(tablet) {
      padding-left: 5vw;
      max-width: 90vw;
    }
    h1 {
      @include font-size(26px, 30px);
      color: $white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      margin: 0;
      max-width: 1150px;
      font-weight: $font-weight-semibold;
      padding: 0 0 0 $spacing--small;
      @include mq(tablet) {
        padding: 0 $spacing;
        margin: $spacing--small 0;
        @include font-size(40px, 48px);
      }

      @include mq(desktop) {
        padding: 0 $spacing;
        margin: $spacing--small 0;
        @include font-size(52px, 60px);
      }

      @include mq(wide) {
        @include font-size(72px, 86px);
      }
    }

    p {
      color: #fff;
      background-color: rgba(3, 23, 43, 0.7);
      max-width: 1024px;
      display: inline-block;
      padding: $spacing--small;
      border-radius: $border-radius;
      @include font-size(15px, 20px);
      @include mq(tablet) {
        padding: $spacing $spacing--large $spacing $spacing;
        @include font-size(18px, 24px);
      }
      @include mq(wide) {
        padding: $spacing $spacing--large $spacing $spacing;
        @include font-size(20px, 32px);
      }
    }
  }
  &__indicator-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -$spacing;
    @include mq(mobileWide) {
      margin-top: -$spacing * 2;
    }
    @include mq(tablet) {
      margin-top: -$spacing * 2;
    }
    @include mq(desktop) {
      margin-top: -$spacing * 3;
    }
    &--isMobile {
      pointer-events: none;
    }
  }
  &__indicator-dot {
    border: 0;
    background: #fff;
    opacity: 0.3;
    transition: opacity 100ms ease;
    margin: $spacing--small / 3;
    height: 8px;
    width: 8px;
    @include mq(mobileWide) {
      height: 12px;
      width: 12px;
    }
    padding: 0;
    @include mq(tablet) {
      margin: $spacing--small / 2;
      height: 16px;
      width: 16px;
    }
    border-radius: 100%;
    &:hover,
    &:focus,
    &--active {
      opacity: 1;
    }
  }
}
