.c-film-slideshow {
  margin-bottom: $spacing--large;
  &__item {
    width: 100%;
    /* aspect ratios */
    padding-top: 17%;
    @include mq(mobileWide) {
      padding-top: 16%;
    }
    @include mq(tablet) {
      padding-top: 14%;
    }
    @include mq(desktop) {
      padding-top: 12%;
    }
    @include mq(wide) {
      padding-top: 10%;
    }
    background-color: '#222';
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0;
    transition-timing-function: cubic-bezier(0.98, 0, 0.21, 1);
    position: relative;
    &:before {
      content: '';
      opacity: 0.4;
      background: #091a2a;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
  }
  &__text {
    transition: opacity 300ms ease;
    opacity: 0;
    z-index: 1;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-items: center;
    align-items: flex-end;
    padding-bottom: $spacing;
    @include mq(tablet) {
      padding-bottom: 78px;
    }
    @include mq(desktop) {
      padding-bottom: 100px;
    }
    &--visible {
      opacity: 1;
    }
    > div {
      width: 100%;
      a {
        border: 0;
        background: none;
        h1 {
          @include font-size(24px, 28px);
          color: $white;
          text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
          margin: 0;
          font-weight: $font-weight-bold;
          padding: 0 0 0 $spacing--small;
          @include mq(tablet) {
            padding: 0 $spacing;
            margin: $spacing--small 0;
            @include font-size(40px, 40px);
          }

          @include mq(desktop) {
            padding: 0 $spacing;
            margin: $spacing--small 0;
            @include font-size(52px, 52px);
          }
        }
      }
      p {
        color: #fff;
        background-color: rgba(3, 23, 43, 0.7);
        display: inline-block;
        max-width: 600px;
        padding: $spacing--small;
        @include font-size(15px, 20px);
        @include mq(tablet) {
          padding: $spacing;
          max-width: 700px;
          @include font-size(18px, 22px);
        }
      }
    }
  }
  &__indicator-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -85px;
    @include mq(tablet) {
      margin-top: -100px;
    }
  }
  &__indicator-dot {
    border: 0;
    background: #fff;
    opacity: 0.3;
    transition: opacity 100ms ease;
    margin: $spacing--small / 3;
    height: 12px;
    width: 12px;
    padding: 0;
    @include mq(tablet) {
      margin: $spacing--small / 2;
      height: 16px;
      width: 16px;
    }
    border-radius: 100%;
    &:hover,
    &:focus,
    &--active {
      opacity: 1;
    }
  }
}
