.c-film-slideshow {
  &__item-wrapper {
    display: flex;
    box-shadow: none;
    &--text {
      transition: opacity 300ms ease;
      position: absolute;
      z-index: 1;
      width: 100vw;
      height: 100vw;
      @include mq(mobileWide) {
        height: 100vw;
      }
      @include mq(tablet) {
        height: 75vw;
      }
      @include mq(desktop) {
        height: 55vw;
      }
      @include mq(wide) {
        height: 40vw;
      }
      &.out {
        opacity: 0;
      }
    }
  }
  &__item {
    width: 100vw;
    height: 100vw;
    /* aspect ratios */
    @include mq(mobileWide) {
      height: 100vw;
    }
    @include mq(tablet) {
      height: 75vw;
    }
    @include mq(desktop) {
      height: 55vw;
    }
    @include mq(wide) {
      height: 40vw;
    }
    background-color: '#222';
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
    border: 0;
    position: relative;
    &:before {
      content: '';
      opacity: 0.4;
      background: #091a2a;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: 1;
    }
  }
  &__slide-info {
    display: flex;
    flex-direction: column;
    border: 0;
    background: none;
    > div {
      height: 50%;
      &:first-child {
        display: flex;
        align-items: flex-end;
      }
    }

    h1 {
      @include font-size(24px, 28px);
      color: $white;
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
      margin: 0;
      max-width: 600px;
      font-weight: $font-weight-bold;
      padding: 0 0 0 $spacing--small;
      @include mq(tablet) {
        padding: 0 $spacing;
        margin: $spacing--small 0;
        @include font-size(40px, 40px);
      }

      @include mq(desktop) {
        padding: 0 $spacing;
        margin: $spacing--small 0;
        @include font-size(52px, 52px);
      }
    }

    p {
      color: #fff;
      background-color: rgba(3, 23, 43, 0.7);
      display: inline-block;
      max-width: 640px;
      padding: $spacing--small;
      border-radius: $border-radius;
      @include font-size(15px, 20px);
      @include mq(tablet) {
        padding: $spacing $spacing--large $spacing $spacing;
        max-width: 700px;
        @include font-size(18px, 24px);
      }
    }
  }
  &__indicator-wrapper {
    position: absolute;
    z-index: 2;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -$spacing;
    @include mq(mobileWide) {
      margin-top: -$spacing * 2;
    }
    @include mq(tablet) {
      margin-top: -$spacing * 3;
    }
    &--isMobile {
      pointer-events: none;
    }
  }
  &__indicator-dot {
    border: 0;
    background: #fff;
    opacity: 0.3;
    transition: opacity 100ms ease;
    margin: $spacing--small / 3;
    height: 8px;
    width: 8px;
    @include mq(mobileWide) {
      height: 12px;
      width: 12px;
    }
    padding: 0;
    @include mq(tablet) {
      margin: $spacing--small / 2;
      height: 16px;
      width: 16px;
    }
    border-radius: 100%;
    &:hover,
    &:focus,
    &--active {
      opacity: 1;
    }
  }
}
