@mixin set-animations() {
  @for $i from 1 through 20 {
    > div:nth-child(#{$i + 1}) {
      animation-delay: #{$i * 50}ms;
    }
  }
}

.c-film-movielist {
  &__carousel-wrapper-buttons {
    > div {
      @include set-animations();
      > div {
        opacity: 0;
        animation-fill-mode: forwards;
        animation-name: fadeIn;
        animation-duration: 300ms;
      }
    }
    &:hover {
      .c-film-movielist__carousel-buttons {
        background: #091a2a80;
        .c-icon {
          opacity: 0.7;
        }
        @include mq(wide) {
          &:first-child {
            .c-icon {
              transform: translate(-$spacing--small / 2, -$spacing);
            }
          }
          &:nth-child(2) {
            .c-icon {
              transform: translate($spacing--small / 2, -$spacing);
            }
          }
        }
      }
    }
    .c-film-movielist__carousel-buttons {
      @include mq($until: tabletWide) {
        &:first-child {
          transform: translate($spacing--small / 2, 0);
        }
        &:nth-child(2) {
          transform: translate(-$spacing--small / 2, 0);
        }
      }
      @include mq(tabletWide) {
        &:first-child {
          .c-icon {
            transform: translate(0, -$spacing);
          }
        }
        &:nth-child(2) {
          .c-icon {
            transform: translate(0, -$spacing);
          }
        }
      }
    }
  }

  &__carousel-buttons {
    cursor: pointer;
    display: flex;
    background: rgba(9, 26, 42, 0.501);
    border: 0;
    outline: 0;
    bottom: 0;
    top: 0;
    align-items: center;
    justify-content: center;
    width: $spacing * 2;
    transition: background 200ms ease;
    @include mq(wide) {
      width: $spacing * 3.5;
    }
    @include mq($until: tabletWide) {
      top: $spacing;
      bottom: auto;
      width: $spacing * 2;
      height: $spacing * 2;
      background: none;
      border-radius: 100%;
    }
    .c-icon {
      fill: #fff;
      opacity: 0;
      width: $spacing * 1.5;
      height: $spacing * 1.5;
      transition: transform 400ms ease, opacity 400ms ease;
      @include mq(wide) {
        width: $spacing * 3;
        height: $spacing * 3;
      }
    }
    &:focus, &:hover {
      background: rgba(9, 26, 42, 0.76) !important;
      .c-icon {
        opacity: 1 !important;
      }
    }
  }
}
