/**
** TOPIC INTRODUCTION
** Topic list with introductions
**/

@import './component.topic-shortcuts';

.c-topic-introduction {
  &__text {
    padding: $spacing 0;
  }

  &__heading-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    list-style: none;
    margin: $spacing--small 0 $spacing--medium 0;
    padding: 0;

    &--twoColumns {
      @include mq(850px) {
        display: flex;
        flex-wrap: wrap;
        border-bottom: none;
        margin-bottom: 0;
        justify-content: space-between;
      }

      & > li {
        flex-basis: calc(50% - 52px);
        margin-right: 52px;
        box-sizing: border-box;
      }
    }
  }

  &__body {
    width: 100%;
  }
  &__item {
    margin: 0;
    padding-bottom: $spacing;
    @include mq(tablet) {
      padding: 0 $spacing $spacing--medium 0;
    }
    border-bottom: 2px solid $brand-grey--lighter;
    list-style: none;
    background-color: transparent;
    @include inuit-font-size(16px, 26px);

    p {
      max-width: $max-text-width;
      margin: 0;
      font-family: $font;
    }
    a {
      color: $brand-color;
    }

    @include mq(tablet) {
      padding-right: 0;
    }
    margin-top: $spacing;
    margin-bottom: $spacing--small;

    &--additional {
      display: none;
    }
    &--showAdditionalCores {
      display: block;
      padding: $spacing;
      border: 1px solid $brand-color--tertiary;
      &.c-topic-introduction__item--additional {
        animation-name: fadeIn;
        animation-duration: 0.2s;
      }
    }
    &--additional {
      border: 1px dashed $brand-color--tertiary;
    }
  }
  &__header {
    @include inuit-font-size(18px, 26px);
    text-decoration: none;
    color: $brand-color;
    margin-bottom: $spacing--small;
    margin-top: 0;
    a:visited {
      color: $brand-color !important;
    }
  }
}
