/**
** TOPIC INTRODUCTION
** Topic list with introductions
**/

@import './component.topic-shortcuts';

.c-topic-introduction {
  &__text {
    padding: $spacing 0;
  }

  &__list {
    list-style: none;
    margin: $spacing--small 0 $spacing--medium 0;
    padding: 0;

    &--twoColumns {
      @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        border-bottom: none;
        margin-bottom: 0;
      }

      & > li {
        flex-basis: 50%;
        box-sizing: border-box;

        @include mq(tablet) {
          padding-right: $spacing;
        }
      }
    }
  }

  &__body {
    width: 100%;
  }
  &__item {
    margin: 0;
    padding-top: $spacing--small;
    padding-bottom: $spacing--medium;
    @include mq(tablet) {
      padding-right: $spacing;
    }
    border-bottom: 2px solid $brand-grey--lighter;
    list-style: none;
    background-color: transparent;
    @include inuit-font-size(16px, 26px);

    p {
      max-width: $max-text-width;
      margin: 0;
      font-family: $font;
    }
    a {
      color: $brand-color;
    }

    &:last-child {
      border: none;
      padding-bottom: 0;
    }

    &--subjectPage {
      @include mq(tablet) {
        border-bottom: 0;
        padding-right: 0;
      }

      &:last-child {
        padding-bottom: $spacing--medium;
        border-bottom: 2px solid $brand-grey--lighter;

        @include mq(tablet) {
          border-bottom: 0;
          padding-bottom: 0;
        }
      }
    }
  }
  &__header {
    @include inuit-font-size(20px);
    font-weight: $font-weight-normal;
    text-decoration: none;
    color: $brand-color;
    margin-bottom: $spacing--small;
    margin-top: 0;
  }
}
