/**
** SITE NAVIGATION
** Masthead link items
**/


.c-site-navigation {
}
.c-site-navigation__list {
  display: inline;
  list-style: none;
  margin: 0;
  padding: 0;
}
.c-site-navigation__item {
  display: inline-block;
  margin: 0;
  padding: 0;
}
.c-site-navigation__item--bold {
  display: inline-block;
  font-weight: $font-weight-bold;
  margin: 0;
  padding: 0;
}
.c-site-navigation__link {
  color: $brand-color;
  text-decoration: none;
  @include inuit-font-size(21px);
  padding: .8em;
  display: block;

  &:hover,:active {
    text-decoration: underline;
  }
}
