.c-topic-menu-container {
  @include mq(desktop) {
    display: inline-block;
  }
}

.c-topic-menu-toggle-button {
  position: relative;
  z-index: 100;
  padding: $spacing--small;
  padding-right: $spacing;
  padding-left: $spacing*2;
  text-transform: uppercase;
  font-weight: $font-weight-normal;
  color: $brand-color;
  border: 3px solid $brand-color;

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: $spacing--small*1.3;
    left: $spacing--small*2;
    @include svg_icon('menu', $brand-color);
  }
  &:hover {
    border: 3px solid transparent;
    background: $brand-color;
    color: $white;
    &:before {
      @include svg_icon('menu', $white);
    }
  }
  &:active, &:focus {
    border: 3px solid $brand-color--lighter;
    background: $white;
    color: $brand-color;
    &:hover:before {
      @include svg_icon('menu', $brand-color);
    }
  }
}

.c-topic-menu-container .active {
  background: transparent;
  border: 3px solid transparent;
  box-shadow: none;
  color: $brand-color;
  &:hover {
    color: $brand-color;
    text-decoration: underline;
    &:before {
      @include svg_icon('close', $brand-color);
    }
  }
  &:before {
    @include svg_icon('close', $brand-color);
    width: 32px;
    height: 32px;
    top: 12px;
    left: 15px;
  }
}

.c-topic-menu__dropdown {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  background: $brand-color--lighter;
  min-height: 250px;
  text-align: left;
  z-index: 40;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px rgba($black, 0.4);
  text-transform: none;
  animation-name: fadeIn;
  animation-duration: .4s;

  .c-filter__list {
    display: none;
    @include mq(desktop) {
      display: inline-block;
    }
  }
}

.c-topic-menu__list {
  padding: 0;
  list-style: none;
  margin: 0;
  overflow-y: auto;
  max-height: 87%;
  @include fadeInLeftItems(li, 30);
}

.c-topic-menu__left {
  flex: 1;
  margin-top: 100px;
  z-index: 30;
  animation-name: fadeInLeft;
  animation-duration: .2s;
  @include mq(tablet) {
    margin-top: 0;
    padding-top: 130px;
  }
  @include mq(desktop) {
    flex: 1;
    max-width: 30%;
    padding-top: 130px;
  }
}
.c-topic-menu__right {
  z-index: 30;
  background-color: $brand-color--tertiary;
  animation-name: fadeInTop;
  animation-duration: .2s;
  padding: $spacing $spacing--small $spacing--small;
  @include mq(tablet) {
    padding-top: 130px;
    padding-left: $spacing--large;
    padding-right: $spacing--large;
  }
  @include mq(desktop) {
    flex: 2;
  }
}

.c-topic-menu__subject {
  @include inuit-font-size(20px);
  font-weight: 600;
  border-bottom: 1px solid rgba($brand-color, .3);
  margin-left: $spacing--small;
  padding-bottom: $spacing--small;
  @include mq(tablet) {
    padding-bottom: $spacing;
    margin-bottom: $spacing--small;
    margin-left: $spacing--large;
    @include inuit-font-size(26px);
  }
  a {
    text-decoration: none;
  }
}


.c-topic-menu__topic-item {
  padding: $spacing--small;
  @include mq(tablet) {
    margin-left: $spacing--large;
    padding: $spacing--small 0;
  }
  transition: all .1s ease-in-out;
  animation-name: fadeInLeft;
  animation-duration: .5s;

  &:hover {
    background-color: $brand-color--tertiary;
    padding-left: $spacing--small;
  }
  &:last-child {
    border: none;
  }
}
.c-topic-menu__topic-item--active {
  background-color: $brand-color--tertiary;
  padding-left: $spacing--small;
}

.c-topic-menu__subtopic-item {
  padding: $spacing--small 0 $spacing--small $spacing;
  transition: all .1s ease-in-out;

  a:hover {
    text-decoration: none;
  }
}

.c-topic-menu__link {
  color: $brand-color;
  margin-bottom: $spacing--small;
}
.c-topic-menu__link--big {
  border-bottom: 1px solid rgba($brand-color--secondary, .5);
  padding-bottom: $spacing;
  display: block;
}

.c-topic-menu__masthead {
  position: absolute;
  height: 85px;
  width: 100%;
  background: white;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-between;
  @include mq(tablet) {
    left: 30%;
  }
}
.c-topic-menu__search {
  display:none;
  @include mq(tablet) {
    display: inline-block;
  }
  width: 200px;
  text-align: center;
  color: $brand-color;
  padding: 0 $spacing--large;
  text-transform: uppercase;
  padding-top: 2px;
  cursor: pointer;
  flex-grow: 0;
  @include inuit-font-size(16px);
}
.c-topic-menu__search-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
  }
}
.c-topic-menu__right-filler {
  width: 200px;
  height: 100px;
  align-self: flex-end;
  flex-grow: 2;
}
