.c-article, article {
  margin-bottom: $spacing--small;

  h2,h3,h4 {
    margin-bottom: 0;
  }
  h2 a,h3 a,h4 a {
    color: $brand-color;
    font-size: 80%;
  }
  em {
    display:inline-block;
  }
}
.c-article {
  margin-top: $spacing--large;
  margin-right: auto;
  margin-bottom: $spacing--large;
  margin-left: auto;
  font-family: $font-serif;
  color: $brand-grey-dark;
  background: $white;
  @include inuit-font-size(18px, 32px);
  @include mq(tablet) {
    border: 1px solid $brand-grey--lighter;
    padding: 0 $spacing;
    margin-top: -$spacing*6;
    padding-top: $spacing--large;
  }
  padding-bottom: $spacing--large;

  &--clean {
    margin-top: $spacing;
    border: none;
  }

  &__byline {
    margin-top: $spacing;
    margin-bottom: $spacing;
    padding: $spacing--small/2 $spacing--small;
    background-color: $brand-grey--lighter;
    @include inuit-font-size(16px, 20px);
    font-family: $font;
    color: $brand-grey;
    text-transform: uppercase;
    display: flex;
  }

  &-meta {
    display: inline-block;
    background-color: $brand-grey--lighter;
    padding: 7px;
    width: 100%;
    @include inuit-font-size(14px);
  }

  &__metatext {
    font-family: $font;
    text-transform: uppercase;
    color: gray;
  }

  &__authors {
    @include mq(tablet) {
      max-width: 50%;
    }
    padding-right: $spacing;
    svg {
      margin-top: -3px;
    }
  }
  &__date {
    svg {
      margin-top: -3px;
    }
  }

}
