.c-factbox-toggler {
  position: fixed;
  right: 0;
  top: 0;
  @include mq(desktop) {
    display: none;
  };
}
.c-factbox {
  background: $brand-color;
  color: $white;
  padding: $spacing / 2;
  margin-bottom: $spacing;

  @include mq(tablet) {
    padding: $spacing * 1.5;
  }

  @include mq(desktop) {
     margin: 0  calc(-50vw / 2) $spacing;
     padding: $spacing calc(50vw/2);
  }
  a:not([class]) {
    color: $white;
    box-shadow: inset 0 -1px 0 rgba($white, 0.6);
    transition: box-shadow 0.2s ease;
    text-decoration: none;

    &:hover,
    &:focus {
      color: lighten($brand-color--tertiary, 0.8);
      box-shadow: inset 0 -1px 0 rgba($brand-color--tertiary, 1);
    }
    a:not([class]) {
      color: $white;
      box-shadow: inset 0 -1px 0 rgba($white, 0.6);
      transition: box-shadow 0.2s ease;
      text-decoration: none;

      &:hover,
      &:focus {
        color: lighten($brand-color--tertiary, 0.8);
        box-shadow: inset 0 -1px 0 rgba($brand-color--tertiary, 1);
      }
    }
  }
}
