.c-source-list {
  display: flex;
  border-top: 1px solid $brand-color--tertiary;
  padding-top: $spacing--small;
  margin-top: $spacing--small;
  vertical-align: middle;
  align-items: center;
}
.c-source-list__item {
  display: flex;
  flex-direction: row;
  margin-right: $spacing--small;
  color: $brand-grey;
  fill: $brand-grey;
  @include inuit-font-size(15px);
}
