.c-figcaption {
}
.c-figcaption__info {
  display: block;
  margin-bottom: $spacing--small;
  line-height: 1.7em;
}
.c-figcaption__licenses {
  padding-top: $spacing/3;
  margin-top: 5px;
  display: block;
}
