.c-medialist {
  padding-left: 0;

  &__img {
    float:none;
    margin: 0 0 $spacing--small;
    @include mq(tablet) {
      float:left;
      margin-right: $spacing;
    }

    a, a:hover {
      box-shadow: none;
    }
    img {
      max-width: 100%;
      margin:0;
    }
  }

  &__body {
    @include inuit-font-size(14px, 24px);
  }
  &__item {
    margin-bottom: $spacing--small;
    padding: $spacing--small 0;
    border-bottom: 1px solid $brand-color--tertiary;
    &:last-child {
      border-bottom: none;
    }
  }
  &__actions {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: $spacing--small;
    margin-bottom: $spacing--small;
    @include mq(tablet) {
      flex-direction: row;
      flex-wrap: wrap;
    }
    button {
      text-align: left;
      margin: 0 $spacing $spacing--small 0;
    }
  }
  &__meta {
    margin-bottom: $spacing--small;
    padding-bottom: $spacing--small;
  }
  &__meta-item {
    width: 100%;
    padding-left: 0;
    margin-left: -1em;
    padding-right: $spacing--small;
  }
  &__icon {
    color: $brand-color;
    width: 150px !important;
    height: auto !important;
    padding: 0 $spacing--small $spacing--small;
  }
  &__h5p {
    height: 185px;
  }
  &__title {
    margin-top: 0;
    margin-bottom: $spacing--small;
  }
}
