.c-resource-group {
  &__title {
    @include inuit-font-size(18px);
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    margin-bottom: 5px;
    margin-top: $spacing--large;
    padding-bottom: 5px;
    border-bottom: 2px solid $brand-grey--light;
  }
  &--Lringssti {
    li {
      padding: 5px;
    }
    .c-topic-resource__icon {
      width:80px;
      svg {
        width: 80px;
        height: 60px;
      }
    }
  }
  &--Oppgave {
    li {
      background-color: rgba($green, 0.1);
    }
  }
  &--Fagstoff {
    li {
      background-color: rgba($mark-color, 0.1);
    }
  }
}
