.c-figcaption {
  
}
.c-figcaption__info {
  display: block;
}
.c-figcaption__licenses {
  border-top: 1px solid $brand-grey--light;
  padding-top: $spacing/3;
  margin-top: $spacing/3;
  display: block;
  margin-top: 5px;
}
