.c-topic-resource {
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__body {
    width: 100%;
  }
  &__item {
    padding-top: $spacing;
    padding-bottom: $spacing;
    padding-right: $spacing;
    border-bottom: 3px solid $brand-grey--lighter;
    @include inuit-font-size(16px);
    a {
      color: $brand-color;
      box-shadow: none;
    }
  }
  &__icon {
    display: inline-block;
    width: 52px;
    height: 52px;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    background-color: $brand-color--light;
    border-radius: $border-radius--large;
    margin-right: $spacing--small*1.5;
    svg {
      fill: $brand-color;
      width: 26px;
      height: 26px;
    }
  }
  &__title {
    @include inuit-font-size(18px);
    margin-top: $spacing--small;
    margin-bottom: $spacing--small/2;
  }
  &__author {
    display: inline-block;
    color: $brand-grey;
    float:right;
    margin-top: $spacing--small;
  }
  &__tag {
    @include inuit-font-size(15px);
    background-color: $brand-grey--light;
    color: $brand-grey;
    font-weight: $font-weight-bold;
    display: inline-block;
    padding: 0px 12px;
    border-radius: 15px;
  }
}
