.c-license-icons__list, .c-license-icons__list2 {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-license-icons__list {
  display: flex;
  flex-direction: column;
}
.c-license-icons__licenselabel {
  margin-left: $spacing--small;
}

.c-license-icons__item {
  display: inline-block;
  padding-bottom: 7px;
  margin-bottom: 0;

  button {
    vertical-align: top;
  }

  .c-license-icons--active {
    circle {
      fill: $brand-color;
    }
    path {
      fill: $white;
    }
  }
}

.c-license-icons__item {
  margin-right: 0.2em;
}

.c-license-icons__icon {
  width: $spacing / 1.1;
  height: $spacing / 1.1;
}

.c-licenseToggle__details {

  .c-license-icons__item {
    display: block;
  }
  .c-license-icons__item div {
    display: flex;
    align-items: flex-start;
  }

}
