.c-table, .c-article table, article table {
  vertical-align: top;
  font-size: 85%;

  overflow-x: auto;
  max-width: 100%;
  margin: $spacing--large 0;

  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  // scrolling shadows on left/right
  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 15px 100%, 15px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

  thead {
    overflow:hidden;
  }
  td, th {
    padding: $spacing/3;
  }
  th, tbody td:before {
    color: $brand-color;
    font-weight: $font-weight-bold;
    font-size: 90%;
    text-transform: uppercase;
    padding: 4px 10px 4px 4px;
  }
  th {
    border-bottom: 3px solid $brand-color--lighter;
    background-color: $brand-color--lighter;
    padding: $spacing--small;
  }
  td {
    vertical-align: top;
    border-top: 1px solid $brand-color--lighter;
    border-bottom: 1px solid $brand-color--lighter;

    &:first-child {
      border-top: 1px solid $brand-color--lighter;
      border-bottom: 1px solid $brand-color--lighter;
      background-color: none;
      background-image: linear-gradient(to right, rgba($white, 1) 50%, rgba($white, 0) 100%);
      background-repeat: no-repeat;
      background-size: 25px 100%;
    }
    &:last-child {
      border-top: 1px solid $brand-color--lighter;
      border-bottom: 1px solid $brand-color--lighter;
      background-color: transparent;
      background-image: linear-gradient(to left, rgba($white, 1) 50%, rgba($white, 0) 100%);
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 25px 100%;
    }
  }
  tr:nth-child(2n) {

    td {
      background-color: $table-bg;
      position:relative;

      &:before {
        content:"";
        z-index: -1;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: $table-bg;
      }
      &:first-child{
        background-color: none;
        background-image: linear-gradient(to right, rgba($table-bg, 1) 50%, rgba($table-bg, 0) 100%);
        background-repeat: no-repeat;
        background-size: 25px 100%;
      }
      &:last-child {
        background-color: none;
        background-image: linear-gradient(to left, rgba($table-bg, 1) 50%, rgba($table-bg, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 25px 100%;
      }
    }
  }

  //Hover border
  tr:hover, tr:active, tr:focus {
    td {
      border-top: 1px solid $brand-color;
      border-bottom: 1px solid $brand-color;

      &:first-child {
        border-top: 1px solid $brand-color;
        border-bottom: 1px solid $brand-color;
      }

      &td:last-child {
        border-top: 1px solid $brand-color;
        border-bottom: 1px solid $brand-color;
      }
    }
  }

  // Remove excess spacing on headings inside table
  h1,h2,h3,h4,h5 {
    margin-top: 0;
  }
  ul {
    margin: 0;
  }

}
// If not proper markup
.c-article table:not(.c-table) {
  display: inline-block;
  overflow-x: auto;
  @include max-width();

  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  // scrolling shadows on left/right
  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 15px 100%, 15px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

  tbody {
    background: none;
    width: 100%;
  }
}
