.c-figcaption {
  &__info {
    display: block;
    margin-bottom: $spacing--small;
    line-height: 1.7em;
  }
  &__licenses {
    padding-top: $spacing/3;
    margin-top: 5px;
    display: block;
  }
}
