/**
** FILTER
** Component for filtering content
**
** EXAMPLE:
** <div class="c-filter__list">
**   <span class="c-filter__label">FILTER:</span>
**   <div class="c-filter__item">
**     <input type="checkbox" class="c-filter__input" name="gruppe" id="1T" value="1T">
**     <label for="1T"><span class="c-filter__item-checkbox"></span></label>
**   </div>
**   <div class="c-filter__item">
**    <input type="checkbox" class="c-filter__input" name="gruppe" id="R1" value="R1">
**    <label for="R1"><span class="c-filter__item-checkbox"></span></label>
**   </div>
** </div>
**/

.c-filter {
  align-items: center;
  flex-grow: 2;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    top: 80px;
    width: 100%;
    border-top: 1px solid $brand-color--light;
    padding-top: $spacing--small;
    font-family: $font;
    @include mq(tablet) {
      width: auto;
      position: relative;
      top: 0;
      border: none;
      padding-top: 0;
    }

    &--float-right {
      float: right;
      top: 0;
      width: auto;
      padding: 0;
      border: none;
      margin-right: -$spacing--small;
      margin-top: -4px;
    }

    &--search {
      .c-filter {
        &__label {
          display: block;
          margin: 0 0 $spacing--small 0;
          font-weight: 600;
          @include font-size(16px, 32px);
        }
        &__item {
          display: block;
          margin: 0 0 $spacing--small;
        }
      }
    }
  }

  &__label {
    @include inuit-font-size(16px);
    display: block;
    @include mq(tablet) {
      margin: 0 $spacing--small;
      display: inline-block;
    }
  }

  &__item {
    display: inline-block;
    position: relative;
    color: $brand-color;
    margin: 0 $spacing--small 0 2px;
    border-radius: $border-radius;
    transition: $transition;
    cursor: pointer;
    @include inuit-font-size(16px);

    &:hover {
      .c-filter__item-checkbox {
        border: 2px solid $brand-color--light;
        &:before {
          width: 5px;
          transition: width 100ms ease;
        }
        &:after {
          width: 10px;
          transition: width 150ms ease 100ms;
        }
      }
    }

    input:checked {
      & + label .c-filter__item-checkbox {
        border: 2px solid $brand-color;
        background: $brand-color;
        &:before {
          background: white;
          width: 5px;
        }
        &:after {
          background: white;
          width: 10px;
        }
      }
    }
  }

  &__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 99;
    cursor: pointer;
  }

  &__item-checkbox {
    content: '';
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    padding: 0;
    background: transparent;
    border: 2px solid $brand-grey--light;
    margin: -4px 3px;

    &:before {
      content: '';
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: $brand-color--tertiary;
      position: absolute;
      transform: rotate(45deg);
      top: 7px;
      left: 5px;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: '';
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: $brand-color--tertiary;
      position: absolute;
      transform: rotate(305deg);
      top: 10px;
      left: 6px;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
}
