.c-licensebox {
  background: $brand-color--lighter;
  padding: $spacing $spacing/2;
  @include mq(tablet) {
    padding: $spacing*2 $spacing;
  }
  margin: 0 0 $spacing;

  .c-tabs__list {
    border-bottom: 1px solid $brand-color--tertiary;
  }
}
.c-licensebox__introduction {
  max-width: 500px;
}
