.c-topic-resource-subset {
  @include mq($from: desktop) {
    margin-top: $spacing--large;
  }
  &__heading {
    display: inline-block;
    @include inuit-font-size(32px);
    text-transform: none;
    font-variant: normal;
    color: $brand-color;
    margin-bottom: 0;
  }
  &__lead {
    @include inuit-font-size(20px);
    color: $brand-color;
    font-weight: $font-weight-normal;
    margin: 0;
    border-bottom: 4px solid $brand-grey--light;
    padding-bottom: $spacing--small;
    transition: $transition;
  }
  &__readmore {
    text-align: right;
    display: block;
    font-weight: $font-weight-bold;
    margin: $spacing--small 0;
    @include inuit-font-size(16px);
    color: $brand-color;
    text-decoration: none;
  }
  &__tag {
    @include inuit-font-size(15px);
    background-color: $brand-grey--light;
    color: $brand-grey;
    font-weight: $font-weight-bold;
    text-decoration: none;
    display: inline-block;
    padding: 0px 12px;
    border-radius: $border-radius--large;
    margin: $spacing--small $spacing--small/2 0 0;
    transition: $transition;
    &:hover {
      background-color: $brand-color;
      color: $white;
    }
  }
  &--focus {
    .c-topic-resource-subset__lead {
      border-color: $brand-color;
    }
  }
}

// Topic type color themes
.c-topic-resource-subset--blue {
    .c-topic-resource__icon {
      background-color: $brand-color;
      svg { fill: $white; }
    }
}
.c-topic-resource-subset--red {
    .c-topic-resource__icon {
      background-color: $mark-color;
      svg { fill: $white; }
    }
}
.c-topic-resource-subset--green {
    .c-topic-resource__icon {
      background-color: $green;
      svg { fill: $white; }
    }
}
