.c-topic-article_toggle-button {
  font-weight: 100;
  font-size: 0.8em;
  text-decoration: underline;
}

.c-topic-introduction {
  &__text {
    padding: $spacing 0;
    // max-width: $max-text-width;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    padding-top: $spacing--small;
    padding-bottom: $spacing--large;
    border-bottom: 2px solid $brand-grey--light;
    background-color: transparent;
    margin-left: 0;

    p {
      max-width: $max-text-width;
      padding-right: $spacing;
      @include inuit-font-size(16px);
    }
    @include mq($until:tablet) {
      img {
        max-width: 100%;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }

  &__header {
    font-size: 1.2em;
    color: $brand-color;
    margin-bottom: $spacing--small;
  }
  &__resource {
    color: $primary-color;
    margin-left: $spacing;
  }
}
