.c-breadcrumb {
  max-width: 100%;
  @include inuit-font-size(18px);
  display:none;
  color: $brand-color;
  font-weight: $font-weight-bold;

  a:hover {
    color: $brand-color--light;
  }

  @include mq(tablet) {
    display: block;
  }
  span {
    display: block;
  }
}
.c-breadcrumb__list {
  display: inline-block;
  padding-left: 0;
  margin-top: -3px;
  margin-bottom: $spacing--small;
  list-style: none;
}
.c-breadcrumb__item {
  font-weight: $font-weight-normal;
  padding-right: $spacing--small/2;
  display: inline-block;
  line-height: 2em;
  a {
    color: $brand-color !important;
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 1px solid $brand-color;
  }
}
.c-breadcrumb__item + .c-breadcrumb__item:before{
  padding-right: $spacing--small/2;
  content: '›';
  @include inuit-font-size(22px);
}
.c-breadcrumb__active {
  font-weight: $font-weight-bold;
}
