.c-factbox {

  background: $secondary-color;
  padding: $spacing / 2;
  margin-bottom: $spacing;

  @include mq(tablet) {
    padding: $spacing * 1.5;
  }

  @include mq(desktop) {
    margin: 0 (-$spacing * 1.5) $spacing (-$spacing * 1.5);
  }
}
