.c-licensebox {
  position: relative;
}

.license-toggler {
  @include mq(desktop) {
    position: absolute;
    top: 7px;
    right: 19%;
  }
}
.license__heading {
  margin-left: $spacing;
  margin-right: $spacing;
}

.c-licensebox--expanded {
  background: $brand-color--lighter;
}

.license__list-item {
  margin: $spacing 0;
  padding: 0;
  list-style: none;
  display: block;
  overflow: hidden;
}

.license__list-item > img, .license__list-item > div, .license__list-item > embed, .license__list-item > iframe {
  margin: 0 $spacing $spacing 0;
  float: left;
}
.license__list-item > iframe {
  max-width: 200px;
}
