/**
** BODYBOX
** Used on any div.
**
** EXAMPLE:
** <LayoutItem layout="left">
**  <div className="c-bodybox">En tekstboks som flyter til venstre.</div>
** </LayoutItem>
**
** Attribute modifier used to display info on author etc. in license view
**/


.c-bodybox {
  padding: $spacing * 1.5;
  margin-bottom: $spacing;
  border-style: solid;
  border-color: $brand-color--tertiary;
  border-width: 1px;
  clear:both;
}
.c-bodybox--attribute {
  padding: $spacing--small $spacing;
  display: inline-block;
  clear:both;
  font-style: italic;
}

/* Hacks for complex content fetched inside bodybox */
.c-bodybox ul:not([class]), .c-bodybox ol:not([class]) {
  margin-left: $spacing--large;
}
.c-bodybox .c-figure {
  width: 100% !important;
  left: auto !important;
  padding: 0;
}

.c-bodybox .article_figure--float-right {
  width: 50% !important;
  margin-right: 0;
}

.c-bodybox .article_figure--float-left {
  width: 50% !important;
  margin-left: 0;
}
