/**
** TABLES
** Responsive styling for tables
** Applied for tables both with and without c-table class.
**/



.c-table, .c-article table, article table {
  vertical-align: top;
  font-size: 85%;
  table-layout: fixed;

  overflow-x: auto;
  max-width: 100%;
  margin: $spacing--large 0 $spacing--large 0;

  // optional - enable iOS momentum scrolling
  -webkit-overflow-scrolling: touch;

  // scrolling shadows on left/right
  background: -webkit-radial-gradient(left ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, -webkit-radial-gradient(right ellipse, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background: radial-gradient(ellipse at left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 0 center, radial-gradient(ellipse at right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0) 75%) 100% center;
  background-size: 15px 100%, 15px 100%;
  background-attachment: scroll, scroll;
  background-repeat: no-repeat;

  display: inline-block;

  &:after, &:before {
    content: "";
    display: table;
    clear: both;
  }

  @include mq(tablet) {
    display: table;
  }

  caption {
    background-color: $white;
  }

  thead {
    overflow:hidden;
  }

  td, th {
    display: table-cell;
    height: 45px;
    padding: $spacing/3 $spacing $spacing/3 $spacing/3;
  }
  th, tbody td:before {
    font-weight: $font-weight-bold;
    padding: 4px 10px 4px 4px;
  }
  th {
    border-bottom: 3px solid $brand-color--tertiary;
    padding: $spacing--small $spacing $spacing/3 $spacing/3;
    font-family: $font;

    @include inuit-font-size(16px,22px);
    @include mq(tablet) {
      @include inuit-font-size(16px,30px);
    }
  }

  tbody th {
    border-bottom: 0;
    border-right: 3px solid $brand-color--tertiary;
    padding: $spacing--small/1.5;
    vertical-align: top;
  }

  thead tr:nth-child(2) th {
    border-bottom: 0;
    text-transform: none;
    @include inuit-font-size(14px,18px);
    @include mq(tablet) {
      @include inuit-font-size(15px, 26px);
    }
    font-weight: $font-weight-semibold;
    height: 40px;
    background-color: $brand-color--lighter;
    padding: $spacing/6 $spacing $spacing/6 $spacing/3;

    &:first-child, &:last-child {
      background-color: none;
    }

    &:empty {
      background-color: transparent;

      &:first-child {
        background-color: transparent;
        background-image: linear-gradient(to right, rgba($white, 1) 50%, rgba($white, 0) 100%);
        background-repeat: no-repeat;
        background-size: 25px 100%;
      }

      &:last-child {
        background-color: transparent;
        background-image: linear-gradient(to left, rgba($white, 1) 50%, rgba($white, 0) 100%);
        background-repeat: no-repeat;
        background-position: 100% 0;
        background-size: 25px 100%;
      }
    }
  }

  th, td {
    &:first-child {
      background-color: transparent;
      background-image: linear-gradient(to right, rgba($white, 1) 50%, rgba($white, 0) 100%);
      background-repeat: no-repeat;
      background-size: 25px 100%;
    }
    &:last-child {
      background-color: transparent;
      background-image: linear-gradient(to left, rgba($white, 1) 50%, rgba($white, 0) 100%);
      background-repeat: no-repeat;
      background-position: 100% 0;
      background-size: 25px 100%;
    }
  }

  td {
    vertical-align: top;
    border-bottom: 1px solid $brand-grey--lighter;

    @include inuit-font-size(14px,22px);
    @include mq(tablet) {
      @include inuit-font-size(15px,30px);
    }
    p {
      margin:0;
      line-height: 1.6em;
    }
  }

  // Remove excess spacing on headings inside table
  h1,h2,h3,h4,h5 {
    margin-top: 0;
  }

  ul {
    margin: 0 0 0 $spacing--small*1.4;
  }

  .c-figure {
    margin: 0;
    padding: 0;
    width: 100% !important;
    left: 0 !important;
  }
}
