/**
** PAGER
**
** EXAMPLE:
** <div class="c-pager">
**   <a href="#" class="c-pager__step c-pager__step--back">&lt;</a>
**   <a href="#" class="c-pager__step">1</a>
**   <a href="#" class="c-pager__step">2</a>
**   <span class="c-pager__step c-pager__step--active">3</span>
** </div>
**/

.c-pager {
  display: flex;
  justify-content: center;
  margin-top: 1em;
}

.c-pager__step {
  display: inline;
  background: transparent;
  border: 0;
  border-top: 3px solid $background-color--dark;
  padding: 1em 1.45em;
  margin: 1em .3em 0;
  text-decoration: none;
  color: $brand-color;
  cursor: pointer;
}

.c-pager__step--active, .c-pager__step:hover {
  border-top: 3px solid $brand-color;
  background-color: rgba($brand-color--lighter, .5);
}
