.c-resources {
  background-color: $background-color--gray;
  border-top: 1px solid $background-color--gray-dark;
  padding-bottom: $spacing--large;
  padding-top: $spacing;
  margin-top: $spacing--large;

  &--transparent {
    background: transparent;
  }
  // .c-tabs:first-child {
  //   margin-top: $spacing--large;
  // }
}
