.c-resource-group {
  li {
    background-color: rgba($brand-grey--light, 0.4);
  }
}
.c-resource-group__title {
  @include inuit-font-size(18px);
  font-weight: $font-weight-bold;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  margin-bottom: 5px;
  margin-top: $spacing--large;
  padding-bottom: 5px;
  border-bottom: 2px solid $brand-grey--light;
}
.c-resource-group--Lringsstier {
  li {
    background-color: transparent;
    padding: 5px;
  }
  .c-topic-resource__icon {
    width:80px;
    svg {
      width: 80px;
    }
  }
}
.c-resource-group--Oppgaver {
  li {
    background-color: rgba($green, 0.1);
  }
}
.c-resource-group--Lrestoff {
  li {
    background-color: rgba($mark-color, 0.1);
  }
}
