.c-medialist {
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.c-medialist__item {
  margin-bottom: $spacing--small;
  padding: $spacing--small 0;
  border-bottom: 1px solid $brand-color--tertiary;
  @include mq(tablet) {
    display: flex;
    flex-direction: row;
  }

  &:last-child {
    border-bottom: none;
  }
}

.c-medialist__body {
  @include inuit-font-size(14px, 24px);
  min-width: 50%;
}

.c-medialist__img {
  float:none;
  margin: 0 0 $spacing--small;
  @include mq(tablet) {
    max-width: 50%;
    margin-right: $spacing;
  }

  a, a:hover {
    box-shadow: none;
  }
  img {
    max-width: 100%;
    width: 100%;
    margin:0;
  }
}

.c-medialist__actions {
  margin-top: $spacing--small;
  margin-bottom: $spacing--small;
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  width: 100%;
  button, a {
    text-align: left;
    margin: 0 $spacing $spacing--small 0;
  }
}
.c-medialist__meta {
  margin-bottom: $spacing--small;
  padding-bottom: $spacing--small;
}
.c-medialist__meta-item {
  width: 100%;
  padding-right: $spacing--small;
  margin-left: 0;
  margin-bottom: 0;
}
.c-medialist__ref {
  margin-top: $spacing--small;
  margin-right: $spacing;
  width: 100%;
}
.c-medialist__icon {
  color: $brand-color;
  width: 150px !important;
  height: auto !important;
  padding: 0 $spacing--small $spacing--small;
}
.c-medialist__h5p {
  height: 185px;
}
.c-medialist__title {
  margin-top: 0;
  margin-bottom: $spacing--small/2;
  @include inuit-font-size(16px);
  color: $brand-color;
}
