.c-figure {
  img {
    width: 100%;
  }
}
.c-figure, figure {
  margin: $spacing--large/1.4 0 $spacing--large;

  @include mq($from: desktop) {
    @include grids-expand(4,6,2);
  }
}

.c-figure__caption {
  background-color: $brand-grey--lightest;
  padding-top: $spacing--small;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  flex-wrap: wrap;
}
.c-figure__byline {
  padding-right: $spacing;
  text-align: left;
  .c-button--outline svg {  //remove
    display:none;
  }
}
.c-figure__info {
  @include mq($from: tablet) {
    max-width: 60%;
  }
}

.c-figure__byline-licenselist {
  margin: -$spacing--small/2 0 $spacing--small/2;
  text-align: center;
  max-width: 130px;
}

.c-figure__close {
  display: none;
  position: absolute;
  top: $spacing--large*.75;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}

.c-figure__thumb {
  position: relative;
  img {
    position: absolute;
    width: 100%;
  }

}

.c-figure__license {
  font-family: $font;
  @include mq(desktop) {
    width: 80%;
    margin: 0 auto;
    position: absolute;
    bottom: -60px;
    opacity:0;
    transition: all .5s cubic-bezier(0.17, 0.04, 0.03, 0.94);
  }
}

.c-figure__list {
  background: $white;
  list-style: none;
  padding: $spacing--small;
  margin-top: $spacing;
  margin-bottom: 0;
  li {
    list-style: none;
  }
}

.c-figure__img a {
  box-shadow: none;
}

.c-figure__captionbtn {
  min-width: 130px;
  padding-top: $spacing--small/3;
  padding-bottom: $spacing--small/3;
}

.c-figure--active {
  margin-bottom: $spacing--large*2;
  @include font-size(16px);
  position: relative;

  .c-figure__license {
    background-color: $brand-color--lighter;
    padding: $spacing;
    @include mq(desktop) {
      width: 90%;
      margin: 0 auto;
      position: absolute;
      bottom: -60px;
      left:0;
      right: 0;
      transform: translateY(-20px);
      opacity: 1;
    }
  }

  .c-figure__close {
    display: block;
    transform: translateY(-20px);
    opacity: 1;
  }
  #figmeta {
    height: auto;
  }
  .c-figure__img {
    margin: 0;
  }
  .c-figure__list {
    &:before {
      content: 'Slik skal du referere til dette bildet';
      color: $brand-color;
      font-weight: $font-weight-bold;
    }
  }
  .c-figure__byline-licenselist {
    max-width: 100%;
  }
  .c-license-icons__licenselabel {
    padding-left: $spacing--small;
    padding-right: $spacing;
    display: inline-block;
    max-width: 400px;
  }

  .c-licenseToggle__details {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
    &:before {
      content: "Regler for bruk av bildet";
      color: $brand-color;
      font-weight: $font-weight-bold;
      display: block;
    }
  }
}
#figmeta {
height: 0;
overflow: hidden;
}
