/**
** FACTBOX
** Introduction/facts text box for design manual pages
**/

.c-story-intro {
  background: $brand-color--light;
  padding: $spacing--small;
  margin-bottom: $spacing;

  a:not([class]) {
    color: $brand-color;

    a:not([class]) {
      color: $white;
      box-shadow: inset 0 -1px 0 rgba($white, 0.6);
      transition: box-shadow 0.2s ease;
      text-decoration: none;
    }
  }
}
