.c-article, article {
  margin-bottom: $spacing--small;

  h2,h3,h4 {
    margin-bottom: 0;
  }
  h2 a,h3 a,h4 a {
    color: $brand-color;
    font-size: 80%;
  }
  em {
    display:inline-block;
  }
}
.c-article {
  margin-top: $spacing--large;
  margin-bottom: $spacing--large;

  &-content {
    margin-bottom: $spacing--large;
  }

  &__byline {
    margin-top: $spacing;
    margin-bottom: $spacing;
    @include inuit-font-size(14px, 20px);
    letter-spacing: 0.075em;
    color: $brand-grey;
    text-transform: uppercase;

    p {
      margin: 0;
    }
  }

  &__authors {
    padding-right: $spacing;
  }
  &__date {
  }

  &-collapse {
    position: relative;
    min-height: 200px;
    &:after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: -moz-linear-gradient(top,  rgba($brand-color--light,0) 0%, rgba($brand-color--light,0.8) 35%, rgba($brand-color--light,1) 80%); /* FF3.6-15 */
      background: -webkit-linear-gradient(top,  rgba($brand-color--light,0) 0%,rgba($brand-color--light,0.8) 35%,rgba($brand-color--light,1) 80%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(to bottom,  rgba($brand-color--light,0) 0%,rgba($brand-color--light,0.8) 35%,rgba($brand-color--light,1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
    }
    &--open {
      &:after {
        background: none;
        position: relative;
      }
    }
    figure {
      margin-top: $spacing--small;
    }
  }

}
