.c-resources {
  background-color: $white;
  padding-bottom: $spacing--large;
  padding-top: $spacing;
}
.c-resources--transparent {
  background: transparent;
}
.c-resources__title {
  display: block;
  @extend .c-resource-group__title;
}
