.c-breadcrumb {
  @include inuit-font-size(16px);
  display:none;
  color: $brand-grey;
  font-weight: $font-weight-bold;
  margin-top: $spacing--small;

  a:hover {
    color: $brand-color;
  }

  @include mq(tablet) {
    display: flex;
  }
  &__list {
    display: inline;
    padding-left: $spacing--small/2;
    margin-top: -3px;
    margin-bottom: $spacing--small;
    list-style: none;
  }
  &__item {
    color: $brand-grey;
    font-weight: $font-weight-normal;
    padding-left: $spacing--small/2;
    display: inline-block;
    line-height: 2em;
  }
  &__item + &__item:before{
    padding-right: $spacing--small/2;
    content: '›'
  }
  &__active {
    font-weight: $font-weight-bold;
  }
}
