/**
** TOPIC INTRODUCTION
** Topic list with introductions
**/


.c-topic-introduction {
  &__text {
    padding: $spacing 0;
  }

  &__list {
    list-style: none;
    margin: $spacing--small 0 0 0;
    padding: 0;
    // No border on twocolumn items
    &.c-subject-flex__wrapper {
      .c-topic-introduction__item {
        border-bottom: none;
      }
    }
  }

  &__body {
    width: 100%;
  }
  &__item {
    padding-top: $spacing--small;
    padding-bottom: $spacing;
    @include mq(tablet) {
      padding-right: $spacing;
    }
    border-bottom: 2px solid $brand-grey--lighter;
    list-style: none;
    background-color: transparent;
    margin-left: 0;
    @include inuit-font-size(16px, 26px);

    p {
      max-width: $max-text-width;
      margin: 0;
      font-family: $font;
    }
    a {
      color: $brand-color;
    }

    &:last-child {
      border: none;
    }

    &--subjectPage {
      border-bottom: 0;

      @include mq(tablet) {
        padding-right: 0;
      }
    }
  }
  &__header {
    @include inuit-font-size(20px);
    font-weight: $font-weight-normal;
    text-decoration: none;
    color: $brand-color;
    margin-bottom: $spacing--small;
    margin-top: 0;
  }
}
