/**
** LICENSE ICONS
** List for license icons with descriptions
**/

.c-license-icons__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}
.c-license-icons__licenselabel {
  margin-left: $spacing--small/2;
}

.c-license-icons__item {
  display: inline-block;
  padding-bottom: 7px;
  margin-bottom: 0;
  margin-right: 0.2em;

  .c-license-icons--active {
    circle {
      fill: $brand-color;
    }
    path {
      fill: $white;
    }
  }
}

.c-license-icons__icon {
  width: $spacing / 1.1;
  height: $spacing / 1.1;
}
