.c-table {
  position: relative;
  margin: 0 0 $spacing 0;
/*
  &:before {
    content: "";
    position: absolute;
    background: black;
    height: 100%;
    width: 1em;
    top: 0;
    right: 0;
  }*/
  padding: 0;

  overflow-x: auto;
  -webkit-overflow-scrolling: touch;

  // Styling
  td, th {
    padding: $spacing/3;
  }
  th, tbody td:before {
    color: $brand-color;
    border-bottom: 1px solid $brand-color--light;
    font-weight: bold;
    font-size: 90%;
    padding: 4px 10px 4px 4px;
  }
  tr:hover td, tr:active td, tr:focus td {
    background-color: $brand-color--light;
  }


  tr {
    background: white;
    border: 1px solid $brand-color--tertiary;
    padding: 8px;
    margin: 0 0 20px;

  }



    tr, tr:first-child {
      padding: 0;
      border: 0;
      border-bottom: 1px solid $brand-color--light;
      margin: 0;
      display: table-row;
    }
    tr:nth-child(2n) {
      background-color: rgba($brand-color--light, 0.3);
    }
    tr:last-child {
      border: none;
    }
    tbody td {
      display: table-cell;
    }
    tbody td:before {
      display: none;
    }

}
