/**
** FIGURE
** Figure element, displaying images, embeds, videos etc.
** 1. Figure itself
** 2. Figcaption element w/content
** 3. Figure with license-popup activated
**
** PRINCIPLE:
** <figure class="c-figure">
**   <div class="c-figure__img">
**      <img>
**   </div>
**   <figcaption class="c-figure__caption">
**       <div class="c-figure__info">Caption</div>
**       <div class="c-figure__byline">License, CTA</div>
**   </figcaption>
**   <div class="c-figure__license">
**       <button class="c-figure__close">Lukk</button>
**       Licensebox content here (see component.figure-license scss)
**   </div>
** </figure>
**/


/* 1. */
.c-figure {
  img {
    width: 100%;
  }
}
.c-figure {
  margin: $spacing--large/1.4 0 $spacing--large;
  @include mq($from: desktop) {
    @include grids-expand(4,6,2);
  }
}

/* 2. */
.c-figure__caption {
  background-color: $brand-grey--lightest;
  padding-top: $spacing--small;
  display: flex;
  flex-direction: column-reverse;
  position: relative;
}
.c-figure__captionbtn {
  padding-left: $spacing--small;
  text-decoration: underline;
  background: none;
  border: none;
  cursor: pointer;
  color: $brand-color;
  min-width: 90px;
}
.c-figure__licensetag {
  display: none;
}
.c-figure__byline {
  padding-right: $spacing;
  margin-bottom: $spacing--small/2;
  text-align: left;
  display: flex;
  align-items: center;

  .c-license-icons__list {
    flex-direction: row;
    text-align: center;
    justify-content:center;
  }

  .c-figure__captionbtn {
    svg {
      display:none;
    }
  }

  .c-license-icons__licenselabel { // remove license descriptions
    display: none;
  }
}
.c-figure__info {
  max-width: 650px;
  margin-bottom: $spacing--small;
  @include inuit-font-size(14px, 22px);
  @include mq($from: tablet) {
    flex: 2;
    margin-bottom: 0;
  }
}
.c-figure__list {
  background: $white;
  list-style: none;
  padding: 0 $spacing--small $spacing--small $spacing--small;
  margin-top: 0;
  margin-bottom: 0;
  li {
    list-style: none;
  }
}
.c-figure-list__item {
  margin-bottom: 0;
}


/* 3. */
.c-figure--active {
  margin-bottom: $spacing--large*2;
  @include font-size(16px);
  position: relative;

  .c-figure__license {
    background-color: $brand-color--lighter;
    box-shadow: 0 0 30px rgba($black, .2);
    padding: $spacing;
    z-index: 10;
    @include mq(tablet) {
      width: 90%;
      margin: 0 auto;
      position: absolute;
      bottom: -60px;
      left:0;
      right: 0;
      opacity: 1;
      animation-name: fadeInBottom;
      animation-duration: .5s;
    }
  }

  .c-figure__close {
    display: block;
    position: absolute;
    top: $spacing*.9;
    right: $spacing;
    background: transparent;
    border: none;
    color: $brand-color;
    @include font-size(20px);
    font-weight: $font-weight-normal;
    text-decoration: underline;
    z-index: 9;
    cursor: pointer;
  }
  #figmeta {
    height: auto;
  }
  .c-figure__img {
    margin: 0;
  }
  .c-figure__byline-licenselist {
    max-width: 100%;
  }
  .c-license-icons__licenselabel {
    padding-right: $spacing;
    display: inline;
    max-width: 400px;
  }

  .c-licenseToggle__details {
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 100%;
  }
}
#figmeta {
  height: 0;
  overflow: hidden;
}
