
.c-topic-introduction {
  &__text {
    padding: $spacing 0;
  }
  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  &__body {
    width: 100%;
  }
  &__item {
    padding-top: $spacing--small;
    padding-bottom: $spacing--small;
    padding-right: $spacing;
    border-bottom: 3px solid $brand-grey--lighter;
    background-color: transparent;
    margin-left: 0;
    @include inuit-font-size(16px, 26px);

    p {
      max-width: $max-text-width;
      padding-right: $spacing;
    }
    a {
      color: $brand-color;
      box-shadow: none;
    }
  }
  &__header {
    @include inuit-font-size(22px);
    color: $brand-color;
    margin-bottom: $spacing--small;
    margin-top: $spacing--small;
  }
}
