.c-filter {
  align-items: center;
  flex-grow: 2;
}
.c-filter__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  @include mq(desktop) {
    display: inline-block;
  }
}
.c-filter__label {
  text-transform: uppercase;
  margin: 0 $spacing--small;
  display: inline-block;
  @include inuit-font-size(16px);
}
.c-filter__item {
  display: inline-block;
  color: $brand-color;
  margin: 0 $spacing--small 0 2px;
  border-radius: $border-radius;
  transition: $transition;
  cursor: pointer;
  @include inuit-font-size(16px);

  span {
    content:'';
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    padding: 0;
    border: 2px solid $brand-grey--light;
    margin: -2px 3px;
    transition: border .2s, background-color 150ms 200ms, transform 350ms cubic-bezier(.78,-1.22,.17,1.89);

    &:before {
      content: "";
      width: 0px;
      height: 2px;
      border-radius: 2px;
      background: $brand-color;
      position: absolute;
      transform: rotate(45deg);
      top: 4px;
      left: 3px;
      transition: width 50ms ease 50ms;
      transform-origin: 0% 0%;
    }

    &:after {
      content: "";
      width: 0;
      height: 2px;
      border-radius: 2px;
      background: $brand-color;
      position: absolute;
      transform: rotate(305deg);
      top: 7px;
      left: 4px;
      transition: width 50ms ease;
      transform-origin: 0% 0%;
    }
  }
  &:hover {
    span {
      border: 2px solid $brand-color--light;
      &:before {
        width: 5px;
        transition: width 100ms ease;
      }

      &:after {
        width: 10px;
        transition: width 150ms ease 100ms;
      }
    }
  }
}
.c-filter__item--active span {
  border: 2px solid $brand-color;
  background: $brand-color;
  &:before {
    background: white;
    width: 5px;
  }
  &:after {
    background: white;
    width: 10px;
  }
}
