.c-glossary-word__item {
  display: inline;
}
.c-glossary-word__link {
  text-decoration: none;
  color: $brand-color;
  border-bottom: 1px solid $brand-color;
  transition: border .2s ease-out;
  position: relative;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    margin: auto;
    margin-top: $spacing+2px;
    left: 0;
    right: 0;
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid $brand-color;
    transition: border .2s ease-out;
  }
  &:hover {
    border-bottom: 1px solid $brand-color;
    &:after {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid $brand-color;
    }
  }
}
.c-glossary-word__popup {
  position: absolute;
  width: 87%;
  @include mq(desktop) {
    width: 100%;
  }
  box-shadow: 0 0 30px rgba($black, .3);
  box-sizing: border-box;
  z-index: 1;
  background: $white;
  padding: $spacing;
  animation-name: fadeInTop;
  animation-duration: .4s;
}
.c-glossary-word__title {
  margin-top: 0;
  border-bottom: 2px solid $brand-color;
}
.c-glossary-word__footer {
  padding-top: $spacing--small;
  @include inuit-font-size(15px);
  color: $brand-grey;
}
.c-glossary-word__close {
  @extend .c-figure__close;
  display: inline-block;
}
