.c-footnotes {
  display: block;
  margin-top: $spacing--large;
  padding-top: $spacing;
  border-top: 2px solid $brand-grey--lighter;
  color: gray;
  @include inuit-font-size(15px);
}
.c-footnotes__item, .c-footnote__item { // Please fix bad markup - use "footnotes" in plural!
  margin-bottom: $spacing--small;
  &:before {
    display: none;
  }
}
