/**
** BODYBOX
** Used on any div.
**
** EXAMPLE: 
** <LayoutItem layout="left">
**  <div className="c-bodybox">En tekstboks som flyter til venstre.</div>
** </LayoutItem>
**
** Attribute modifier used to display info on author etc. in license view
**/


.c-bodybox {
  padding: $spacing * 1.5;
  margin-bottom: $spacing;
  border-style: solid;
  border-color: $brand-color--tertiary;
  border-width: 1px;
}
.c-bodybox--attribute {
  padding: $spacing--small $spacing;
  display: inline-block;
  clear:both;
  font-style: italic;
}
.c-bodybox ul, .c-bodybox ol {
  margin-left: $spacing;
}
