.c-resources {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;

  background-color: $white;
  padding-bottom: $spacing--large;
  padding-top: $spacing;

  &--transparent {
    background: transparent;
  }

  &__title {
    @extend .c-resource-group__title;
  }
}
