.c-figure__license {
  position: relative;
}
.c-figure-license__cta-block {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: flex-end;

  @include mq(tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
.c-figure-license__button {
  margin-bottom: $spacing--small;
}
.c-figure-license__close {
  position: absolute;
  top: $spacing;
  right: $spacing;
  background: transparent;
  border: none;
  color: $brand-color;
  @include font-size(20px);
  font-weight: $font-weight-normal;
  z-index: 9;
  cursor: pointer;
}
.c-figure-license__cta-wrapper {
  background-color: $white;
  padding: $spacing;
  margin-top: $spacing;
}
.c-licenseToggle__button {
  margin: $spacing--small/3 0;
}
.c-figure-license__title {
  margin:0 0 $spacing--small;
  @include inuit-font-size(18px);
  color: $brand-color;
}
