/**
** FACTBOX
** Introduction/facts text box for design manual pages
**/


.c-factbox {
  background: $brand-color--light;
  padding: $spacing--small;
  margin-bottom: $spacing;

  @include mq(tablet) {
    padding: $spacing * 1.5;
  }

  @include mq(desktop) {
     margin: 0  calc(-50vw / 2) $spacing;
     padding: $spacing calc(50vw/2);
  }
  a:not([class]) {
    color: $brand-color;

    a:not([class]) {
      color: $white;
      box-shadow: inset 0 -1px 0 rgba($white, 0.6);
      transition: box-shadow 0.2s ease;
      text-decoration: none;
    }
  }
}
