.c-resources-menu {
  list-style: none;
  margin-top: $spacing;
  margin-left: 0;
  margin-bottom: 0;
  padding: 0;
  @include inuit-font-size(15px);
  @include mq($from: desktop) {
    position: absolute;
    margin-top: 1%;
    margin-left: -190px;
    @include inuit-font-size(18px);
  }
  &__item {
    display: inline-block;
    margin-right: $spacing;
    @include mq($from: desktop) {
      display: block;
    }
    a {
      display: inline-block;
      margin-bottom: $spacing;
      padding-bottom: 3px;
      font-weight: $font-weight-bold;
      color: $brand-color;
      text-decoration: none;

      &:after {
        content: '';
        display: inline-block;
        background-color: $brand-color;
        width: 12px;
        height: 12px;
        margin-left: $spacing--small;
        border-radius: 4px;
        transition: $transition;
      }
    }
    &:nth-child(1) {
      a:after {
        background-color: $mark-color;
      }
    }
    &:last-child {
      a:after {
        background-color: $green;
      }
    }
    a:hover {
      box-shadow: inset 0 -4px 0 $brand-color;
      &:after {
        transform: scale(1.2);
      }
    }

    &--active {
      box-shadow: inset 0 -4px 0 $brand-color;
    }
  }

}
