.c-topic-resource {

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    @include mq($from: tablet) {
      flex-direction: row;
    }
  }
  &__body {
    text-align: left;
      display: flex;
      justify-content: center;
      flex-direction: column;
      vertical-align: middle;
  }
  &__item {
    max-width: 100%;
    display: flex;
    padding-top: $spacing;
    padding-bottom: $spacing;
    padding-right: $spacing;
    h1 a {
      color: $brand-color;
      box-shadow: none;
    }
  }
  &__icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    text-align: center;
    box-sizing: border-box;
    padding: $spacing--small;
    background-color: $brand-color--light;
    border-radius: $border-radius--large;
    margin-right: $spacing--small*1.5;
    svg {
      fill: $brand-color;
      width: 30px;
      height: 30px;
    }
  }
  &__title {
    @include inuit-font-size(22px);
    margin:0;
  }
  &__author {
    display: inline-block;
    color: $brand-grey;
    float:right;
    margin-top: $spacing--small;
  }
}
