/* ==========================================================================
   #TABLES
   ========================================================================== */

/**
 * 1. Ensure tables fill up as much space as possible.
 */
table {
  display: block;
  border-collapse: collapse;
  text-align: left;
  overflow-x: auto;
}

/* Responsive
==================================== */
@include mq(tablet) {
  table {
    display: table;
    overflow-x: hidden;
  }
}
