$spacing: $inuit-global-spacing-unit;
$spacing--small: $inuit-global-spacing-unit/2;
$spacing--medium: $inuit-global-spacing-unit * 1.25;
$spacing--large: $inuit-global-spacing-unit * 2;

:root {
  --spacing: #{$spacing};
  --spacing--small: #{$spacing--small};
  --spacing--medium: #{$spacing--medium};
  --spacing--large: #{$spacing--large};
}

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}
