$spacing: $inuit-global-spacing-unit;
$spacing--nsmall: $inuit-global-spacing-unit/1.5;
$spacing--small: $inuit-global-spacing-unit/2;
$spacing--medium: $inuit-global-spacing-unit * 1.25;
$spacing--large: $inuit-global-spacing-unit * 2;

:root {
  --spacing: #{$spacing};
  --spacing--nsmall: #{$spacing--nsmall};
  --spacing--small: #{$spacing--small};
  --spacing--medium: #{$spacing--medium};
  --spacing--large: #{$spacing--large};
}

@mixin font-size($font-size, $line-height, $modifier: 0, $important: false) {
  @include inuit-font-size($font-size, $line-height, $modifier, $important);
  @include chinese() {
    @include inuit-font-size(calc($font-size * 1.11), calc($line-height * 1.11), $modifier, true);
  }
}
