/**
** TOPIC MENU (MAIN MENU)
** 1. Main menu button
** 2. Container div (w/active toggle class)
** 3. Active menu layout
** 4. Active menu content
** 5. Masthead when menu is active
**/

/* 1. */

$padding-left-narrow: 47px;

.c-topic-menu-toggle-button {
  position: relative;
  background: transparent;
  padding: $spacing--small;
  padding-right: $spacing;
  padding-left: $spacing*2;
  font-weight: $font-weight-normal;
  color: $brand-color;
  border: 3px solid $brand-color;

  &:before {
    content: '';
    width: 16px;
    height: 16px;
    position: absolute;
    top: $spacing--small*1.3;
    left: $spacing--small*2;
    @include svg_icon('menu', $brand-color);
  }
  &:hover {
    border: 3px solid transparent;
    background: $brand-color;
    color: $white;
    &:before {
      @include svg_icon('menu', $white);
    }
  }
  &:active,
  &:focus {
    border: 3px solid $brand-color--lighter;
    background: $white;
    color: $brand-color;
    &:hover:before {
      @include svg_icon('menu', $brand-color);
    }
  }
}

/* 2. */
.c-topic-menu-container {
  @include mq(desktop) {
    display: inline-block;
  }
}
.c-topic-menu-container .active {
  background: transparent;
  border: 3px solid transparent;
  box-shadow: none;
  color: $brand-color;
  &:hover,
  &:focus {
    color: $brand-color;
    box-shadow: $link--hover;
    &:before {
      @include svg_icon('close', $brand-color);
    }
  }
  &:before {
    @include svg_icon('close', $brand-color);
    width: 32px;
    height: 32px;
    top: 12px;
    left: 7px;
  }
}

/* 3. */
.c-topic-menu__dropdown {
  position: fixed;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0;
  min-height: 250px;
  text-align: left;
  z-index: 40;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 10px 20px rgba($black, 0.4);
  text-transform: none;
  animation-name: fadeIn;
  animation-duration: 0.4s;
  @include mq(desktop) {
    display: flex;
  }

  overflow: auto;
}

.c-topic-menu__content {
  width: 100%;
  background: $brand-grey--lighter;
  position: relative;
  display: flex;
  flex-flow: column;

  padding: $masthead-height 0 0 0;
  min-height: 100%;

  @include mq(desktop) {
    min-height: auto;
    margin-top: $masthead-height;
    padding: 0 0 $spacing--large 0;
    overflow: auto;
  }
}

.c-topic-menu__subject-navigation {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-flow: column;

  @include mq(desktop) {
    padding-bottom: $spacing--large;
    min-height: 500px;
    flex-flow: row;
  }
}

.c-topic-menu__list {
  padding: 0;
  margin: 0;
  list-style: none;
  overflow-y: auto;
  @include fadeInLeftItems(li, 30);
}

.c-topic-menu__section {
  flex-grow: 1;
  flex-shrink: 0;
  z-index: 30;
  animation-name: fadeInLeft;
  animation-duration: 0.2s;
  padding: 0 $spacing $spacing--large $padding-left-narrow;
  position: relative;
  z-index: 1;

  @include mq(desktop) {
    margin-top: $spacing;
    padding: 0 $spacing 0 ($spacing--medium - $spacing--small);
    border-left: 1px solid $brand-color--light;
    width: 25%;
    flex-grow: 0;
  }

  &--main {
    border-left: 0;
    .c-topic-menu__link--big {
      @include mq($until: desktop) {
        display: none;
      }
    }
  }

  &--sub-topic {
    @include mq($until: desktop) {
      background: $brand-color--light;
      padding-top: $spacing--large + $spacing;

      .c-topic-menu__link--big {
        margin-bottom: 0;
        .c-topic-menu__link-label,
        .c-topic-menu__arrow {
          display: none;
        }
      }
    }
  }
}

.c-topic-menu__content-type-results {
  margin-top: $spacing;
  padding-left: $spacing--small;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;

  @include mq(wide) {
    background: transparent;
    min-height: 500px;
  }

  & > h1 {
    @include font-size(16px, 20px);
    margin-bottom: $spacing;
    margin-top: $spacing--large;
    text-transform: uppercase;

    @include mq(wide) {
      margin-top: 0;
      min-height: 30px;
      @include font-size(16px, 52px);
    }
  }
}

/* 4. */
.c-topic-menu__subject {
  flex-shrink: 0;
  margin-top: 0;
  margin-bottom: $spacing;
  padding: 0 $spacing 0 ($padding-left-narrow + $spacing--small);

  @include mq(desktop) {
    margin-bottom: $spacing--small;
    padding-left: $spacing--medium;
  }

  a {
    @include mq(desktop) {
      box-shadow: none;
    }
  }

  &__header {
    padding-right: $spacing--large;
    border-bottom: 1px solid rgba($brand-color, 0.3);
    margin: 0 0 $spacing 0;
    position: relative;

    & > h1 {
      @include inuit-font-size(20px);
      font-weight: $font-weight-bold;
    margin: 0;

      @include mq(desktop) {
        padding-bottom: $spacing--small;
        @include inuit-font-size(26px);
      }
    }
  }

  &__competence {
    display: block;
    position: absolute;
    z-index: 5;
    left: $spacing--medium;
    right: $spacing;
    height: 70vh;
  }

  .c-course-objectives__button {
    position: absolute;
    top: 10px;
    right: 0;
    @include inuit-font-size(14px, 18px);
    font-weight: $font-weight-bold;
    color: $brand-color;
    background: transparent;
    border: none;
    &:hover {
      cursor: pointer;
    }
  }

  &--hasFilter {
    & > h1 {
      margin: 0 0 $spacing--medium 0;

      @include mq(desktop) {
        margin: 0 0 $spacing 0;
      }
    }
  }

  .c-filter {
    position: relative;
    &__list {
      padding-top: 0;
      border-top: 0;
    }

    &__label {
      margin-left: 0;
      font-weight: 600;
      @include mq($until: desktop) {
        @include visually-hidden();
      }
    }
  }
}

.c-topic-menu__back-button {
  display: flex;
  align-items: center;
  border: 0;
  padding: 0;
  color: $brand-color;
  background: none;
  @include font-size(16px, 20px);
  position: absolute;
  left: 28px;
  top: $spacing;

  @include mq(desktop) {
    display: none;
  }

  .c-icon {
    width: 24px;
    height: 24px;
    margin-right: 9px;
  }
}

.c-topic-menu__close-button {
  color: $brand-color;
  background: none;
  border: 0;
  display: flex;
  align-items: center;
  padding: $spacing--small;
  cursor: pointer;

  .c-icon {
    height: 24px;
    width: 24px;
    margin-right: $spacing--small;
  }
}

.c-topic-menu__home {
  border-right: 1px solid rgba($brand-color, 0.3);
  padding-right: $spacing--small/1.5;
  margin-right: $spacing--small/1.5;
  width: 30px;
  height: 30px;
  color: $brand-color;
  transition: width 0.2s ease-out;
  &:after {
    display: inline-block;
    transition: width 0.2s ease-out;
  }

  &:hover {
    width: auto;
    &:after {
      transition: all 0.1s ease-in-out;
      animation-name: fadeInLeft;
      animation-duration: 0.5s;
      content: 'Hjem';
      display: inline-block;
      color: $brand-color;
      @include inuit-font-size(15px, 15px);
      padding-left: $spacing--small/2;
      padding-right: $spacing--small/2;
    }
  }
}
.c-topic-menu__home-icon {
  margin-top: -5px;
  margin-right: $spacing--small/2;
}

.c-topic-menu__back {
  margin-top: $spacing--medium;
  margin-bottom: $spacing--medium;
  padding: 0 $spacing 0 ($padding-left-narrow + $spacing--small);

  @include inuit-font-size(18px, 23px);
  display: block;
  color: $brand-color;

  @include mq(desktop) {
    margin-left: $spacing--medium;
    padding: $spacing--small 0;
  }
}

.c-topic-menu__back-link {
  box-shadow: none;
  color: $brand-color;
  &:hover {
    box-shadow: $link;
  }
}

.c-topic-menu__link {
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  cursor: pointer;
  height: 52px;
  line-height: 24px;
  padding: 0 $spacing--small;

  transition: all 0.1s ease-in-out;
  animation-name: fadeInLeft;
  animation-duration: 0.5s;

  &:hover,
  &:active,
  &:focus {
    background-color: $brand-color--light;

    span {
      box-shadow: $link--hover;
    }
  }

  &--big {
    margin-bottom: $spacing--medium;
    box-shadow: none;

    &:hover {
      text-decoration: none;
    }

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;

      .c-topic-menu__link-target {
        box-shadow: $link;
      }
    }

    @include mq(desktop) {
      line-height: 30px;
      height: 30px;
    }
  }

  background: none;
  border: 0;
  color: $brand-color;
}

.c-topic-menu__link-label {
  color: $black;
  text-decoration: none;
  padding-right: $spacing--small;
  display: inline;
  font-weight: 400;
}

.c-topic-menu__link-target {
  box-shadow: $link;
  font-weight: 600;

  &:hover {
    text-decoration: none;
  }
}

.c-topic-menu__topic-item,
.c-topic-menu__subtopic-item {
  margin-bottom: $spacing--small/3;

  &--active {
    & > .c-topic-menu__link {
      background-color: $brand-color--light;
    }
  }
}

.c-topic-menu__subtopic-item {
  a {
    font-weight: 400;
    box-shadow: none;
  }
}

/* 5. */
.c-topic-menu__masthead {
  width: 100%;
  background: $white;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $masthead-height;
  padding: 0 $spacing--small;
  position: fixed;
  top: 0;
  left: 0;

  @include mq(desktop) {
    position: absolute;
    padding: 0 $spacing--large;
  }

  .c-toggle-search-button__button {
    @include mq(desktop) {
      margin-right: $spacing--medium;
    }
  }

  .c-logo {
    display: none;
    @include mq(desktop) {
      display: block;
    }
  }

  &-left,
  &-right {
    display: flex;
    align-items: center;
  }

  &-right {
    justify-content: flex-end;
  }
}
.c-topic-menu__search {
  display: none;
  @include mq(desktop) {
    display: inline-block;
  }
  width: 200px;
  text-align: center;
  color: $brand-color;
  padding: 0 $spacing--large;
  padding-top: 2px;
  cursor: pointer;
  flex-grow: 0;
  @include inuit-font-size(16px);
}
.c-topic-menu__search-icon {
  width: 30px;
  height: 30px;
  display: inline-block;
  svg {
    width: 24px;
    height: 24px;
  }
}
.c-topic-menu__right-filler {
  @include mq(desktop) {
    width: 200px;
    height: 100px;
    align-self: flex-end;
    flex-grow: 2;
  }
}
