.c-frontpage-info {
  margin-top: $spacing--large + $spacing;
  display: flex;

  & > * {
    flex-basis: 33.3333333%;
    flex-grow: 0;
    margin-right: $spacing;

    &:last-child {
      margin-right: 0;
    }
  }
}
