
.c-dialog {
  .o-backdrop {
    display: none;
    z-index: 999;
  }
}

.c-dialog--active {
  .o-backdrop {
    display: block;
    animation-name: fadeIn;
    animation-duration: 0.8s;
  }
}

.c-dialog__content {
  overflow: hidden;
  height: 0;
  visibility: hidden;
}

.c-dialog--active {
  .c-dialog__content {
    position: fixed;
    background-color: $brand-color--lighter;
    box-shadow: 0 0 30px rgba($black, 0.2);
    padding: $spacing;
    z-index: 1000;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    animation-name: zoomIn;
    animation-duration: 0.3s;
    overflow: auto;

    @include mq(tablet) {
      width: 90%;
      margin: 0 auto;
      top: 50%;
      transform: translateY(-50%);
      max-width: 500px;
      left: 0;
      right: 0;
      bottom: auto;
      opacity: 1;
      animation-name: fadeInBottom;
    }
    height: auto;
    visibility: visible;
  }
  
  .c-dialog--fullscreen {
  }
  
  .c-dialog__content--fullscreen {
    @include mq(tablet) {
      max-height: 100vh;  
      max-width: 100%;
      
      .c-figure-license__img {
        max-height: 85vh;
        width: auto;
        margin: auto;
      }
    }
  }

  .c-dialog__close {
    display: block;
    position: absolute;
    top: $spacing*0.9;
    right: $spacing;
    background: transparent;
    border: none;
    color: $brand-color;
    @include font-size(20px);
    font-weight: $font-weight-normal;
    text-decoration: underline;
    z-index: 9;
    cursor: pointer;
  }
}