name: CI
on: [push, pull_request]
env:
  CI_RELEASE_ROLE: ${{ secrets.CI_RELEASE_ROLE }}
  DOCKER_HUB_PASSWORD: ${{ secrets.DOCKER_HUB_PASSWORD }}
  DOCKER_HUB_USERNAME: ${{ secrets.DOCKER_HUB_USERNAME }}
  NDLA_RELEASES: ${{ secrets.NDLA_RELEASES }}
  GH_TOKEN: ${{ secrets.CI_NOW_GH_TOKEN }}
  VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
  GH_PR_NUMBER: ${{ github.event.number }}
  GH_PR_REPO: ${{ github.event.pull_request.head.repo.full_name }}
  GH_PR_SHA: ${{ github.event.pull_request.head.sha }}
jobs:
  unit_tests:
    name: "Unit tests"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: "24.11.1"
      - name: "Enable yarn v4"
        run: |
          corepack enable
          yarn set version 4.9.2
      - uses: actions/cache@v3
        with:
          path: |
            **/node_modules
            .eslintcache
            .yarn/cache
            ~/.npm
          key: ${{ runner.os }}-modules-${{ hashFiles('**/yarn.lock') }}
      - name: "Install"
        run: yarn install --immutable
      - name: "Check dependency versions using 'syncpack lint'"
        run: yarn syncpack lint
      - name: "Bootstrap"
        run: yarn bootstrap:ci
      - name: "Check-all"
        run: yarn check-all
      - name: "Deploy to vercel"
        continue-on-error: true
        if: (github.event_name == 'pull_request' && github.event.pull_request.head.repo.fork == false) || (github.event_name == 'push' && github.ref == 'refs/heads/master')
        uses: ndlano/reusable-workflows/.github/actions/vercel-deploy@main
        with:
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          MASTER_ALIAS: "designmanual.ndla.no"
          REPO_NAME: "frontend-packages"
