.c-related-articles {
  text-align: center;

  &:before {
    content: '';
    display: table;
    clear: both;
  }

  &__component-title {
    margin: $spacing--large 0 $spacing;
    @include inuit-font-size(18px);
    padding-bottom: 5px;
    // border-bottom: 2px solid $brand-grey--light;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    text-align: left;
  }

  &__articles {
    text-align: left;
    @include mq(tablet) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    border-left: 6px solid rgba($brand-grey--light, 0.4);
    padding-left: $spacing;
    padding-right: $spacing;
    margin: 0 0 $spacing--large 0;
    flex-basis: 50%;
    flex-grow: 0;
    max-width: 600px;

    &--subject-material {
      border-left: 6px solid $subject-material-light;
    }

    &--tasks-and-activities {
      border-left: 6px solid $tasks-and-activities-background;
    }

    &--assessment-resources {
      border-left: 6px solid $assessment-resource-background;
    }

    &--external-learning-resources {
      border-left: 6px solid $external-learning-resource-background;
    }

    &--source-material {
      border-left: 6px solid $source-material-light;
    }

    &--learning-path {
      border-left: 6px solid $learning-path-background;
    }

    &--hidden {
      display: none;
    }

    &--shown {
      display: block;
    }
  }

  &__title {
    @include inuit-font-size(18px);
    margin: 0 0 $spacing--small 0;
    font-weight: $font-weight-semibold;
    display: flex;

    .c-content-type-badge {
      flex-shrink: 0;
      margin-top: 1px;
    }
  }

  &__description {
    @include inuit-font-size(16px);
    margin: 0;
    font-family: $font;
  }

  &__link {
    color: $brand-color;
  }

  &__link-wrapper {
    margin-left: $spacing--small;
  }
}
